In [1]:
# importamos la pandas para poder trabajar en la lecci贸n
import pandas as pd

**Dataframe a partir de un diccionario de listas**

In [2]:
# definimos un diccionario que luego convertiremos a DataFrame. Recordemos que esta era la forma que utilizamos en las lecciones del m贸dulo 2 de web scraping
data_diccionario = {
    'Nombre': ['Ana', 'Juan', 'Mar铆a', 'Pedro'],
    'Edad': [25, 30, 28, 35],
    'Ciudad': ['Madrid', 'Barcelona', 'Valencia', 'Sevilla']
}

# convertimos el diccionario en DataFrame usando el m茅todo 'pd.DataFrame'
df_diccionario = pd.DataFrame(data_diccionario)

# mostramos el DataFrame. Recordad que para ver las 5 primeras filas usaremos el m茅todo '.head()' 
df_diccionario.head()

  Nombre  Edad     Ciudad
0    Ana    25     Madrid
1   Juan    30  Barcelona
2  Mar铆a    28   Valencia
3  Pedro    35    Sevilla

**Dataframe a partir de una lista de diccionarios**

In [3]:
# definimos una lista de diccionarios que luego usaremos para convertir en DataFrame
data_lista = [
    {'Nombre': 'Ana', 'Edad': 25, 'Ciudad': 'Madrid'},
    {'Nombre': 'Juan', 'Edad': 30, 'Ciudad': 'Barcelona'},
    {'Nombre': 'Mar铆a', 'Edad': 28, 'Ciudad': 'Valencia'},
    {'Nombre': 'Pedro', 'Edad': 35, 'Ciudad': 'Sevilla'}
]

# usamos el m茅todo 'pd.DataFrame' para convertir la lista de diccionarios a DataFrame
df_lista = pd.DataFrame(data_lista)

# mostramos el DataFrame, en este caso usaremos el m茅todo '.tail()' para mostrar las 煤ltimas 5 filas. 
df_lista.tail()

  Nombre  Edad     Ciudad
0    Ana    25     Madrid
1   Juan    30  Barcelona
2  Mar铆a    28   Valencia
3  Pedro    35    Sevilla

## Apertura de ficheros en Pandas

En Pandas hay varios m茅todos disponibles para abrir distintos tipos de archivos. Algunos de los m茅todos m谩s comunes para leer diferentes tipos de archivos en Pandas son los siguientes::

1. `pd.read_csv`.

2. `pd.read_excel`

3. `pd.read_json`

4. `pd.read_pickle`

## `pd.read_csv()`

In [4]:
df_jobs = pd.read_csv("files/jobs.csv")
df_jobs.head(1)

,id,title,country,location,company,date,description,company_link,experience,keywords
0,1,Frontend Developer,mexico,"Hacienda San Pablo, M茅xico, Mexico",Vox Feed,2019-08-18,Passion for building interfaces that bring the...,NaN,2,web developer

Como la propia definici贸n indica, nuestras columnas deben ir separadas por comas. A veces, puede ocurrir que no vengan separados por comas. Como en el ejemplo que vemos a continuaci贸n:

In [5]:
df_aire = pd.read_csv("files/aire.csv")
df_aire.head(1)

  provincia;municipio;estacion;magnitud;punto_muestreo;ano;mes;dia;h01;v01;h02;v02;h03;v03;h04;v04;h05;v05;h06;v06;h07;v07;h08;v08;h09;v09;h10;v10;h11;v11;h12;v12;h13;v13;h14;v14;h15;v15;h16;v16;h17;v17;h18;v18;h19;v19;h20;v20;h21;v21;h22;v22;h23;v23;h24;v24
0  28;102;1;1;28102001_1_38;2022;1;30;3;T;3;T;3;T...

Oh oh... Algo ha salido mal... Si nos fijamos nuestras columnas est谩n separadas por `;`. 驴C贸mo podemos solucionar esto? 

> Usando el par谩metro `sep` de `pd.read_csv` donde tendremos que especificar por qu茅 est谩n separadas mis columnas.

In [6]:
df_aire = pd.read_csv("files/aire.csv", sep = ";")
df_aire.head(1)

,provincia,municipio,estacion,magnitud,punto_muestreo,ano,mes,dia,h01,v01,...,h20,v20,h21,v21,h22,v22,h23,v23,h24,v24
0,28,102,1,1,28102001_1_38,2022,1,30,3.0,T,...,NaN,N,NaN,N,NaN,N,NaN,N,NaN,N

## `pd.read_excel()`

In [7]:
df_xlsx = pd.read_excel("files/espacios_protegidos.xlsx", sheet_name=0)
df_xlsx.head()

,espacio_prot_categoria,espacio_prot_figura,espacio_prot_nombre,espacio_prot_superficie_ha,espacio_prot_fecha_declaracion,espacio_prot_normativa,espacio_prot_informacion_web
0,reas protegidas por instrumentos internacionales,Reserva de la Biosfera,"Cuencas Altas de los r铆os Manzanares, Lozoya y...",105655.000,1992-11-09,Normativa reas protegidas por instrumentos in...,Reserva de la Biosfera Cuencas Altas de los r铆...
1,reas protegidas por instrumentos internacionales,Reserva de la Biosfera,Sierra del Rinc贸n,15231.000,2005-06-29,Normativa reas protegidas por instrumentos in...,Reserva de la Biosfera Sierra del Rinc贸n
2,reas protegidas por instrumentos internacionales,Humedal de Importancia Internacional (RAMSAR),Humedales del Macizo de Pe帽alara,487.198,2005-12-16,Normativa reas protegidas por instrumentos in...,Humedales Ramsar
3,Espacios Protegidos Red Natura 2000,Zona de Especial Protecci贸n para las Aves,Monte de El Pardo,15298.670,1988-02-01,Normativa Espacios Protegidos Red Natura 2000,Espacios protegidos Red Natura 2000
4,Espacios Protegidos Red Natura 2000,Zona de Especial Protecci贸n para las Aves,Soto de Vi帽uelas,3071.890,1988-02-01,Normativa Espacios Protegidos Red Natura 2000,Espacios protegidos Red Natura 2000

ㄢ锔 **NOTA** Puede que al ejecutar este l铆nea de c贸digo os salga el siguiente error: 

![error](https://github.com/Adalab/data_imagenes/blob/main/Pandas/error_excel.png?raw=true)

**DON'T PANIC!!!** Lo 煤nico que tendre铆s que hacer es importaros `openpyxl`. 驴C贸mo? 

- Nos vamos a la terminal y ejecutamos el siguiente c贸digo: 

```
pip3 install openpyxl
```

o 

```
pip install openpyxl
```

## `pd.read_json()`

In [8]:
df_residuos = pd.read_json("files/residuos.json")
df_residuos.head()

                                                data
0  {'residuos_pelig_cantidad_ton': 23476.42, 'res...
1  {'residuos_pelig_cantidad_ton': 1927.25, 'resi...
2  {'residuos_pelig_cantidad_ton': 25333.54, 'res...
3  {'residuos_pelig_cantidad_ton': 22060.07, 'res...
4  {'residuos_pelig_cantidad_ton': 13109.74, 'res...

In [9]:
# esto nos devuelve un DataFrame que esta lleno de diccionarios!
# sin embargo, lo podemos convertir f谩cilmente a algo m谩s legible usando la siguiente sintaxis
# este c贸digo no es necesario que lo entendamos ahora, m谩s adelante seg煤n avancen las lecciones lo iremos entendiendo mejor!

df_residuos2 = df_residuos['data'].apply(pd.Series)
df_residuos2.head()

,residuos_pelig_cantidad_ton,residuos_pelig_a帽o,residuos_pelig_opcion_gestion,residuos_pelig_tratamiento
0,23476.42,2012,Reciclado,Recuperaci贸n de disolventes
1,1927.25,2012,Reciclado,Recuperaci贸n de metales
2,25333.54,2012,Reciclado,Regeneraci贸n de aceite
3,22060.07,2012,Tratamiento previo a otras formas de valorizaci贸n,Trituraci贸n previa a valorizaci贸n de bater铆as
4,13109.74,2012,Tratamiento previo a otras formas de valorizaci贸n,Operaciones previas a valorizaci贸n de RAEE

## `pd.read_pickle`

In [10]:
df_pkl = pd.read_pickle("files/paises_capitales.pkl")
df_pkl

{'Colombia': 'Bogot谩', 'Ecuador': 'Quito', 'Argentina': 'Buenos'}