ROTACION:

In [2]:
import pandas as pd
import numpy as np

In [3]:
df_original = pd.read_csv("data.csv", index_col=0)

In [16]:
df_original.columns

Index(['age', 'attrition', 'businesstravel', 'dailyrate', 'department',
       'distancefromhome', 'education', 'educationfield', 'employeecount',
       'employeenumber', 'environmentsatisfaction', 'gender', 'hourlyrate',
       'jobinvolvement', 'joblevel', 'jobrole', 'jobsatisfaction',
       'maritalstatus', 'monthlyincome', 'monthlyrate', 'numcompaniesworked',
       'over18', 'overtime', 'percentsalaryhike', 'performancerating',
       'relationshipsatisfaction', 'standardhours', 'stockoptionlevel',
       'totalworkingyears', 'trainingtimeslastyear', 'worklifebalance',
       'yearsatcompany', 'yearsincurrentrole', 'yearssincelastpromotion',
       'yearswithcurrmanager', 'sameasmonthlyincome', 'datebirth', 'salary',
       'roledepartament', 'numberchildren', 'remotework'],
      dtype='object')

In [19]:
df_original.shape

(1678, 41)

In [18]:
df_original["hourlyrate"].isnull().sum()

np.int64(1267)

In [9]:
df = pd.read_csv("cleaned_data.csv")  # o la ruta completa si está en una carpeta

In [10]:
df.columns

Index(['age', 'employee_turnover', 'business_travel_frequency', 'daily_rate',
       'distance_from_home_km', 'education_level', 'education_field',
       'remove_column', 'employee_id', 'environmental_satisfaction_level',
       'gender', 'hourly_rate', 'job_involvement_level', 'job_level',
       'job_role', 'job_satisfaction_level', 'marital_status',
       'monthly_income', 'monthly_rate', 'num_companies_worked', 'over_18',
       'overtime_hours', 'percent_salary_hike', 'performance_rating',
       'relationship_satisfaction_level', 'standard_work_hours',
       'stock_option_level', 'total_years_worked',
       'training_sessions_last_year', 'work_life_balance', 'years_at_company',
       'years_since_last_promotion', 'years_with_current_manager',
       'same_as_monthly_income', 'birth_year', 'annual_salary', 'remote_work'],
      dtype='object')

In [21]:
columnas_utiles = ["employee_turnover", "business_travel_frequency", "distance_from_home_km", "education_level", "environmental_satisfaction_level", "gender", "job_involvement_level", "job_level", 
                   "job_satisfaction_level", "marital_status",  "num_companies_worked", "overtime_hours", "percent_salary_hike", "percent_salary_hike", "standard_work_hours", "stock_option_level", "stock_option_level", 
                   "training_sessions_last_year", "years_at_company", "years_at_company", "years_with_current_manager", "birth_year", "remote_work"
]

df_filtrado = df[columnas_utiles]

In [22]:
df_filtrado.head(3)

,employee_turnover,business_travel_frequency,distance_from_home_km,education_level,environmental_satisfaction_level,gender,job_involvement_level,job_level,job_satisfaction_level,marital_status,...,percent_salary_hike,standard_work_hours,stock_option_level,stock_option_level,training_sessions_last_year,years_at_company,years_at_company,years_with_current_manager,birth_year,remote_work
0,no,NaN,6.0,3,1.0,male,3,5,3,NaN,...,13,full time,0,0,5,20,20,15,1972,yes
1,no,NaN,1.0,4,3.0,male,2,5,3,NaN,...,14,NaN,1,1,5,33,33,9,1971,yes
2,no,travel_rarely,4.0,2,3.0,male,3,5,4,married,...,11,NaN,0,0,3,22,22,15,1981,yes

In [23]:
df_filtrado.isnull().sum().sort_values(ascending=False)

business_travel_frequency           801
overtime_hours                      696
marital_status                      675
standard_work_hours                 351
distance_from_home_km               202
environmental_satisfaction_level    102
birth_year                            0
years_with_current_manager            0
years_at_company                      0
years_at_company                      0
training_sessions_last_year           0
stock_option_level                    0
stock_option_level                    0
employee_turnover                     0
percent_salary_hike                   0
percent_salary_hike                   0
num_companies_worked                  0
job_satisfaction_level                0
job_level                             0
job_involvement_level                 0
gender                                0
education_level                       0
remote_work                           0
dtype: int64

In [ ]:
# columnas con nulos: "business_travel_frequency", "overtime_hours", "marital_status", "standard_work_hours", "distance_from_home_km ", "environmental_satisfaction_level"

In [ ]:
# vemos de que tipo es cada columna que tiene nulos:

df_filtrado[["business_travel_frequency", "overtime_hours", "marital_status", "standard_work_hours", "distance_from_home_km", "environmental_satisfaction_level"]].dtypes

business_travel_frequency            object
overtime_hours                       object
marital_status                       object
standard_work_hours                  object
distance_from_home_km               float64
environmental_satisfaction_level    float64
dtype: object

In [ ]:
# Saco los valores unicos de las columnas categoricas:

columnas_categoricas = [
    "business_travel_frequency", 
    "overtime_hours", 
    "marital_status",
    "standard_work_hours" 
]

for col in columnas_categoricas:
    print(f"Valores únicos en '{col}':")
    print(df_filtrado[col].unique())
    print("\n")

Valores únicos en 'business_travel_frequency':
[nan 'travel_rarely' 'travel_frequently' 'non-travel']


Valores únicos en 'overtime_hours':
['no' nan 'yes']


Valores únicos en 'marital_status':
[nan 'married' 'divorced' 'single' 'marreid']


Valores únicos en 'standard_work_hours':
['full time' nan 'part time']

In [34]:
# sacamos el porcentaje de valores nulos de las columnas categoricas:

round((df_filtrado[["business_travel_frequency", "overtime_hours","marital_status", "standard_work_hours" ]].isnull().sum() /len(df_filtrado)) *100, 2)

# round((df_filtrado["overtime_hours"].isnull().sum() / df_filtrado.shape[0]) * 100, 2) - > tambien podemos hacerlo con shape

business_travel_frequency    47.74
overtime_hours               41.48
marital_status               40.23
standard_work_hours          20.92
dtype: float64

En las columnas "business_travel_frequency", "overtime_hours", "marital_status"  dejaremos los datos nulos como desconocdidos ya que es un porcentaje de nulos excesivamente alto.
Sin embargo, de la columna standard_work_hours, analizaremos los valores de la columna para rellenar los datos nulos.

In [ ]:
# estas columnas tienen mas de un 40% de valores nulos, los cuales los dejaremos como desconocido.
# para uno seria: df_filtrado["business_travel_frequency"] = df_filtrado["business_travel_frequency"].fillna("Unknown")


col_nulos_desconocido = [ "business_travel_frequency", "overtime_hours","marital_status"]

for columna in col_nulos_desconocido:
    df_filtrado.loc[:, columna] = df_filtrado[columna].fillna("Unknown") 

# al ser una copia de otro DF, necesito usar .loc para filtrar sino panda no entiende donde tiene que hacer el cambio.
# df_filtrado.loc[:, columna] accede a todas las filas (:) de la columan y las modifica directamente en el Dataframe original.

In [41]:
# comprobamos si ya no tienen nulos: 

round((df_filtrado[["business_travel_frequency", "overtime_hours","marital_status"]].isnull().sum() /len(df_filtrado)) *100, 2)

business_travel_frequency    0.0
overtime_hours               0.0
marital_status               0.0
dtype: float64

In [43]:
# ahora trabajamos sobre "standard_work_hours"  ya que tiene un 20% de nulos para ver como los sustituimos:

df_filtrado["standard_work_hours"].describe().T

count          1327
unique            2
top       part time
freq            927
Name: standard_work_hours, dtype: object

In [ ]:
# Para sacar los porcentajes de cada valor unico

round(df_filtrado["standard_work_hours"].value_counts(normalize=True, dropna=False) * 100, 2)

# con normalize = True, saca la proporcion, multiplico por 100 y tengo el porcentaje. 
# dropna = False para que incluya los valores nulos.

standard_work_hours
part time    55.24
full time    23.84
NaN          20.92
Name: proportion, dtype: float64

In [ ]:
# Saco los valores unicos de las columnas numericas:

columnas_numericas = [
    "distance_from_home_km", 
    "environmental_satisfaction_level"
]

for col in columnas_numericas:
    print(f"Valores únicos en '{col}':")
    print(df_filtrado[col].unique())
    print("\n")

Valores únicos en 'distance_from_home_km':
[ 6.  1.  4.  2.  3. 22. 25.  9.  7. 23. 10. 12. 14. nan 15.  8. 28.  5.
 16. 26. 24. 29. 17. 21. 20. 18. 11. 13. 19. 27.]


Valores únicos en 'environmental_satisfaction_level':
[ 1.  3.  4.  2. nan]

In [58]:
df_filtrado[["distance_from_home_km", "environmental_satisfaction_level"]].isnull().sum()

distance_from_home_km               202
environmental_satisfaction_level    102
dtype: int64

In [37]:
round((df_filtrado[["distance_from_home_km", "environmental_satisfaction_level"]].isnull().sum() / df_filtrado.shape[0]) * 100, 2)

distance_from_home_km               12.04
environmental_satisfaction_level     6.08
dtype: float64

In [ ]:
# calculamos la media, mediana, desviacion estandar....

df_filtrado[["distance_from_home_km", "environmental_satisfaction_level"]].describe().T

,count,mean,std,min,25%,50%,75%,max
distance_from_home_km,1476.0,8.918022,7.937684,1.0,2.0,7.0,13.0,29.0
environmental_satisfaction_level,1576.0,2.717640,1.097573,1.0,2.0,3.0,4.0,4.0

In [ ]:
# calculamos la moda de "distance_from_home_km"

df_filtrado["distance_from_home_km"].mode()

0    2.0
Name: distance_from_home_km, dtype: float64

In [68]:
# para ver el numero de veces que sale la moda.

moda = df_filtrado["distance_from_home_km"].mode()[0]
conteo_moda = df_filtrado["distance_from_home_km"].value_counts()[moda]

print(f"La moda es {moda} y aparece {conteo_moda} veces.")

La moda es 2.0 y aparece 228 veces.

In [59]:
# # calculamos la moda de "nmental_satisfaction_level" 

df_filtrado["environmental_satisfaction_level"].mode()

0    4.0
Name: environmental_satisfaction_level, dtype: float64

In [67]:
# para ver el numero de veces que sale la moda.

moda = df_filtrado["environmental_satisfaction_level"].mode()[0]
conteo_moda = df_filtrado["environmental_satisfaction_level"].value_counts()[moda]

print(f"La moda es {moda} y aparece {conteo_moda} veces.")

La moda es 4.0 y aparece 483 veces.