In [1]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)

In [4]:
df_productos = pd.read_csv("productos_dia.csv", index_col=0)
df_productos.head(5)

,url,supermarket,name,description,product_id
2362486,https://www.dia.es/compra-online/cuidado-del-h...,dia-es,MISTOL lavavajillas mano original botella 900 ml,NaN,9e2fda45e63337294f2a604178823026
2362487,https://www.dia.es/compra-online/cuidado-del-h...,dia-es,DIA lavavajillas máquina premium todo en uno e...,NaN,244994c762813d38881cb118742152a2
2362488,https://www.dia.es/compra-online/cuidado-del-h...,dia-es,FAIRY lavavajillas máquina platinum azul en cá...,NaN,8a5398b602e44b93a0c0a4a7b9d22b84
2362489,https://www.dia.es/compra-online/cuidado-del-h...,dia-es,FAIRY lavavajillas máquina platinum plus limón...,NaN,2cd7ea87b1963adb51d8e1295f6c14d3
2362501,https://www.dia.es/compra-online/cuidado-del-h...,dia-es,FAIRY lavavajillas mano concentrado aloe vera ...,NaN,4abac3d30922f81012d7ae0c2cd955f2

In [5]:
df_precios = pd.read_csv("precios_productos.csv", index_col=0)
df_precios.head(5)

,price,reference_price,product_id,reference_unit,insert_date
6837303,"0,7","0,7",9b1d806ddaed2a3b4c842c361e9171a8,ud,2022-06-08 00:00:00
5137438,"3,19","10,63",baf038a3f001812899adb8beaf4e0ec7,kg,2022-02-10 00:00:00
6005999,"3,99","15,96",ca2fc753e5ea44e8c95888983c1dafe1,l,2022-04-11 00:00:00
6995217,"3,39","5,22",48c959cc94d6d82d1151189b2abe9e83,l,2022-06-19 00:00:00
5760664,"2,79","0,47",8904722366039ba8f147e2e75a5d1ce1,ud,2022-03-25 00:00:00

In [9]:
df_precios.shape

(1000000, 5)

In [11]:
# No tiene sentido porque el df es muy grande
df_precios.describe().T

                   count unique                               top    freq
price             999999   1026                              1,99   33376
reference_price   999999   2876                              1,99    6587
product_id       1000000   9469  dec17046c7afb4e5a02252f79738045b     368
reference_unit    998391      5                                kg  496396
insert_date      1000000    382               2021-11-07 00:00:00    2828

In [10]:
df_precios.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1000000 entries, 6837303 to 5813238
Data columns (total 5 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   price            999999 non-null   object
 1   reference_price  999999 non-null   object
 2   product_id       1000000 non-null  object
 3   reference_unit   998391 non-null   object
 4   insert_date      1000000 non-null  object
dtypes: object(5)
memory usage: 45.8+ MB

In [13]:
porc_nulos = (df_precios.isna().sum() / df_precios.shape[0]) * 100
porc_nulos

price              0.0001
reference_price    0.0001
product_id         0.0000
reference_unit     0.1609
insert_date        0.0000
dtype: float64

In [ ]:
duplicados_precios = df_precios.duplicated().sum()
duplicados_precios

0

In [15]:
len(df_precios)

1000000

In [17]:
df_productos = pd.read_csv("productos_dia.csv", index_col=0)
df_productos.head(2)

,url,supermarket,name,description,product_id
2362486,https://www.dia.es/compra-online/cuidado-del-h...,dia-es,MISTOL lavavajillas mano original botella 900 ml,NaN,9e2fda45e63337294f2a604178823026
2362487,https://www.dia.es/compra-online/cuidado-del-h...,dia-es,DIA lavavajillas máquina premium todo en uno e...,NaN,244994c762813d38881cb118742152a2

In [18]:
df_productos.shape

(11494, 5)

In [19]:
len(df_productos)

11494

In [20]:
df_productos.info()

<class 'pandas.core.frame.DataFrame'>
Index: 11494 entries, 2362486 to 7838355
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   url          11494 non-null  object
 1   supermarket  11494 non-null  object
 2   name         11494 non-null  object
 3   description  0 non-null      float64
 4   product_id   11494 non-null  object
dtypes: float64(1), object(4)
memory usage: 538.8+ KB

In [22]:
df_productos.describe().T

             count  mean  std  min  25%  50%  75%  max
description    0.0   NaN  NaN  NaN  NaN  NaN  NaN  NaN

*0 valores no nulos float en description nos impide ver los datos*

In [23]:
df_productos.describe(include="O").T

,count,unique,top,freq
url,11494,10245,https://www.dia.es/compra-online/frescos/fruta...,7
supermarket,11494,1,dia-es,11494
name,11494,10767,DIA VEGECAMPO acelga bolsa 300 gr,3
product_id,11494,9496,cd3f6bc51b2d934c1e46b0136ed62779,8

In [24]:
df_productos["name"].value_counts()

name
DIA VEGECAMPO acelga bolsa 300 gr                                 3
Ciruela roja cesta 500 gr                                         3
TERRA NOVA anilla de potón bandeja (peso aprox. 400 gr)           3
DIA VEGECAMPO espinacas bolsa 300 gr                              3
DIA LACTEA mozzarella rallada bolsa 200 gr                        3
                                                                 ..
NAKD barrita de cereales con arándanos caja 4 x 35 gr             1
FILIPINOS roscos de galleta con chocolate negro paquete 135 gr    1
MELS hojaldre de astorga paquete 180 gr                           1
DULCESOL magdalena valenciana bolsa 350 gr                        1
SELECCIÓN DE DIA chistorra de navarra pieza 220 gr                1
Name: count, Length: 10767, dtype: int64

In [26]:
df_productos.duplicated().sum()

0

In [34]:
df_productos[df_productos.duplicated(subset="product_id", keep=False)].sort_values("product_id")

,url,supermarket,name,description,product_id
2811348,https://www.dia.es/compra-online/congelados/pe...,dia-es,DIA MARI MARINERA medallones de merluza del ca...,NaN,0008afbaae96e6003d71de151a2ec67b
4525857,https://www.dia.es/compra-online/congelados/pe...,dia-es,DIA MARI MARINERA medallones de merluza del ca...,NaN,0008afbaae96e6003d71de151a2ec67b
2366218,https://www.dia.es/compra-online/despensa/arro...,dia-es,DIA cocido madrileño lata 440 gr,NaN,000d481c0e60b87db07bd8e395e505de
4019287,https://www.dia.es/compra-online/despensa/arro...,dia-es,DIA AL PUNTO cocido madrileño lata 440 gr,NaN,000d481c0e60b87db07bd8e395e505de
4917259,https://www.dia.es/compra-online/platos-prepar...,dia-es,DIA AL PUNTO cocido madrileño lata 440 gr,NaN,000d481c0e60b87db07bd8e395e505de
...,...,...,...,...,...
2366348,https://www.dia.es/compra-online/congelados/pe...,dia-es,DIA MARI MARINERA palitos de surimi envase 450 gr,NaN,ff73c5c247c412bda93ddad898b5b075
5846274,https://www.dia.es/compra-online/cuidado-del-h...,dia-es,FINISH Quantum lavavajillas máquina powerball ...,NaN,ffaa6aa7fa9766dc8cb93c12656fd7f7
4526080,https://www.dia.es/compra-online/cuidado-del-h...,dia-es,FINISH Quantum max lavavajillas powerball bols...,NaN,ffaa6aa7fa9766dc8cb93c12656fd7f7
2363833,https://www.dia.es/compra-online/despensa/acei...,dia-es,DIA LA ALMAZARA DEL OLIVAR aceite de oliva vir...,NaN,ffbcfa85da8287e5677b795de20b226c
3144271,https://www.dia.es/compra-online/despensa/acei...,dia-es,DIA ALMAZARA DEL OLIVAR aceite de oliva virgen...,NaN,ffbcfa85da8287e5677b795de20b226c

In [45]:
df_productos["name"].describe(include="O").T

count                                 11494
unique                                10767
top       DIA VEGECAMPO acelga bolsa 300 gr
freq                                      3
Name: name, dtype: object

In [35]:
df_productos[df_productos.duplicated(subset="product_id", keep=False)].sort_values("product_id").iloc[2,2]

'DIA cocido madrileño lata 440 gr'

In [36]:
df_productos[df_productos.duplicated(subset="product_id", keep=False)].sort_values("product_id").iloc[3,2]

'DIA AL PUNTO cocido madrileño lata 440 gr'

Valores duplicados en una columna ordenados de forma descendente. Keep: False muestra todos los duplicados, first el primer resultado de los duplicados, last el último

In [40]:
df_prod_no_dup = df_productos.drop_duplicates(subset="product_id", keep="last")
df_prod_no_dup.head()

,url,supermarket,name,description,product_id
2362486,https://www.dia.es/compra-online/cuidado-del-h...,dia-es,MISTOL lavavajillas mano original botella 900 ml,NaN,9e2fda45e63337294f2a604178823026
2362487,https://www.dia.es/compra-online/cuidado-del-h...,dia-es,DIA lavavajillas máquina premium todo en uno e...,NaN,244994c762813d38881cb118742152a2
2362489,https://www.dia.es/compra-online/cuidado-del-h...,dia-es,FAIRY lavavajillas máquina platinum plus limón...,NaN,2cd7ea87b1963adb51d8e1295f6c14d3
2362501,https://www.dia.es/compra-online/cuidado-del-h...,dia-es,FAIRY lavavajillas mano concentrado aloe vera ...,NaN,4abac3d30922f81012d7ae0c2cd955f2
2362502,https://www.dia.es/compra-online/cuidado-del-h...,dia-es,DIA lavavajillas mano super concentrado botell...,NaN,bfa1e29fbdded3b51541e3c6ebb4b8ac

In [42]:
# Comprobamos limpieza de duplicados
df_prod_no_dup.duplicated(subset="product_id").sum()

0

In [44]:
df_prod_no_dup.isna().sum()/df_prod_no_dup.shape[0]*100

url              0.0
supermarket      0.0
name             0.0
description    100.0
product_id       0.0
dtype: float64

In [46]:
df_prod_no_dup.drop(columns=["description"], inplace=True)
df_prod_no_dup.head()

C:\Users\noeli\AppData\Local\Temp\ipykernel_1660\1345077796.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_prod_no_dup.drop(columns=["description"], inplace=True)

,url,supermarket,name,product_id
2362486,https://www.dia.es/compra-online/cuidado-del-h...,dia-es,MISTOL lavavajillas mano original botella 900 ml,9e2fda45e63337294f2a604178823026
2362487,https://www.dia.es/compra-online/cuidado-del-h...,dia-es,DIA lavavajillas máquina premium todo en uno e...,244994c762813d38881cb118742152a2
2362489,https://www.dia.es/compra-online/cuidado-del-h...,dia-es,FAIRY lavavajillas máquina platinum plus limón...,2cd7ea87b1963adb51d8e1295f6c14d3
2362501,https://www.dia.es/compra-online/cuidado-del-h...,dia-es,FAIRY lavavajillas mano concentrado aloe vera ...,4abac3d30922f81012d7ae0c2cd955f2
2362502,https://www.dia.es/compra-online/cuidado-del-h...,dia-es,DIA lavavajillas mano super concentrado botell...,bfa1e29fbdded3b51541e3c6ebb4b8ac

In [49]:
df_unido = df_precios.merge(df_prod_no_dup, on= ["product_id"], how="left")
df_unido.head()

,price,reference_price,product_id,reference_unit,insert_date,url,supermarket,name
0,"0,7","0,7",9b1d806ddaed2a3b4c842c361e9171a8,ud,2022-06-08 00:00:00,https://www.dia.es/compra-online/cuidado-del-h...,dia-es,DIA SUPER PACO guantes satinados talla S bolsa...
1,"3,19","10,63",baf038a3f001812899adb8beaf4e0ec7,kg,2022-02-10 00:00:00,https://www.dia.es/compra-online/despensa/desa...,dia-es,KELLOGGS cereales special k con frutas rojas c...
2,"3,99","15,96",ca2fc753e5ea44e8c95888983c1dafe1,l,2022-04-11 00:00:00,https://www.dia.es/compra-online/cuidado-perso...,dia-es,DIA IMAQE leche solar infantil spf 50+ tubo 25...
3,"3,39","5,22",48c959cc94d6d82d1151189b2abe9e83,l,2022-06-19 00:00:00,https://www.dia.es/compra-online/cuidado-perso...,dia-es,SANEX gel de ducha biome protect piel normal b...
4,"2,79","0,47",8904722366039ba8f147e2e75a5d1ce1,ud,2022-03-25 00:00:00,https://www.dia.es/compra-online/cuidado-del-h...,dia-es,COLHOGAR papel higiénico XXL paquete 6 uds

In [50]:
df_unido.drop(columns=["supermarket"], inplace=True)
df_unido.head()

,price,reference_price,product_id,reference_unit,insert_date,url,name
0,"0,7","0,7",9b1d806ddaed2a3b4c842c361e9171a8,ud,2022-06-08 00:00:00,https://www.dia.es/compra-online/cuidado-del-h...,DIA SUPER PACO guantes satinados talla S bolsa...
1,"3,19","10,63",baf038a3f001812899adb8beaf4e0ec7,kg,2022-02-10 00:00:00,https://www.dia.es/compra-online/despensa/desa...,KELLOGGS cereales special k con frutas rojas c...
2,"3,99","15,96",ca2fc753e5ea44e8c95888983c1dafe1,l,2022-04-11 00:00:00,https://www.dia.es/compra-online/cuidado-perso...,DIA IMAQE leche solar infantil spf 50+ tubo 25...
3,"3,39","5,22",48c959cc94d6d82d1151189b2abe9e83,l,2022-06-19 00:00:00,https://www.dia.es/compra-online/cuidado-perso...,SANEX gel de ducha biome protect piel normal b...
4,"2,79","0,47",8904722366039ba8f147e2e75a5d1ce1,ud,2022-03-25 00:00:00,https://www.dia.es/compra-online/cuidado-del-h...,COLHOGAR papel higiénico XXL paquete 6 uds

In [51]:
df_unido.shape

(1000000, 7)

In [52]:
df_unido.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 7 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   price            999999 non-null   object
 1   reference_price  999999 non-null   object
 2   product_id       1000000 non-null  object
 3   reference_unit   998391 non-null   object
 4   insert_date      1000000 non-null  object
 5   url              1000000 non-null  object
 6   name             1000000 non-null  object
dtypes: object(7)
memory usage: 53.4+ MB

In [58]:
# Creamos una función que nos permita aplicar una iteración de remplazo de sintaxis

# x = np.nan
# Try Except por si nos encontramos con eso porque a eso no se puede hacer .replace

In [59]:
def cambiar_float(dato):
	try:
		return float(dato.replace(",", "."))
	except:
		return np.nan

x = "2,3"

cambiar_float(x)

2.3

In [ ]:
columnas = ["price", "reference_price"] #cambio de title del 0 por el 1 índice

for col in columnas:
    df_unido[col] = df_unido[col].apply(cambiar_float) #aplicamos la función a cada columna con el bucle de iteración

In [60]:
df_unido.head(2)

,price,reference_price,product_id,reference_unit,insert_date,url,name
0,0.70,0.70,9b1d806ddaed2a3b4c842c361e9171a8,ud,2022-06-08 00:00:00,https://www.dia.es/compra-online/cuidado-del-h...,DIA SUPER PACO guantes satinados talla S bolsa...
1,3.19,10.63,baf038a3f001812899adb8beaf4e0ec7,kg,2022-02-10 00:00:00,https://www.dia.es/compra-online/despensa/desa...,KELLOGGS cereales special k con frutas rojas c...

In [ ]:
# .split convierte columna en una lista
# se lo estamos aplicando a una serie [0], toda la serie
# (" ", expand=True) Nos devuelve una lista con los dos valores y lo transforma en 2 columnas por cada elemento
df_unido["date"] = df_unido["insert_date"].str.split(" ").str[0]
df_unido.head()

,price,reference_price,product_id,reference_unit,insert_date,url,name,date
0,0.70,0.70,9b1d806ddaed2a3b4c842c361e9171a8,ud,2022-06-08 00:00:00,https://www.dia.es/compra-online/cuidado-del-h...,DIA SUPER PACO guantes satinados talla S bolsa...,2022-06-08
1,3.19,10.63,baf038a3f001812899adb8beaf4e0ec7,kg,2022-02-10 00:00:00,https://www.dia.es/compra-online/despensa/desa...,KELLOGGS cereales special k con frutas rojas c...,2022-02-10
2,3.99,15.96,ca2fc753e5ea44e8c95888983c1dafe1,l,2022-04-11 00:00:00,https://www.dia.es/compra-online/cuidado-perso...,DIA IMAQE leche solar infantil spf 50+ tubo 25...,2022-04-11
3,3.39,5.22,48c959cc94d6d82d1151189b2abe9e83,l,2022-06-19 00:00:00,https://www.dia.es/compra-online/cuidado-perso...,SANEX gel de ducha biome protect piel normal b...,2022-06-19
4,2.79,0.47,8904722366039ba8f147e2e75a5d1ce1,ud,2022-03-25 00:00:00,https://www.dia.es/compra-online/cuidado-del-h...,COLHOGAR papel higiénico XXL paquete 6 uds,2022-03-25

In [69]:
df_unido[["insert_date", "date"]].head(2)

           insert_date       date
0  2022-06-08 00:00:00 2022-06-08
1  2022-02-10 00:00:00 2022-02-10

In [66]:
df_unido["date"] = pd.to_datetime(df_unido["date"])

df_unido.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 8 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   price            999999 non-null   float64
 1   reference_price  999999 non-null   float64
 2   product_id       1000000 non-null  object
 3   reference_unit   998391 non-null   object
 4   insert_date      1000000 non-null  object
 5   url              1000000 non-null  object
 6   name             1000000 non-null  object
 7   date             1000000 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(2), object(5)
memory usage: 61.0+ MB

In [ ]:
# Obtener datos de categorías

In [70]:
df_unido["url"][0].split("/")[5]

'utensilios-de-limpieza'

In [ ]:
def extraer_categorias(url):
    partes = url.split("/")  # Dividir la URL por "/"  
    try:
        categoria = partes[4]  # Ajusta este índice según la estructura de tu URL, el elemento 4
        subcategoria = partes[5] if len(partes) > 5 else None  # Ajusta este índice, el elemento 5 si la longitud es > 5, si tuviera subcategoría
        return pd.Series([categoria, subcategoria])
    except IndexError:
        return pd.Series([None, None]) # La función nos devuelve una serie con dos elementos, cat y subcat
    
# Lambdas: cuando las funciones reciben 2 parámetros
# Lambdas también cuando devuelve 2 elementos la función

In [72]:
df_unido["url"].apply(extraer_categorias)

                                    0                        1
0                   cuidado-del-hogar   utensilios-de-limpieza
1                            despensa       desayunos-y-dulces
2                    cuidado-personal         cuidado-corporal
3                    cuidado-personal  bano-e-higiene-personal
4                   cuidado-del-hogar                    papel
...                               ...                      ...
999995  cuidado-del-hogar-de-limpieza                     bano
999996               cuidado-personal         cuidado-corporal
999997                       despensa                conservas
999998                       despensa                   salsas
999999                       despensa               aperitivos

[1000000 rows x 2 columns]

## Más claro

In [78]:
## otra función para obtener categorias y subcategorias
def sacar_info(x):
    if "al-dia" in x:
        return "frescos", x.split("/")[5]

    elif "bulto-mixto" in x or "peso" in x or "caducidad" in x or "clasificacion-de-categorias" in x:
        return x.split("/")[5], x.split("/")[6]
        
    else:
        return x.split("/")[4], x.split("/")[5]

In [80]:
sacar_info('https://www.dia.es/compra-online/cuidado-personal/bano-e-higiene-personal/cuidado-del-cabello/p/283797')

('cuidado-personal', 'bano-e-higiene-personal')

In [81]:
df_unido[["categoria", "subcategoria"]] = df_unido.apply(lambda x: extraer_categorias(x["url"]), axis=1, result_type="expand")

In [82]:
df_unido[["categoria", "subcategoria"]]

                            categoria             subcategoria
0                   cuidado-del-hogar   utensilios-de-limpieza
1                            despensa       desayunos-y-dulces
2                    cuidado-personal         cuidado-corporal
3                    cuidado-personal  bano-e-higiene-personal
4                   cuidado-del-hogar                    papel
...                               ...                      ...
999995  cuidado-del-hogar-de-limpieza                     bano
999996               cuidado-personal         cuidado-corporal
999997                       despensa                conservas
999998                       despensa                   salsas
999999                       despensa               aperitivos

[1000000 rows x 2 columns]