In [2]:
# Tratamiento de datos
# -----------------------------------------------------------------------
import pandas as pd
import numpy as np

# Visualización
# ------------------------------------------------------------------------------
import matplotlib.pyplot as plt
import seaborn as sns

# Evaluar linealidad de las relaciones entre las variables
# ------------------------------------------------------------------------------
from scipy.stats import shapiro, kstest

# Configuración
# -----------------------------------------------------------------------
pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames

# Gestión de los warnings
# -----------------------------------------------------------------------
import warnings
warnings.filterwarnings("ignore")

In [3]:
df= pd.read_csv("files/Mental_Health_Lifestyle_Dataset.csv")

In [5]:
df.shape

(3000, 12)

In [6]:
df.head()

,Country,Age,Gender,Exercise Level,Diet Type,Sleep Hours,Stress Level,Mental Health Condition,Work Hours per Week,Screen Time per Day (Hours),Social Interaction Score,Happiness Score
0,Brazil,48,Male,Low,Vegetarian,6.3,Low,NaN,21,4.0,7.8,6.5
1,Australia,31,Male,Moderate,Vegan,4.9,Low,PTSD,48,5.2,8.2,6.8
2,Japan,37,Female,Low,Vegetarian,7.2,High,NaN,43,4.7,9.6,9.7
3,Brazil,35,Male,Low,Vegan,7.2,Low,Depression,43,2.2,8.2,6.6
4,Germany,46,Male,Low,Balanced,7.3,Low,Anxiety,35,3.6,4.7,4.4

In [7]:
df["Country"].unique()

array(['Brazil', 'Australia', 'Japan', 'Germany', 'India', 'Canada',
       'USA'], dtype=object)

In [11]:
df["Country"].isnull().sum()

0

In [13]:
df["Social Interaction Score"].agg([max, min])

max    10.0
min     1.0
Name: Social Interaction Score, dtype: float64

In [23]:
df["Happiness Score"].agg([max, min])

max    10.0
min     1.0
Name: Happiness Score, dtype: float64

In [14]:
df["Work Hours per Week"].agg([max, min])

max    59
min    20
Name: Work Hours per Week, dtype: int64

In [18]:
df.dtypes

Country                         object
Age                              int64
Gender                          object
Exercise Level                  object
Diet Type                       object
Sleep Hours                    float64
Stress Level                    object
Mental Health Condition         object
Work Hours per Week              int64
Screen Time per Day (Hours)    float64
Social Interaction Score       float64
Happiness Score                float64
dtype: object

In [21]:
df.duplicated().sum()

0