# PAIR-modulo-2-leccion-14-lectura-ficheros

En este pair vamos a trabajar la apertura y exploración de archivos. Para finalmente guardar el archivo con un formato diferente.


1. Hacer las importaciones necesarias para abrir un archivo de tipo "csv" en Pandas.

2. Abrir el archivo, creando un Dataframe. Aseguraros de que no incluye la columna "Unnamed: 0".

3. Guardar el Dataframe en formato Excel y después crear un Dataframe con el Excel. ¿EL Dataframe es similar al que teníais antes?

4. Crear una carpeta llamada Files y guardar el mismo archivo en esa carpeta en formato csv .

5. Copia el archivo personal.json en la carpeta Files.

6. Abre el json y haz las modificaciones necesarias para poder abrirlo correctamente en Pandas.

7. Guardar el json modifiado y abrirlo en Pandas para que tenga formato de tabla.

1. Hacer las importaciones necesarias para abrir un archivo de tipo "csv" en Pandas.

In [17]:
import pandas as pd
import json

2. Abrir el archivo, creando un Dataframe. Aseguraros de que no incluye la columna "Unnamed: 0".

In [13]:
df = pd.read_csv("videogames.csv", index_col=0)
df.head()

,name,url,year,certificate,rating,votes,plot,Action,Adventure,Comedy,Crime,Family,Fantasy,Mystery,Sci-Fi,Thriller
0,Spider-Man,https://www.imdb.com/title/tt5807780/?ref_=adv...,2018.0,T,9.2,"20,759","When a new villain threatens New York City, Pe...",True,True,False,False,False,True,False,False,False
1,Red Dead Redemption II,https://www.imdb.com/title/tt6161168/?ref_=adv...,2018.0,M,9.7,"35,703",Amidst the decline of the Wild West at the tur...,True,True,False,True,False,False,False,False,False
2,Grand Theft Auto V,https://www.imdb.com/title/tt2103188/?ref_=adv...,2013.0,M,9.5,"59,986",Three very different criminals team up for a s...,True,False,False,True,False,False,False,False,False
3,God of War,https://www.imdb.com/title/tt5838588/?ref_=adv...,2018.0,M,9.6,"26,118","After wiping out the gods of Mount Olympus, Kr...",True,True,False,False,False,False,False,False,False
4,Uncharted 4: A Thief's End,https://www.imdb.com/title/tt3334704/?ref_=adv...,2016.0,T,9.5,"28,722",Thrown back into the dangerous underworld he'd...,True,True,False,False,False,False,False,False,False

3. Guardar el Dataframe en formato Excel y después crear un Dataframe con el Excel. ¿EL Dataframe es similar al que teníais antes?

In [14]:
df.to_excel('videogames.xlsx', index=False)
df_excel = pd.read_excel('videogames.xlsx')
df_excel.head(5)

,name,url,year,certificate,rating,votes,plot,Action,Adventure,Comedy,Crime,Family,Fantasy,Mystery,Sci-Fi,Thriller
0,Spider-Man,https://www.imdb.com/title/tt5807780/?ref_=adv...,2018.0,T,9.2,"20,759","When a new villain threatens New York City, Pe...",True,True,False,False,False,True,False,False,False
1,Red Dead Redemption II,https://www.imdb.com/title/tt6161168/?ref_=adv...,2018.0,M,9.7,"35,703",Amidst the decline of the Wild West at the tur...,True,True,False,True,False,False,False,False,False
2,Grand Theft Auto V,https://www.imdb.com/title/tt2103188/?ref_=adv...,2013.0,M,9.5,"59,986",Three very different criminals team up for a s...,True,False,False,True,False,False,False,False,False
3,God of War,https://www.imdb.com/title/tt5838588/?ref_=adv...,2018.0,M,9.6,"26,118","After wiping out the gods of Mount Olympus, Kr...",True,True,False,False,False,False,False,False,False
4,Uncharted 4: A Thief's End,https://www.imdb.com/title/tt3334704/?ref_=adv...,2016.0,T,9.5,"28,722",Thrown back into the dangerous underworld he'd...,True,True,False,False,False,False,False,False,False

4. Crear una carpeta llamada Files y guardar el mismo archivo en esa carpeta en formato csv .

In [15]:
df_excel.to_csv('Files/videogames.csv', index=False)

6. Abre el json y haz las modificaciones necesarias para poder abrirlo correctamente en Pandas.

In [24]:
# guardamos la ruta de nuestro archivo en una variable
json_path = 'Files/personal.json'

# Leer el JSON en un diccionario
with open(json_path, 'r') as f:
    data = json.load(f)

# 'workers' es la clave principal del JSON, entonces necesitamos acceder a esa lista
workers_data = data['workers']

# Normalizar los datos
df_workers = pd.json_normalize(workers_data)

# Mostrar las primeras filas del DataFrame para verificar
df_workers.head()

  nombre  edad  experiencia   nivel  salario mascota
0    Ana    34            5  Senior    50000   gatos
1    Eva    37            2     Mid    35000     NaN
2  Marta    27            1  Junior    25000     NaN
3  Paula    30            3     Mid    35000     NaN

7. Guardar el json modifiado y abrirlo en Pandas para que tenga formato de tabla.

In [25]:
df_workers.to_csv('Files/personal.csv', index=False)

df_personal = pd.read_csv("Files/personal.csv")

df_personal.head()

  nombre  edad  experiencia   nivel  salario mascota
0    Ana    34            5  Senior    50000   gatos
1    Eva    37            2     Mid    35000     NaN
2  Marta    27            1  Junior    25000     NaN
3  Paula    30            3     Mid    35000     NaN