In [ ]:
import json
import requests # to download the file from the URL
import pandas as pd # to read the csv file
import numpy as np # to perform numerical operations

pd.set_option('display.max_columns', None) # to dieeesplay all columns in the dataframe

In [3]:
df = pd.read_csv("COVID.csv") # read the csv file into a dataframe
df.head(3) # display the first 5 rows of the dataframe

,Tweet Id,Tweet URL,Tweet Posted Time (UTC),Tweet Content,Tweet Type,Client,Retweets Received,Likes Received,Tweet Location,Lat,Long,Tweet Language,User Id,Name,Screen Name,User Bio,Verified or Non-Verified,Profile URL,Protected or Non-protected,User Followers,User Following,User Account Creation Date
0,"""1233417783175778304""",https://twitter.com/Giussi92/status/1233417783...,28 Feb 2020 15:44:49,Also the entire Swiss Football League is on ho...,Tweet,Twitter for iPhone,0,0,NaN,NaN,NaN,English,"""1556856595""",Giuseppe Gentile,Giussi92,NaN,Verified,https://twitter.com/Giussi92,Non-Protected,3071,100,30 Jun 2013 00:27:50
1,"""1233417742520332290""",https://twitter.com/LAMofficial/status/1233417...,28 Feb 2020 15:44:40,World Health Org Official: Trump’s press confe...,Tweet,Twitter Web App,0,0,Los Angeles CA USA,NaN,NaN,English,"""113738369""",London After Midnight,LAMofficial,London After Midnight is a music project by wr...,Verified,https://twitter.com/LAMofficial,Non-Protected,4189,84,12 Feb 2010 21:43:17
2,"""1233417741027225602""",https://twitter.com/mitchellvii/status/1233417...,28 Feb 2020 15:44:39,"I mean, Liberals are cheer-leading this #Coron...",Tweet,Twitter Web App,23,64,"Miami, FL",NaN,NaN,English,"""17980523""",Bill Mitchell,mitchellvii,Host of YourVoice™ America at http://yourvoice...,Verified,https://twitter.com/mitchellvii,Non-Protected,534045,10037,09 Dec 2008 01:54:21

In [4]:
display(df.tail()) # display the last 5 rows of the dataframe

,Tweet Id,Tweet URL,Tweet Posted Time (UTC),Tweet Content,Tweet Type,Client,Retweets Received,Likes Received,Tweet Location,Lat,Long,Tweet Language,User Id,Name,Screen Name,User Bio,Verified or Non-Verified,Profile URL,Protected or Non-protected,User Followers,User Following,User Account Creation Date
60155,"""1204309839004012544""",https://twitter.com/RevistaArgos/status/120430...,10 Dec 2019 08:00:15,El #coronavirus entérico felino es un virus in...,Tweet,Hootsuite Inc.,0,0,NaN,NaN,NaN,Spanish,"""588410190""",Revista Argos,RevistaArgos,La revista de los veterinarios de animales de ...,Non-Verified,https://twitter.com/RevistaArgos,Non-Protected,4236,313,23 May 2012 14:30:12
60156,"""1204212528810729479""",https://twitter.com/RobNotRob11/status/1204212...,10 Dec 2019 01:33:34,"RT @timhquotes: It's my party, you're invited!...",ReTweet,Twitter for Android,0,0,NaN,NaN,NaN,English,"""4719933867""",Serving Suggestion,RobNotRob11,"6-and-a-half-foot tall, awkwardly shaped man. ...",Non-Verified,https://twitter.com/RobNotRob11,Non-Protected,37,259,06 Jan 2016 01:12:42
60157,"""1204206609708331009""",https://twitter.com/timhquotes/status/12042066...,10 Dec 2019 01:10:03,"It's my party, you're invited!\n\nPS, this is ...",Tweet,Twitter for Android,2,28,"Jackson Hole, WY",NaN,NaN,English,"""2195288012""",Tim Heidecker Quotes,timhquotes,Quotes from our favorite weird boy. Awesome pa...,Non-Verified,https://twitter.com/timhquotes,Non-Protected,2583,822,15 Nov 2013 03:20:11
60158,"""1201998948950577152""",https://twitter.com/Baric_Lab/status/120199894...,03 Dec 2019 22:57:36,Amy’s a survivor! #bariclab #pnnl #movingon #c...,Tweet,Twitter for iPhone,1,17,"Chapel Hill, NC",NaN,NaN,English,"""989521438825746433""",Baric Laboratory,Baric_Lab,"Researching SARS-CoV, MERS CoV, Dengue, Zika a...",Non-Verified,https://twitter.com/Baric_Lab,Non-Protected,1326,82,26 Apr 2018 15:07:50
60159,"""1200977067266990080""",https://twitter.com/thelonevirologi/status/120...,01 Dec 2019 03:17:00,A review of asymptomatic and sub-clinical Midd...,Tweet,Twitter for iPhone,0,0,USA,NaN,NaN,English,"""2414645220""",thelonevirologist,thelonevirologi,"Virologist.Likes history, hiking &amp; a good ...",Non-Verified,https://twitter.com/thelonevirologi,Non-Protected,6527,1233,27 Mar 2014 16:58:36

In [5]:
df.columns # display the columns of the dataframe

Index(['Tweet Id', 'Tweet URL', 'Tweet Posted Time (UTC)', 'Tweet Content',
       'Tweet Type', 'Client', 'Retweets Received', 'Likes Received',
       'Tweet Location', 'Lat', 'Long', 'Tweet Language', 'User Id', 'Name',
       'Screen Name', 'User Bio', 'Verified or Non-Verified', 'Profile URL',
       'Protected or Non-protected', 'User Followers', 'User Following',
       'User Account Creation Date'],
      dtype='object')

In [6]:
df.shape # display the shape of the dataframe

(60160, 22)

#   MISSING VALUES?

In [7]:
df.isna().sum()/df.shape[0]*100 # display the percentage of missing values in each column

Tweet Id                       0.000000
Tweet URL                      0.000000
Tweet Posted Time (UTC)        0.000000
Tweet Content                  0.000000
Tweet Type                     0.000000
Client                         0.000000
Retweets Received              0.000000
Likes Received                 0.000000
Tweet Location                32.480053
Lat                           99.968418
Long                          99.968418
Tweet Language                 1.908245
User Id                        0.000000
Name                           0.001662
Screen Name                    0.000000
User Bio                      17.357048
Verified or Non-Verified       0.000000
Profile URL                    0.000000
Protected or Non-protected     0.000000
User Followers                 0.000000
User Following                 0.000000
User Account Creation Date     0.000000
dtype: float64

#   DUPLICATED VALUES?

In [8]:
# Check for duplicate rows
df.duplicated().sum()

0

In [9]:
df.info() # display the information about the dataframe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60160 entries, 0 to 60159
Data columns (total 22 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Tweet Id                    60160 non-null  object
 1   Tweet URL                   60160 non-null  object
 2   Tweet Posted Time (UTC)     60160 non-null  object
 3   Tweet Content               60160 non-null  object
 4   Tweet Type                  60160 non-null  object
 5   Client                      60160 non-null  object
 6   Retweets Received           60160 non-null  int64
 7   Likes Received              60160 non-null  int64
 8   Tweet Location              40620 non-null  object
 9   Lat                         19 non-null     float64
 10  Long                        19 non-null     float64
 11  Tweet Language              59012 non-null  object
 12  User Id                     60160 non-null  object
 13  Name                        60159 non-null  object
 14  Screen Name                 60160 non-null  object
 15  User Bio                    49718 non-null  object
 16  Verified or Non-Verified    60160 non-null  object
 17  Profile URL                 60160 non-null  object
 18  Protected or Non-protected  60160 non-null  object
 19  User Followers              60160 non-null  int64
 20  User Following              60160 non-null  int64
 21  User Account Creation Date  60160 non-null  object
dtypes: float64(2), int64(4), object(16)
memory usage: 10.1+ MB

In [10]:
# Show the data types of each column
df.dtypes

Tweet Id                       object
Tweet URL                      object
Tweet Posted Time (UTC)        object
Tweet Content                  object
Tweet Type                     object
Client                         object
Retweets Received               int64
Likes Received                  int64
Tweet Location                 object
Lat                           float64
Long                          float64
Tweet Language                 object
User Id                        object
Name                           object
Screen Name                    object
User Bio                       object
Verified or Non-Verified       object
Profile URL                    object
Protected or Non-protected     object
User Followers                  int64
User Following                  int64
User Account Creation Date     object
dtype: object

In [11]:
df.describe().T # display the summary statistics of the numerical columns in the dataframe

,count,mean,std,min,25%,50%,75%,max
Retweets Received,60160.0,3.142886,106.443453,0.000000,0.000000,0.000000,0.00000,2.383200e+04
Likes Received,60160.0,5.272590,98.297300,0.000000,0.000000,0.000000,0.00000,1.752600e+04
Lat,19.0,-45.983002,91.125375,-122.395853,-111.911088,-82.616026,-31.06970,1.397000e+02
Long,19.0,32.120267,13.136373,-11.000000,33.947780,35.691324,39.68805,4.085376e+01
User Followers,60160.0,92749.349900,830970.664927,0.000000,145.000000,550.000000,2449.50000,2.127516e+07
User Following,60160.0,2193.177809,11963.820775,0.000000,204.000000,562.000000,1692.00000,1.182667e+06

In [12]:
# Statistical data of the categorical columns
df.describe(include = "object").T

,count,unique,top,freq
Tweet Id,60160,60160,"""1233417783175778304""",1
Tweet URL,60160,60160,https://twitter.com/Giussi92/status/1233417783...,1
Tweet Posted Time (UTC),60160,19450,31 Jan 2020 22:30:00,29
Tweet Content,60160,24943,RT @SaludPublicaEs: El Centro Nacional de Micr...,1943
Tweet Type,60160,3,ReTweet,45291
Client,60160,315,Twitter for Android,23250
Tweet Location,40620,14538,United States,702
Tweet Language,59012,43,English,33174
User Id,60160,43297,"""306127388""",249
Name,60159,41540,All Express News,249
Screen Name,60160,43297,bitcoinconnect,249
User Bio,49718,35225,"China's national English language newspaper, u...",127
Verified or Non-Verified,60160,2,Non-Verified,54236
Profile URL,60160,43297,https://twitter.com/bitcoinconnect,249
Protected or Non-protected,60160,1,Non-Protected,60160
User Account Creation Date,60160,43295,27 May 2011 10:13:30,249

Data preparation: 
- IN THE END: Column names start with uppercase, we put all column names in lowercase. 
- Convert tweet_id from object to int

In [13]:
# 1)Rename the columns to remove spaces and special characters
# Rename the columns to lowercase
df.columns = df.columns.str.lower().str.replace(' ', '_') # remove spaces and special characters from the column names

In [14]:
## Necessary to convert to string for consistency
df["tweet_id"] = df["tweet_id"].astype(str)
df["user_id"] = df["user_id"].astype(str)

In [15]:
# Convert tweet_id to numeric, removing quotes and stripping whitespace
df["tweet_id"] = pd.to_numeric(
    df["tweet_id"].str.replace('"', "", regex=False).str.strip().str.lstrip("-"),
).astype("Int64")

In [16]:
df["user_id"] = pd.to_numeric(
    df["user_id"].str.replace('"', "", regex=False).str.strip(),
    errors="coerce"
).astype("Int64")

In [17]:
df["tweet_id"] = df["tweet_id"].abs()
df["user_id"] = df["user_id"].abs()

In [18]:
'''Convertir Int64 con NaN a int normal
El tipo Int64 de pandas admite NaN, pero el tipo NumPy int no. Si tratas de hacer:
df["tweet_id"] = df["tweet_id"].astype(int)
y hay algún NaN, obtendrás un error ValueError: Cannot convert non-finite values (NA or inf) to integer. Por eso:

Opción A: Si quieres mantener posibles NaN, quédate con .astype("Int64") y no hagas el .astype(int) final.

Opción B: Si de verdad no vas a tener NaN, primero rellénalos (.fillna(...)) o elimínalos (.dropna()), y luego convierte a int puro.

'''

'Convertir Int64 con NaN a int normal\nEl tipo Int64 de pandas admite NaN, pero el tipo NumPy int no. Si tratas de hacer:\ndf["tweet_id"] = df["tweet_id"].astype(int)\ny hay algún NaN, obtendrás un error ValueError: Cannot convert non-finite values (NA or inf) to integer. Por eso:\n\nOpción A: Si quieres mantener posibles NaN, quédate con .astype("Int64") y no hagas el .astype(int) final.\n\nOpción B: Si de verdad no vas a tener NaN, primero rellénalos (.fillna(...)) o elimínalos (.dropna()), y luego convierte a int puro.\n\n'

In [19]:
# Function to replace commas with periods and convert to float
''' def corregir_decimales(df, columnas):
    for col in columnas:
        df[col] = df[col].astype(str).str.replace(",", ".", regex=False)  # Reemplazar comas por puntos
        df[col] = pd.to_numeric(df[col], errors="coerce")  # Convertir a float, coerce valores no numéricos a NaN
    return df'''
'''corregir_decimales(df, columnas_a_corregir)'''

'corregir_decimales(df, columnas_a_corregir)'

In [20]:
df['tweet_id'].nunique()

60160

In [21]:
df['tweet_id'].value_counts()

tweet_id
1233417783175778304    1
1223376133770694661    1
1223376141030916102    1
1223376140724842497    1
1223376140213067776    1
                      ..
1223393535904428033    1
1223393535782617088    1
1223393535686250498    1
1223393534683877378    1
1200977067266990080    1
Name: count, Length: 60160, dtype: Int64

In [22]:
df['tweet_id'].agg(['min', 'max', 'mean'])

min     1.200977e+18
max     1.233418e+18
mean    1.224658e+18
Name: tweet_id, dtype: float64

In [23]:
df['user_id'].nunique()

43297

In [24]:
df['user_id'].agg(['min', 'max', 'mean'])

min     8.740000e+02
max     1.229408e+18
mean    3.532302e+17
Name: user_id, dtype: float64

# Duplicated data in "tweet_id" ?

In [25]:
df['tweet_id'].duplicated().sum()/df.shape[0]*100

0.0

# Duplicated data in "user_id" ?

In [26]:
df['user_id'].duplicated().sum()/df.shape[0]*100

28.03025265957447

## Yes, 28%, what can we do?

In [27]:
#df = df.drop_duplicates(subset=["mi_columna"], keep="first")

In [28]:
# lists of type of data
numericas = df.select_dtypes(include=['int', 'float']).columns.tolist()
categoricas = df.select_dtypes(include='object').columns.tolist()

In [29]:
numericas

['tweet_id',
 'retweets_received',
 'likes_received',
 'lat',
 'long',
 'user_id',
 'user_followers',
 'user_following']

In [30]:
# Using round to format numerical columns to 2 decimal places
df[numericas] = df[numericas].apply(pd.to_numeric, errors='coerce')  # Ensure numerical columns are numeric
df[numericas].round(2)

,tweet_id,retweets_received,likes_received,lat,long,user_id,user_followers,user_following
0,1233417783175778304,0,0,NaN,NaN,1556856595,3071,100
1,1233417742520332290,0,0,NaN,NaN,113738369,4189,84
2,1233417741027225602,23,64,NaN,NaN,17980523,534045,10037
3,1233417699264356357,4,11,NaN,NaN,2199541,27704,1060
4,1233417674274807808,0,0,NaN,NaN,17919393,94269,1999
...,...,...,...,...,...,...,...,...
60155,1204309839004012544,0,0,NaN,NaN,588410190,4236,313
60156,1204212528810729479,0,0,NaN,NaN,4719933867,37,259
60157,1204206609708331009,2,28,NaN,NaN,2195288012,2583,822
60158,1201998948950577152,1,17,NaN,NaN,989521438825746433,1326,82
60159,1200977067266990080,0,0,NaN,NaN,2414645220,6527,1233

In [31]:
df["tweet_id"].duplicated().sum()

0

In [32]:
df['retweets_received'].nunique() # display the unique values in the retweets_received column

285

In [33]:
df['retweets_received'].value_counts()

retweets_received
0      51950
1       2340
2       1215
3        737
4        527
       ...
212        1
125        1
86         1
271        1
710        1
Name: count, Length: 285, dtype: int64

In [34]:
df['retweets_received'].agg(['min', 'max', 'mean'])

min         0.000000
max     23832.000000
mean        3.142886
Name: retweets_received, dtype: float64

In [35]:
df['likes_received'].value_counts()

likes_received
0      50011
1       2435
2       1433
3        973
4        649
       ...
392        1
458        1
321        1
427        1
230        1
Name: count, Length: 403, dtype: int64

In [36]:
df["likes_received"].agg(['min', 'max', 'mean'])

min         0.00000
max     17526.00000
mean        5.27259
Name: likes_received, dtype: float64

In [37]:
df["user_followers"].agg(['min', 'max', 'mean'])

min     0.000000e+00
max     2.127516e+07
mean    9.274935e+04
Name: user_followers, dtype: float64

In [38]:
categoricas

['tweet_url',
 'tweet_posted_time_(utc)',
 'tweet_content',
 'tweet_type',
 'client',
 'tweet_location',
 'tweet_language',
 'name',
 'screen_name',
 'user_bio',
 'verified_or_non-verified',
 'profile_url',
 'protected_or_non-protected',
 'user_account_creation_date']

In [39]:
df["tweet_url"].nunique()

60160

In [40]:
df["tweet_url"].duplicated().sum()

0

In [41]:
df['tweet_content'].value_counts().sum()

60160

In [42]:
df['tweet_content'].duplicated().sum()

35217

In [43]:
df['tweet_type'].unique()

array(['Tweet', 'ReTweet', 'Reply'], dtype=object)

In [44]:
df['client'].unique()

array(['Twitter for iPhone', 'Twitter Web App', 'SocialFlow', 'TweetDeck',
       'Twitter Media Studio - LiveCut', 'Twitter for Android',
       'Twitter Web Client', 'Twitter for Advertisers', 'Periscope',
       'Buffer', 'SocialNewsDesk', 'Echobox Social', 'POZ Auto Tweet',
       'Twitter Ads', 'GT_Backend', 'Hootsuite Inc.',
       'Twitter Media Studio', 'aa.com.tr', 'Sprout Social',
       'Twitter VIT App for iOS', 'Facelift-Cloud', 'Instagram',
       'HubSpot', 'China Xinhua News', 'xh_scitech', 'Sprinklr Publisher',
       'Hearsay Social', 'Sprinklr Publishing',
       'Salesforce - Social Studio', 'Falcon Social Media Management ',
       'Castanet', 'Tweetbot for iΟS', 'cmssocialservice', 'Paper.li',
       'Sprinklr', 'Libsyn On-Publish', 'Twitter for iPad',
       'Premium Times Main', 'WordPress.com', 'SocialReport.com',
       'QuickTake by Bloomberg', 'LinkedIn', 'Khoros',
       'YabaLeftOnline Media', 'Grabyo', 'OneCMS Social Connect',
       'AgoraPulse Manager', 'Amplifr', 'IFTTT', 'SnapStream TV Search',
       'CoSchedule', 'DogTrack_Oficial', 'Socialbakers', 'Profit.ly',
       'iDownloadBlog.com', 'Twitterrific for iOS',
       'Blackbird Video Platform/Amplify', 'TeamSight Publisher',
       'Khoros Marketing', 'Wildmoka', 'Missinglettr',
       'Social Media Publisher App ', 'Al Masdar News', 'Squarespace',
       'IOL Tweeter', 'newsgovhk', 'audioBoom', 'dlvr.it', 'PTI_Tweets',
       'National Herald', 'Zoho Social', 'Mailchimp', 'ITWeb Publisher',
       'OBI4wan', 'allAfrica.com', 'BT Production Site',
       'Anvato Live Cloud', 'Pardot', 'XHNorthAmerica',
       'Appleinsider.com ', 'Clickclickme', 'The Social Jukebox',
       'Twitter for Mac', 'Conservative Daily News', 'Wa Co Ca',
       'rate_twitte', 'NextSNAPmy', 'Global Analytica', 'Postcron App',
       'copy, fave retweet', 'InformaBTL', 'TweetCaster for Android',
       'LaterMedia', 'punto read tweets333', 'ultimoinstante', 'dedade',
       'Blog2Social APP', 'mLabs - Gestão de Redes Sociais',
       'MonkeyViral Auto Post', 'Dynamic Signal', 'Sankaku Complex',
       'Metricool Twitter', 'Crowdfire App', 'Tweepsmap',
       'In-House App for rgovconsulting', 'Blogoal.com',
       'CathNews NZ Pacific', 'LaPiragua', 'Cubi.so', 'twittbot.net',
       'News Observatory', 'PostPickr', 'COVID-19 Tracker', 'Stilingue',
       'La Vie Zine', 'Portal SP AGORA', 'SPAGORA', '1buvtw',
       'Stillness Posting Admin', 'bitcoinagile', 'Clarabridge Engage',
       'Social Mediaset ', 'Koyfin Twitter', 'Atweet-3',
       'Seket Aanru LVLII', 'China Daily', 'Mascarillas Antivirus',
       'Tradecaptainmena', 'Metricool', 'Reporte1', 'Atwittfors',
       'Tabtter Free', 'Twuffer', 'Zapier.com', 'thegeniusmedia.com.ng',
       'VP Trusted News', 'Mobile Web (M2)', 'EcoInternet3',
       'TwitPane for Android', 'Corona_Bot', 'Claire stream',
       'generate_tweets', 'tubal', 'viriya', 'Business of media', 'Revue',
       'coronavirus data', 'Stand with Hong Kong', 'Twiny3',
       'floridapolitics.com', 'Republican Tweets', 'stepcounter_tracker',
       'Nuzzel', 'hamoooooon', 'Zazoom Ultima ora', 'Echofon',
       'Targeted Learning', 'Sumanerts', 'MeTweets for Windows Phone',
       'apfelpatient', 'Flamingo for Android', 'Unfaker_ES',
       'CMS O Tempo Online', 'XoCREcom', 'Tweetbot for Mac', 'Oktopost',
       'IntelliTravel Website', 'Plume\xa0for\xa0Android',
       'ツイタマ for Android', 'Bot Libre!', 'StopMadness2', 'Jordan Ritchie',
       'Оwly', 'WhistleBlower Information', 'Capitalurl Tweet Finder',
       'JR Trusted News', 'App Twitter 101011011', 'GroupTweet',
       'jayeshthakur', 'Zazoom Info', 'Memo Forward', 'Codigo-Oculto',
       'Falcon cool', 'Alex Blockchain Bot',
       'auto is the only way it can be ', 'forRetweeting',
       'Appformefeedueue', 'Battement bot', 'breaking news bot',
       'TwitPanePlus', 'Twidere for Android (Deprecated)', 'jayhasgin',
       'Talon (Plus)', 'Microsoft Power Platform', 'feather for iOS  ',
       'SOCi - Simplifying Social Media', 'Twittimer', 'Netvibes Widget',
       'Fenix 2', 'directoalcorreo', 'Typepad', 'ThreadReaderApp',
       'noticias seguridad', 'MeetEdgar', 'FenixApp', 'numerorespuestas',
       'FLSA Today2', 'Tweetlogix', 'Power Systems Design',
       'WhiteBeard CMS', 'CaraotaDigital', 'publichealthaggregator',
       'COPD_bot', 'FalconPro3 BETA', 'jigtwi', 'Auto tweets',
       'Talon Android', 'Spreaker', 'Una Vox', 'Dmr news',
       'AlejandaHernandezApp', 'Twitter for Alexi', 'Scoop.it',
       'ThomasTchussBot', 'TwinyBots', 'Bambu by Sprout Social', '3Drake',
       'BLOX CMS', 'epi_twitter_bot', 'CoronaBot', 'LeggoSocial',
       'SmartTypesBot', 'Tweetings for Android', 'Revive Social App',
       'Comitium5 BAB', 'La Voz de Belice WEB', 'eClincher', 'Seismoblog',
       'HeroNews', 'Market scanner', 'تاریخ', 'Trump Retweet Bot',
       "Banker's Lair", '@mymretaildotcom', 'Coub ', 'One News Page',
       'SausageBot9000', 'Medici_Bank', 'Twibble.io', 'a2zsocialmind',
       'TWP4CS', 'Cloohawk', 'botize nueva', 'EcuaBot 2.0',
       'Finance @ TVC', 'Falcon Pro Material', 'Tapi ', 'Pota APP',
       'CMS Dicom Medios', 'sairaaurangzaib', 'MYM Retail',
       'yathribbasmati@gmail.com', 'MySeattleNews', 'botete',
       'TendenciasTech', '@ReporteNi', 'DiarioSUR', 'TheWhiteHouse',
       'Ted Wilson', 'Cavin', 'StockTwits Web', 'TipsFlows',
       'BenelioFantasyTest', 'All 435 Reps', 'SEMrush Social Media Tool',
       'WKUC Retweets', 'UK Top News', 'Google', 'Bot Sri Lanka', 'Ni 3',
       'OS X', 'erased14001066', 'ZitateRT', 'Testing123jp',
       'tmr - Alternative', '85678g5678h7658h', 'rtgv', 'Coronavirus Bot',
       'politicaltribune.org', 'labnol.org prepperbot v4.3',
       'TF Trusted News', 'Tom Wilson', 'EMZT Podcast and Productions',
       'Integromat', 'Falcon Pro 2015', 'Streamlabs Twitter',
       'TweetCaster for iOS', 'world_news_eng',
       'Flight Claim Companies PL', 'retweet_ecigitesztek',
       'RT Newt Gingrich', 'Twitter Handy', 'Twitcher_jtn',
       'all100Senators', 'Headliner Video', 'Bad News for Trump',
       'Echofon  Android', '超サブ垢キー', 'Edtech genomics', 'M Kelly',
       'Coosto', 'RP ONLINE - Panorama', 'AIT News', 'idntimes live blog',
       'UberSocial for Android'], dtype=object)

In [45]:
df['client'].nunique()

315

In [46]:
df["tweet_location"].value_counts()

tweet_location
United States               702
Beijing, China              385
Venezuela                   303
USA                         303
España                      295
                           ...
Gerringong NSW Australia      1
in my zone                    1
Mérida, España                1
ÜT: 10.169725,-64.650823      1
Jackson Hole, WY              1
Name: count, Length: 14538, dtype: int64

In [47]:
df['tweet_location'].unique()

array([nan, 'Los Angeles CA USA', 'Miami, FL', ...,
       'Pirbright, Surrey, UK', 'The Lair of the Beast',
       'Jackson Hole, WY'], dtype=object)

In [48]:
df['tweet_location'].nunique()

14538

Vamos a crear un diccionario que contenga:

    Países (spain, mexico, canada)

    Siglas (us, uk, gb, es)

    Ciudades populares (madrid, london, new york, etc.)

In [49]:
df['tweet_location_clean'] = df['tweet_location'].astype(str).str.lower().str.strip()

In [50]:
country_mapping = {
    # Países (nombres comunes y siglas)
    'spain': 'es', 'españa': 'es','madrid': 'es', 'barcelona': 'es', 'valencia': 'es', 'sevilla': 'es', 
    'santa cruz de tenerife': 'es', 'santa cruz': 'es', 'tenerife': 'es', 'tenerife': 'es',
    'canary islands': 'es', 'islas canarias': 'es', 'canarias': 'es',
    'mexico': 'mx', 'méxico': 'mx',
    'portugal': 'pt', 
    'bolivia': 'bo', 'bolívia': 'bo',
    'uruguay': 'uy', 'uruguai': 'uy',
    'canada': 'ca',
    'argentina': 'ar',
    'france': 'fr', 'francia': 'fr',
    'germany': 'de', 'alemania': 'de',
    'italy': 'it', 'italia': 'it', 'roma': 'it', 'milán': 'it',
    'brazil': 'br', 'brasil': 'br',
    'colombia': 'co',
    'chile': 'cl',
    'cuba': 'cu', 'cuba': 'cu',
    'el salvador': 'sv', 'san salvador': 'sv',
    'peru': 'pe', 'perú': 'pe',
    'venezuela': 've',
    'ecuador': 'ec',
    'united states': 'us', 'usa': 'us', 'us': 'us', 'eeuu': 'us', 'estados unidos': 'us', 'washington': 'us', 'america': 'us', 'california': 'us',
    'united states of america': 'us', 'estados unidos de américa': 'us', 'new york': 'us', 'ny': 'us', 'los angeles': 'us', 'la': 'us', 'chicago': 'us', 'miami': 'us', 'houston': 'us',
    'united kingdom': 'gb', 'uk': 'gb', 'great britain': 'gb', 'reino unido': 'gb',
    'japan': 'jp', 'japón': 'jp', 'ottawa': 'jp', 'tokyo': 'jp', 'osaka': 'jp',
    'canada': 'ca', 'canadá': 'ca', 'toronto': 'ca', 'vancouver': 'ca', 'montreal': 'ca',
    'china': 'cn', 'hong kong': 'cn', 'hongkong': 'cn', 'taiwan': 'tw',
    'south korea': 'kr', 'korea': 'kr', 'south korea': 'kr', 'corea del sur': 'kr',
    'australia': 'au',
    'nigeria': 'ng', 'nigeria': 'ng',
    'south africa': 'za', 'sudáfrica': 'za',
    'india': 'in',
    'russia': 'ru', 'rusia': 'ru',
    'panama': 'pa', 'panamá': 'pa',
    'philippines': 'ph', 'filipinas': 'ph',
    'singapore': 'sg', 'singapur': 'sg',
    'indonesia': 'id', 'indonesia': 'id',
    'malaysia': 'my', 'malasia': 'my',
    'paraguay': 'py', 'paraguai': 'py',

    # Ciudades populares
    'madrid': 'es', 'barcelona': 'es', 'valencia': 'es', 'sevilla': 'es',
    'mexico city': 'mx', 'cdmx': 'mx', 'guadalajara': 'mx', 'monterrey': 'mx',
    'buenos aires': 'ar', 'cordoba': 'ar', 'rosario': 'ar',
    'paris': 'fr', 'marseille': 'fr',
    'berlin': 'de', 'munich': 'de',
    'rome': 'it', 'milan': 'it',
    'lisbon': 'pt', 'lisboa': 'pt',
    'brussels': 'be', 'bruxelles': 'be',
    'israel': 'il', 'tel aviv': 'il', 'jerusalem': 'il',
    'sao paulo': 'br', 'rio de janeiro': 'br',
    'bogota': 'co', 'medellin': 'co',
    'santiago': 'cl', 
    'dubai' : 'ae', 'abu dhabi': 'ae',
    'havana': 'cu', 'la habana': 'cu',
    'lebanon': 'lb', 'beirut': 'lb',
    'lima': 'pe',
    'caracas': 've',
    'pakistan': 'pk', 'karachi': 'pk', 'lahore': 'pk', 'islamabad': 'pk',
    'new york': 'us', 'nyc': 'us', 'los angeles': 'us', 'la': 'us', 'chicago': 'us', 'miami': 'us', 'houston': 'us', 
    'san diego': 'us', 'florida': 'us', 'atlanta': 'us', 'dallas': 'us', 'phoenix': 'us', 'austin': 'us', 'detroit': 'us',
    'washington dc': 'us', 'dc': 'us', 'boston': 'us', 'philadelphia': 'us', 'san francisco': 'us', 'sf': 'us', 'seattle': 'us', 'texas': 'us',
    'london': 'gb', 'manchester': 'gb', 'birmingham': 'gb',
    'tokyo': 'jp', 'osaka': 'jp',
    'beijing': 'cn', 'shanghai': 'cn',
    'sydney': 'au', 'melbourne': 'au',
    'istanbul': 'tr', 'ankara': 'tr',
    'cairo': 'eg', 'alexandria': 'eg',
    'delhi': 'in', 'mumbai': 'in',
    'moscow': 'ru', 'saint petersburg': 'ru',
    'toronto': 'ca', 'vancouver': 'ca', 'montreal': 'ca',
}

In [51]:
def extraer_pais(location, mapping):
    if not isinstance(location, str):
        return 'other'

    location = location.lower()
    for key, iso in mapping.items():
        if key in location:
            return iso
    return 'other'

In [52]:
df['pais_iso2'] = df['tweet_location_clean'].apply(lambda x: extraer_pais(x, country_mapping))

In [53]:
df[df['pais_iso2'] == 'other']['tweet_location_clean'].value_counts().head(50)

tweet_location_clean
nan                                       19540
earth                                       138
türkiye                                     100
nairobi                                      97
global                                       88
i̇stanbul, türkiye                           80
worldwide                                    67
localhost                                    63
everywhere                                   55
europe                                       45
world                                        42
minneapolis, mn                              34
대한민국 서울                                      33
🌎                                            33
internet                                     29
ciudad autónoma de buenos aire               27
active locally globally                      26
🇵🇭                                           26
hell                                         24
puerto rico                                  23
sacramento, ca                               23
香港                                           23
calgary, alberta                             22
🇫🇷                                           22
online                                       22
.                                            22
guayaquil                                    22
san jose, ca                                 22
montréal                                     21
somewhere                                    21
torino, piemonte                             21
canberra                                     21
tampa, fl                                    21
past perf no guarantee of futr results       20
the deep south 👈🙏⚓🌎🇺🇸1⃣🆒                     20
pittsburgh, pa                               20
quito                                        20
日本                                           20
san antonio, tx                              20
she/her                                      20
denver, co                                   20
polska                                       19
colorado                                     19
mekke                                        19
spokane, wa                                  19
nsw                                          19
maldives                                     19
湖南, 中华人民共和国                                  19
ghana                                        18
michigan                                     18
Name: count, dtype: int64

 # python library Location

In [54]:
# Esto llama al pip del mismo intérprete que Jupyter está usando
import sys
!{sys.executable} -m pip install pycountry

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pycountry in c:\users\noeli\appdata\roaming\python\python312\site-packages (24.6.1)

In [55]:
import pycountry

# Imputar Nulos de tweet_location

In [56]:
print("Filas antes:", (df['pais_iso2'] == 'other').sum())
df = df.dropna(subset=['tweet_location_clean'])
print("Filas después:", (df['pais_iso2'] == 'other').sum())

Filas antes: 33258
Filas después: 33258

In [57]:
df[df['pais_iso2'] == 'other']['tweet_location_clean'].value_counts().head(50)

tweet_location_clean
nan                                       19540
earth                                       138
türkiye                                     100
nairobi                                      97
global                                       88
i̇stanbul, türkiye                           80
worldwide                                    67
localhost                                    63
everywhere                                   55
europe                                       45
world                                        42
minneapolis, mn                              34
대한민국 서울                                      33
🌎                                            33
internet                                     29
ciudad autónoma de buenos aire               27
active locally globally                      26
🇵🇭                                           26
hell                                         24
puerto rico                                  23
sacramento, ca                               23
香港                                           23
calgary, alberta                             22
🇫🇷                                           22
online                                       22
.                                            22
guayaquil                                    22
san jose, ca                                 22
montréal                                     21
somewhere                                    21
torino, piemonte                             21
canberra                                     21
tampa, fl                                    21
past perf no guarantee of futr results       20
the deep south 👈🙏⚓🌎🇺🇸1⃣🆒                     20
pittsburgh, pa                               20
quito                                        20
日本                                           20
san antonio, tx                              20
she/her                                      20
denver, co                                   20
polska                                       19
colorado                                     19
mekke                                        19
spokane, wa                                  19
nsw                                          19
maldives                                     19
湖南, 中华人民共和国                                  19
ghana                                        18
michigan                                     18
Name: count, dtype: int64

In [58]:
# Ver cuántos registros están realmente vacíos o son solo espacios
df['tweet_location_clean'].apply(lambda x: isinstance(x, str) and x.strip() == '').sum()

17

In [59]:
df = df[df['tweet_location_clean'].str.strip() != '']  # Quita vacíos

In [60]:
df = df[~df['tweet_location_clean'].isna()]  # Quita NaN

In [61]:
df = df.loc[df['tweet_location_clean'] != "nan"]

In [62]:
df = df.loc[
    df['tweet_location_clean'].notna() & 
    (df['tweet_location_clean'].str.strip() != "") & 
    (df['tweet_location_clean'].str.lower().str.strip() != "nan")
]

In [63]:
df['tweet_location_clean'].value_counts().head(50)  # Ver los más comunes después de limpiar

tweet_location_clean
united states                  706
beijing, china                 385
venezuela                      366
usa                            322
españa                         319
washington, dc                 297
new york, ny                   277
méxico                         273
hong kong                      263
australia                      263
france                         254
ecuador                        243
india                          229
california, usa                223
canada                         212
london, england                210
paris, france                  208
london                         205
madrid                         187
italia                         185
earth                          138
mexico                         135
philippines                    131
san francisco, ca              131
madrid, comunidad de madrid    123
caracas, venezuela             123
united kingdom                 121
florida, usa                   119
new york                       119
boston, ma                     115
los angeles, ca                114
texas, usa                     111
toronto, ontario               104
brasil                         104
london, uk                     102
new york, usa                  100
türkiye                        100
nairobi                         97
atlanta, ga                     97
shanghai                        97
malaysia                        96
beijing                         94
chile                           92
argentina                       90
global                          88
paris                           88
madrid, españa                  88
roma, lazio                     87
italy                           86
chicago, il                     84
Name: count, dtype: int64

In [64]:
df[df['pais_iso2'] == 'other']['tweet_location_clean'].value_counts()/ df.shape[0] * 100  # Ver el porcentaje de 'other'

tweet_location_clean
earth                    0.339876
türkiye                  0.246287
nairobi                  0.238899
global                   0.216733
i̇stanbul, türkiye       0.197030
                           ...
vers le là-bas           0.002463
251                      0.002463
five points manhattan    0.002463
นนทบุรี อยุธยา ปทุม      0.002463
jackson hole, wy         0.002463
Name: count, Length: 7203, dtype: float64

In [65]:
df[df['pais_iso2'] == 'other']['tweet_location_clean'].value_counts().sum()/ df.shape[0] * 100

33.74381203359358

# Drop columnas nulas

In [66]:
import matplotlib.pyplot as plt # to plot the data
import os # to check if the file exists
import sys # to get the command line arguments
import seaborn as sns # to create the heatmap

In [67]:
df["lat"].isnull().sum() # check if there are any missing values in the lat column

40584

In [68]:
df["long"].isnull().sum() # check if there are any missing values in the lon column

40584

In [69]:
df = df.drop(['lat', 'long'], axis=1)

In [70]:
df.head(3) # display the first 5 rows of the dataframe after dropping the lat and long columns

,tweet_id,tweet_url,tweet_posted_time_(utc),tweet_content,tweet_type,client,retweets_received,likes_received,tweet_location,tweet_language,user_id,name,screen_name,user_bio,verified_or_non-verified,profile_url,protected_or_non-protected,user_followers,user_following,user_account_creation_date,tweet_location_clean,pais_iso2
1,1233417742520332290,https://twitter.com/LAMofficial/status/1233417...,28 Feb 2020 15:44:40,World Health Org Official: Trump’s press confe...,Tweet,Twitter Web App,0,0,Los Angeles CA USA,English,113738369,London After Midnight,LAMofficial,London After Midnight is a music project by wr...,Verified,https://twitter.com/LAMofficial,Non-Protected,4189,84,12 Feb 2010 21:43:17,los angeles ca usa,us
2,1233417741027225602,https://twitter.com/mitchellvii/status/1233417...,28 Feb 2020 15:44:39,"I mean, Liberals are cheer-leading this #Coron...",Tweet,Twitter Web App,23,64,"Miami, FL",English,17980523,Bill Mitchell,mitchellvii,Host of YourVoice™ America at http://yourvoice...,Verified,https://twitter.com/mitchellvii,Non-Protected,534045,10037,09 Dec 2008 01:54:21,"miami, fl",us
3,1233417699264356357,https://twitter.com/HelenKennedy/status/123341...,28 Feb 2020 15:44:29,"Under repeated questioning, Pompeo refuses to ...",Tweet,Twitter for iPhone,4,11,NYC and the North Fork,English,2199541,Helen Kennedy,HelenKennedy,Newspaperman (ex NY Daily News &amp; Boston He...,Verified,https://twitter.com/HelenKennedy,Non-Protected,27704,1060,25 Mar 2007 19:14:46,nyc and the north fork,us