In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df_precios = pd.read_csv("files/precios_productos.csv", index_col=0)

df_precios.head()

,price,reference_price,product_id,reference_unit,insert_date
6837303,"0,7","0,7",9b1d806ddaed2a3b4c842c361e9171a8,ud,2022-06-08 00:00:00
5137438,"3,19","10,63",baf038a3f001812899adb8beaf4e0ec7,kg,2022-02-10 00:00:00
6005999,"3,99","15,96",ca2fc753e5ea44e8c95888983c1dafe1,l,2022-04-11 00:00:00
6995217,"3,39","5,22",48c959cc94d6d82d1151189b2abe9e83,l,2022-06-19 00:00:00
5760664,"2,79","0,47",8904722366039ba8f147e2e75a5d1ce1,ud,2022-03-25 00:00:00

In [3]:
df_precios.shape

(1000000, 5)

no tienes sentido a que los tipos de dato no son los correctos

In [7]:
df_precios.describe().T

                   count unique                               top    freq
price             999999   1026                              1,99   33376
reference_price   999999   2876                              1,99    6587
product_id       1000000   9469  dec17046c7afb4e5a02252f79738045b     368
reference_unit    998391      5                                kg  496396
insert_date      1000000    382               2021-11-07 00:00:00    2828

In [ ]:
# nos quedamos con una muestra de los datos porque e4l df es muy grande
# df_precios = df_precios.sample(200000)

In [5]:
df_precios.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1000000 entries, 6837303 to 5813238
Data columns (total 5 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   price            999999 non-null   object
 1   reference_price  999999 non-null   object
 2   product_id       1000000 non-null  object
 3   reference_unit   998391 non-null   object
 4   insert_date      1000000 non-null  object
dtypes: object(5)
memory usage: 45.8+ MB

In [9]:
df_precios.isna().sum()/df_precios.shape[0]*100

price              0.0001
reference_price    0.0001
product_id         0.0000
reference_unit     0.1609
insert_date        0.0000
dtype: float64

In [10]:
df_precios.duplicated().sum()

np.int64(0)

In [12]:
df_prod = pd.read_csv("files/productos_dia.csv", index_col=0)

df_prod.head(2)

,url,supermarket,name,description,product_id
2362486,https://www.dia.es/compra-online/cuidado-del-h...,dia-es,MISTOL lavavajillas mano original botella 900 ml,NaN,9e2fda45e63337294f2a604178823026
2362487,https://www.dia.es/compra-online/cuidado-del-h...,dia-es,DIA lavavajillas máquina premium todo en uno e...,NaN,244994c762813d38881cb118742152a2

In [13]:
df_prod.shape

(11494, 5)

In [14]:
df_prod.info()

<class 'pandas.core.frame.DataFrame'>
Index: 11494 entries, 2362486 to 7838355
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   url          11494 non-null  object
 1   supermarket  11494 non-null  object
 2   name         11494 non-null  object
 3   description  0 non-null      float64
 4   product_id   11494 non-null  object
dtypes: float64(1), object(4)
memory usage: 538.8+ KB

In [15]:
df_prod.describe().T

             count  mean  std  min  25%  50%  75%  max
description    0.0   NaN  NaN  NaN  NaN  NaN  NaN  NaN

In [16]:
df_prod.describe(include="O").T

,count,unique,top,freq
url,11494,10245,https://www.dia.es/compra-online/frescos/fruta...,7
supermarket,11494,1,dia-es,11494
name,11494,10767,Ciruela roja cesta 500 gr,3
product_id,11494,9496,cd3f6bc51b2d934c1e46b0136ed62779,8

In [18]:
df_prod.duplicated().sum()

np.int64(0)

In [23]:
df_prod[df_prod["product_id"].duplicated()].sort_values("product_id").head(3)

,url,supermarket,name,description,product_id
4525857,https://www.dia.es/compra-online/congelados/pe...,dia-es,DIA MARI MARINERA medallones de merluza del ca...,NaN,0008afbaae96e6003d71de151a2ec67b
4917259,https://www.dia.es/compra-online/platos-prepar...,dia-es,DIA AL PUNTO cocido madrileño lata 440 gr,NaN,000d481c0e60b87db07bd8e395e505de
4019287,https://www.dia.es/compra-online/despensa/arro...,dia-es,DIA AL PUNTO cocido madrileño lata 440 gr,NaN,000d481c0e60b87db07bd8e395e505de

In [35]:
df_prod["product_id"].value_counts()

product_id
cd3f6bc51b2d934c1e46b0136ed62779    8
5d2d1ed4575049c5cf5bea27ea6bad2c    7
2f268ae7ec6b26d49f1f463c4dd49244    6
b9c8b94b603a4b69e4454717730eab8c    5
8cbd3b92d31f10e7bcaafce818654e62    5
                                   ..
6f4d88f0a4086815d84d8ded55b4952b    1
7de400a481c91edf1c8f7dc9936e0f5e    1
5c110b54fc971385c8ff63c61335ccb2    1
c1b6a4c537bd007c158207d09bac8ce6    1
244994c762813d38881cb118742152a2    1
Name: count, Length: 9496, dtype: int64

In [36]:
df_revisar = df_prod[df_prod.duplicated(subset="product_id", keep=False)].sort_values("product_id")

df_revisar.to_csv("files/revisar.csv")

In [33]:
df_prod[df_prod.duplicated(subset="product_id", keep=False)].sort_values("product_id").iloc[2,2]

'DIA cocido madrileño lata 440 gr'

In [34]:
df_prod[df_prod.duplicated(subset="product_id", keep=False)].sort_values("product_id").iloc[3,2]

'DIA AL PUNTO cocido madrileño lata 440 gr'

df[df.duplicated(subset="columna", keep=False)].sort_values("columna"): valores duplicados en una columna ordenados de forma descendente. Keep: False muestra todos los duplicados, first el primer resultado de los duplicados, last el último

In [38]:
df_prod_no_dup = df_prod.drop_duplicates(subset="product_id", keep="last")
df_prod_no_dup.head()

,url,supermarket,name,description,product_id
2362486,https://www.dia.es/compra-online/cuidado-del-h...,dia-es,MISTOL lavavajillas mano original botella 900 ml,NaN,9e2fda45e63337294f2a604178823026
2362487,https://www.dia.es/compra-online/cuidado-del-h...,dia-es,DIA lavavajillas máquina premium todo en uno e...,NaN,244994c762813d38881cb118742152a2
2362489,https://www.dia.es/compra-online/cuidado-del-h...,dia-es,FAIRY lavavajillas máquina platinum plus limón...,NaN,2cd7ea87b1963adb51d8e1295f6c14d3
2362501,https://www.dia.es/compra-online/cuidado-del-h...,dia-es,FAIRY lavavajillas mano concentrado aloe vera ...,NaN,4abac3d30922f81012d7ae0c2cd955f2
2362502,https://www.dia.es/compra-online/cuidado-del-h...,dia-es,DIA lavavajillas mano super concentrado botell...,NaN,bfa1e29fbdded3b51541e3c6ebb4b8ac

In [39]:
df_prod_no_dup.duplicated(subset="product_id").sum()

np.int64(0)

In [40]:
df_prod_no_dup.isna().sum()/df_prod_no_dup.shape[0]*100

url              0.0
supermarket      0.0
name             0.0
description    100.0
product_id       0.0
dtype: float64

In [42]:
df_prod_no_dup.drop(columns=["description"], inplace=True)

df_prod_no_dup.head()

C:\Users\cesar\AppData\Local\Temp\ipykernel_20704\1329032205.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_prod_no_dup.drop(columns=["description"], inplace=True)

,url,supermarket,name,product_id
2362486,https://www.dia.es/compra-online/cuidado-del-h...,dia-es,MISTOL lavavajillas mano original botella 900 ml,9e2fda45e63337294f2a604178823026
2362487,https://www.dia.es/compra-online/cuidado-del-h...,dia-es,DIA lavavajillas máquina premium todo en uno e...,244994c762813d38881cb118742152a2
2362489,https://www.dia.es/compra-online/cuidado-del-h...,dia-es,FAIRY lavavajillas máquina platinum plus limón...,2cd7ea87b1963adb51d8e1295f6c14d3
2362501,https://www.dia.es/compra-online/cuidado-del-h...,dia-es,FAIRY lavavajillas mano concentrado aloe vera ...,4abac3d30922f81012d7ae0c2cd955f2
2362502,https://www.dia.es/compra-online/cuidado-del-h...,dia-es,DIA lavavajillas mano super concentrado botell...,bfa1e29fbdded3b51541e3c6ebb4b8ac

In [44]:
df_unido = df_prod_no_dup.merge(df_precios, on=["product_id"], how="left")
df_unido.head()

,url,supermarket,name,product_id,price,reference_price,reference_unit,insert_date
0,https://www.dia.es/compra-online/cuidado-del-h...,dia-es,MISTOL lavavajillas mano original botella 900 ml,9e2fda45e63337294f2a604178823026,"1,59","1,59",ud,2021-08-14 00:00:00
1,https://www.dia.es/compra-online/cuidado-del-h...,dia-es,MISTOL lavavajillas mano original botella 900 ml,9e2fda45e63337294f2a604178823026,"1,59","1,59",ud,2021-08-17 00:00:00
2,https://www.dia.es/compra-online/cuidado-del-h...,dia-es,MISTOL lavavajillas mano original botella 900 ml,9e2fda45e63337294f2a604178823026,"1,59","1,59",ud,2021-08-02 00:00:00
3,https://www.dia.es/compra-online/cuidado-del-h...,dia-es,MISTOL lavavajillas mano original botella 900 ml,9e2fda45e63337294f2a604178823026,"1,59","1,59",ud,2021-08-08 00:00:00
4,https://www.dia.es/compra-online/cuidado-del-h...,dia-es,MISTOL lavavajillas mano original botella 900 ml,9e2fda45e63337294f2a604178823026,"1,59","1,59",ud,2021-08-18 00:00:00

In [ ]:
# df_unido = df_precios.merge(df_prod_no_dup, on=["product_id"], how="right")

# df_unido.head()

,price,reference_price,product_id,reference_unit,insert_date,url,supermarket,name
0,"1,59","1,59",9e2fda45e63337294f2a604178823026,ud,2021-08-14 00:00:00,https://www.dia.es/compra-online/cuidado-del-h...,dia-es,MISTOL lavavajillas mano original botella 900 ml
1,"1,59","1,59",9e2fda45e63337294f2a604178823026,ud,2021-08-17 00:00:00,https://www.dia.es/compra-online/cuidado-del-h...,dia-es,MISTOL lavavajillas mano original botella 900 ml
2,"1,59","1,59",9e2fda45e63337294f2a604178823026,ud,2021-08-02 00:00:00,https://www.dia.es/compra-online/cuidado-del-h...,dia-es,MISTOL lavavajillas mano original botella 900 ml
3,"1,59","1,59",9e2fda45e63337294f2a604178823026,ud,2021-08-08 00:00:00,https://www.dia.es/compra-online/cuidado-del-h...,dia-es,MISTOL lavavajillas mano original botella 900 ml
4,"1,59","1,59",9e2fda45e63337294f2a604178823026,ud,2021-08-18 00:00:00,https://www.dia.es/compra-online/cuidado-del-h...,dia-es,MISTOL lavavajillas mano original botella 900 ml

In [45]:
df_unido.drop(columns=["supermarket"], inplace=True)

In [46]:
df_unido.head()

,url,name,product_id,price,reference_price,reference_unit,insert_date
0,https://www.dia.es/compra-online/cuidado-del-h...,MISTOL lavavajillas mano original botella 900 ml,9e2fda45e63337294f2a604178823026,"1,59","1,59",ud,2021-08-14 00:00:00
1,https://www.dia.es/compra-online/cuidado-del-h...,MISTOL lavavajillas mano original botella 900 ml,9e2fda45e63337294f2a604178823026,"1,59","1,59",ud,2021-08-17 00:00:00
2,https://www.dia.es/compra-online/cuidado-del-h...,MISTOL lavavajillas mano original botella 900 ml,9e2fda45e63337294f2a604178823026,"1,59","1,59",ud,2021-08-02 00:00:00
3,https://www.dia.es/compra-online/cuidado-del-h...,MISTOL lavavajillas mano original botella 900 ml,9e2fda45e63337294f2a604178823026,"1,59","1,59",ud,2021-08-08 00:00:00
4,https://www.dia.es/compra-online/cuidado-del-h...,MISTOL lavavajillas mano original botella 900 ml,9e2fda45e63337294f2a604178823026,"1,59","1,59",ud,2021-08-18 00:00:00

In [47]:
df_unido.shape

(1000027, 7)

In [48]:
def cambiar_float(dato):
    try:
        return float(dato.replace(",", "."))
    
    except:
        return np.nan

In [53]:
x = "2,3"

cambiar_float(x)

2.3

In [58]:
df_precios["price"].unique()

array([nan])

In [56]:
columnas = ["price","reference_price"]

for col in columnas:
    df_unido[col] = df_unido[col].apply(cambiar_float)

In [57]:
df_unido.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000027 entries, 0 to 1000026
Data columns (total 7 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   url              1000027 non-null  object
 1   name             1000027 non-null  object
 2   product_id       1000027 non-null  object
 3   price            999999 non-null   float64
 4   reference_price  999999 non-null   float64
 5   reference_unit   998391 non-null   object
 6   insert_date      1000000 non-null  object
dtypes: float64(2), object(5)
memory usage: 53.4+ MB

In [59]:
df_unido.head(2)

,url,name,product_id,price,reference_price,reference_unit,insert_date
0,https://www.dia.es/compra-online/cuidado-del-h...,MISTOL lavavajillas mano original botella 900 ml,9e2fda45e63337294f2a604178823026,1.59,1.59,ud,2021-08-14 00:00:00
1,https://www.dia.es/compra-online/cuidado-del-h...,MISTOL lavavajillas mano original botella 900 ml,9e2fda45e63337294f2a604178823026,1.59,1.59,ud,2021-08-17 00:00:00

In [ ]:
df_unido["insert_date"].str.split(" ").str[0]

0          2021-08-14
1          2021-08-17
2          2021-08-02
3          2021-08-08
4          2021-08-18
              ...
1000022    2022-01-03
1000023    2022-06-04
1000024    2022-07-01
1000025    2022-01-19
1000026    2022-02-13
Name: insert_date, Length: 1000027, dtype: object

In [75]:
df_unido["insert_date"].str.split(" ", expand=True).get(0)

0          2021-08-14
1          2021-08-17
2          2021-08-02
3          2021-08-08
4          2021-08-18
              ...
1000022    2022-01-03
1000023    2022-06-04
1000024    2022-07-01
1000025    2022-01-19
1000026    2022-02-13
Name: 0, Length: 1000027, dtype: object

In [66]:
df_unido["date"] = df_unido["insert_date"].str.split(" ").str[0]

df_unido.head()

,url,name,product_id,price,reference_price,reference_unit,insert_date,date
0,https://www.dia.es/compra-online/cuidado-del-h...,MISTOL lavavajillas mano original botella 900 ml,9e2fda45e63337294f2a604178823026,1.59,1.59,ud,2021-08-14 00:00:00,2021-08-14
1,https://www.dia.es/compra-online/cuidado-del-h...,MISTOL lavavajillas mano original botella 900 ml,9e2fda45e63337294f2a604178823026,1.59,1.59,ud,2021-08-17 00:00:00,2021-08-17
2,https://www.dia.es/compra-online/cuidado-del-h...,MISTOL lavavajillas mano original botella 900 ml,9e2fda45e63337294f2a604178823026,1.59,1.59,ud,2021-08-02 00:00:00,2021-08-02
3,https://www.dia.es/compra-online/cuidado-del-h...,MISTOL lavavajillas mano original botella 900 ml,9e2fda45e63337294f2a604178823026,1.59,1.59,ud,2021-08-08 00:00:00,2021-08-08
4,https://www.dia.es/compra-online/cuidado-del-h...,MISTOL lavavajillas mano original botella 900 ml,9e2fda45e63337294f2a604178823026,1.59,1.59,ud,2021-08-18 00:00:00,2021-08-18

In [67]:
df_unido["date"] = pd.to_datetime(df_unido["date"])

df_unido.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000027 entries, 0 to 1000026
Data columns (total 8 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   url              1000027 non-null  object
 1   name             1000027 non-null  object
 2   product_id       1000027 non-null  object
 3   price            999999 non-null   float64
 4   reference_price  999999 non-null   float64
 5   reference_unit   998391 non-null   object
 6   insert_date      1000000 non-null  object
 7   date             1000000 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(2), object(5)
memory usage: 61.0+ MB

In [77]:
df_unido["date"].dt.year

0          2021.0
1          2021.0
2          2021.0
3          2021.0
4          2021.0
            ...
1000022    2022.0
1000023    2022.0
1000024    2022.0
1000025    2022.0
1000026    2022.0
Name: date, Length: 1000027, dtype: float64

In [84]:
df_unido["url"][0].split("/")

['https:',
 '',
 'www.dia.es',
 'compra-online',
 'cuidado-del-hogar',
 'lavavajillas',
 'p',
 '181184']

In [ ]:
df_unido.head()

In [1]:
## otra función para obtener categorias y subcategorias
def sacar_info(x):
    if "al-dia" in x:
        return "frescos", x.split("/")[5]

    elif "bulto-mixto" in x or "peso" in x or "caducidad" in x or "clasificacion-de-categorias" in x:
        return x.split("/")[5], x.split("/")[6]
        
    else:
        return x.split("/")[4], x.split("/")[5]

In [5]:
sacar_info("https://www.dia.es/compra-online/cuidado-personal/bano-e-higiene-personal/cuidado-del-cabello/p/283797")

('cuidado-personal', 'bano-e-higiene-personal')

In [ ]:
df_unido[["categoria", "subcategoria"]] = df_unido.apply(lambda x: sacar_info(x["url"]), axis=1, result_type="expand")