SALARIO:
todas las que son rate es por lo que vende la empresa al empleado.

    - columnas salario unificar: HourlyRate: Tarifa por hora calculada.(eliminar)

    - MonthlyIncome: Ingreso mensual estimado en base al salario anual.

    - MonthlyRate: Tarifa mensual estimada en función de la tarifa diaria.

    - PercentSalaryHike: Incremento porcentual en el salario...al año? desde que entro en la empresa?

    - WORKLIFEBALANCE: Nivel de balance entre vida personal y laboral.

    - Salary: Salario anual calculado para el empleado. ES OBJETC PASAR A FLOAT
    
    - HourlyRate: Tarifa por hora calculada. ELIMINAR

In [63]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [64]:
data = pd.read_csv("hr_raw_data.csv", index_col = 0)

In [65]:
data.head(5)

,age,attrition,businesstravel,dailyrate,department,distancefromhome,education,educationfield,employeecount,employeenumber,environmentsatisfaction,gender,hourlyrate,jobinvolvement,joblevel,jobrole,jobsatisfaction,maritalstatus,monthlyincome,monthlyrate,numcompaniesworked,over18,overtime,percentsalaryhike,performancerating,relationshipsatisfaction,standardhours,stockoptionlevel,totalworkingyears,trainingtimeslastyear,worklifebalance,yearsatcompany,yearsincurrentrole,yearssincelastpromotion,yearswithcurrmanager,sameasmonthlyincome,datebirth,salary,roledepartament,numberchildren,remotework
0,51,No,NaN,2015.722222,NaN,6,3,NaN,1,1,1,0,NaN,3,5,resEArch DIREcToR,3,NaN,"16280,83$","42330,17$",7,Y,No,13,"3,0",3,Full Time,0,NaN,5,"3,0",20,NaN,15,15,"16280,83$",1972,"195370,00$",NaN,NaN,Yes
1,52,No,NaN,2063.388889,NaN,1,4,Life Sciences,1,2,3,0,NaN,2,5,ManAGeR,3,NaN,NaN,"43331,17$",0,NaN,NaN,14,"3,0",1,NaN,1,"34,0",5,"3,0",33,NaN,11,9,NaN,1971,"199990,00$",NaN,NaN,1
2,42,No,travel_rarely,1984.253968,Research & Development,4,2,Technical Degree,1,3,3,0,NaN,3,5,ManaGER,4,Married,NaN,"41669,33$",1,NaN,No,11,"3,0",4,NaN,0,"22,0",3,NaN,22,NaN,11,15,NaN,1981,"192320,00$",ManaGER - Research & Development,NaN,1
3,47,No,travel_rarely,1771.404762,NaN,2,4,Medical,1,4,1,1,NaN,3,4,ReseArCH DIrECtOr,3,Married,"14307,50$","37199,50$",3,Y,NaN,19,"3,0",2,Full Time,2,NaN,2,NaN,20,NaN,5,6,"14307,50$",1976,"171690,00$",NaN,NaN,False
4,46,No,NaN,1582.771346,NaN,3,3,Technical Degree,1,5,1,1,NaN,4,4,sAleS EXECUtIve,1,Divorced,"12783,92$","33238,20$",2,Y,No,12,"3,0",4,NaN,1,NaN,5,"3,0",19,NaN,2,8,"12783,92$",1977,NaN,NaN,NaN,0

In [66]:
data.columns

Index(['age', 'attrition', 'businesstravel', 'dailyrate', 'department',
       'distancefromhome', 'education', 'educationfield', 'employeecount',
       'employeenumber', 'environmentsatisfaction', 'gender', 'hourlyrate',
       'jobinvolvement', 'joblevel', 'jobrole', 'jobsatisfaction',
       'maritalstatus', 'monthlyincome', 'monthlyrate', 'numcompaniesworked',
       'over18', 'overtime', 'percentsalaryhike', 'performancerating',
       'relationshipsatisfaction', 'standardhours', 'stockoptionlevel',
       'totalworkingyears', 'trainingtimeslastyear', 'worklifebalance',
       'yearsatcompany', 'yearsincurrentrole', 'yearssincelastpromotion',
       'yearswithcurrmanager', 'sameasmonthlyincome', 'datebirth', 'salary',
       'roledepartament', 'numberchildren', 'remotework'],
      dtype='object')

In [67]:
len(data.columns)

41

In [68]:
data.columns[:10]

Index(['age', 'attrition', 'businesstravel', 'dailyrate', 'department',
       'distancefromhome', 'education', 'educationfield', 'employeecount',
       'employeenumber'],
      dtype='object')

In [69]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1678 entries, 0 to 1677
Data columns (total 41 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   age                       1678 non-null   object
 1   attrition                 1678 non-null   object
 2   businesstravel            877 non-null    object
 3   dailyrate                 1678 non-null   float64
 4   department                312 non-null    object
 5   distancefromhome          1678 non-null   int64
 6   education                 1678 non-null   int64
 7   educationfield            904 non-null    object
 8   employeecount             1678 non-null   int64
 9   employeenumber            1678 non-null   int64
 10  environmentsatisfaction   1678 non-null   int64
 11  gender                    1678 non-null   int64
 12  hourlyrate                411 non-null    float64
 13  jobinvolvement            1678 non-null   int64
 14  joblevel                  1678 non-null   int64
 15  jobrole                   1678 non-null   object
 16  jobsatisfaction           1678 non-null   int64
 17  maritalstatus             1003 non-null   object
 18  monthlyincome             1189 non-null   object
 19  monthlyrate               1678 non-null   object
 20  numcompaniesworked        1678 non-null   int64
 21  over18                    740 non-null    object
 22  overtime                  982 non-null    object
 23  percentsalaryhike         1678 non-null   int64
 24  performancerating         1478 non-null   object
 25  relationshipsatisfaction  1678 non-null   int64
 26  standardhours             1327 non-null   object
 27  stockoptionlevel          1678 non-null   int64
 28  totalworkingyears         1129 non-null   object
 29  trainingtimeslastyear     1678 non-null   int64
 30  worklifebalance           1564 non-null   object
 31  yearsatcompany            1678 non-null   int64
 32  yearsincurrentrole        35 non-null     object
 33  yearssincelastpromotion   1678 non-null   int64
 34  yearswithcurrmanager      1678 non-null   int64
 35  sameasmonthlyincome       1189 non-null   object
 36  datebirth                 1678 non-null   int64
 37  salary                    1393 non-null   object
 38  roledepartament           312 non-null    object
 39  numberchildren            0 non-null      float64
 40  remotework                1678 non-null   object
dtypes: float64(3), int64(18), object(20)
memory usage: 550.6+ KB

### Observación y limpieza de datos en columnas desde Age a employeenumber ###

In [70]:
data.shape

(1678, 41)

In [71]:
print(f"El número de filas de mi df es {data.shape[0]}, y el número de columnas es {df_raw_data.shape[1]}.")

El número de filas de mi df es 1678, y el número de columnas es 41.

In [72]:
# describe para sacar los principales estadísticos del DataFrame
data.describe().T

,count,mean,std,min,25%,50%,75%,max
dailyrate,1678.0,668.079714,470.787298,104.103175,290.035510,556.256661,971.956349,2063.388889
distancefromhome,1678.0,4.504172,14.652066,-49.000000,2.000000,5.000000,11.000000,29.000000
education,1678.0,2.932658,1.024270,1.000000,2.000000,3.000000,4.000000,5.000000
employeecount,1678.0,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000
employeenumber,1678.0,809.859952,467.084867,1.000000,403.250000,813.500000,1215.750000,1614.000000
environmentsatisfaction,1678.0,4.264005,6.912695,1.000000,2.000000,3.000000,4.000000,49.000000
gender,1678.0,0.398689,0.489774,0.000000,0.000000,0.000000,1.000000,1.000000
hourlyrate,411.0,83.140768,57.272101,13.012897,36.254439,69.532083,116.987103,255.963294
jobinvolvement,1678.0,2.740763,0.710359,1.000000,2.000000,3.000000,3.000000,4.000000
joblevel,1678.0,2.064362,1.099425,1.000000,1.000000,2.000000,3.000000,5.000000
jobsatisfaction,1678.0,2.743147,1.105172,1.000000,2.000000,3.000000,4.000000,4.000000
numcompaniesworked,1678.0,2.670441,2.501133,0.000000,1.000000,2.000000,4.000000,9.000000
percentsalaryhike,1678.0,15.154350,3.649607,11.000000,12.000000,14.000000,18.000000,25.000000
relationshipsatisfaction,1678.0,2.700238,1.079494,1.000000,2.000000,3.000000,4.000000,4.000000
stockoptionlevel,1678.0,0.787843,0.843252,0.000000,0.000000,1.000000,1.000000,3.000000
trainingtimeslastyear,1678.0,2.795590,1.288657,0.000000,2.000000,3.000000,3.000000,6.000000
yearsatcompany,1678.0,7.124553,6.173837,0.000000,3.000000,5.000000,9.000000,40.000000
yearssincelastpromotion,1678.0,2.241955,3.246554,0.000000,0.000000,1.000000,3.000000,15.000000
yearswithcurrmanager,1678.0,4.200238,3.554224,0.000000,2.000000,3.000000,7.000000,17.000000
datebirth,1678.0,1986.047080,9.154908,1963.000000,1980.000000,1987.000000,1993.000000,2005.000000
numberchildren,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [73]:
# describe para columnas de tipo numérico, object(texto)
data.describe(include="O").T

,count,unique,top,freq
age,1678,54,35,88
attrition,1678,2,No,1406
businesstravel,877,3,travel_rarely,616
department,312,3,Research & Development,203
educationfield,904,6,Life Sciences,367
jobrole,1678,1579,mANager,5
maritalstatus,1003,5,Married,419
monthlyincome,1189,493,"2342,59$",228
monthlyrate,1678,673,"11681,39$",326
over18,740,1,Y,740
overtime,982,2,No,714
performancerating,1478,2,"3,0",1257
standardhours,1327,2,Part Time,927
totalworkingyears,1129,40,"10,0",151
worklifebalance,1564,4,"3,0",946
yearsincurrentrole,35,10,"2,0",12
sameasmonthlyincome,1189,493,"2342,59$",228
salary,1393,583,"53914,11$",270
roledepartament,312,301,rESEArcH SCiEntIst - Research & Development,2
remotework,1678,5,1,375

In [74]:
data.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
1673     True
1674     True
1675     True
1676     True
1677     True
Length: 1678, dtype: bool

In [75]:
data.isna()

,age,attrition,businesstravel,dailyrate,department,distancefromhome,education,educationfield,employeecount,employeenumber,environmentsatisfaction,gender,hourlyrate,jobinvolvement,joblevel,jobrole,jobsatisfaction,maritalstatus,monthlyincome,monthlyrate,numcompaniesworked,over18,overtime,percentsalaryhike,performancerating,relationshipsatisfaction,standardhours,stockoptionlevel,totalworkingyears,trainingtimeslastyear,worklifebalance,yearsatcompany,yearsincurrentrole,yearssincelastpromotion,yearswithcurrmanager,sameasmonthlyincome,datebirth,salary,roledepartament,numberchildren,remotework
0,False,False,True,False,True,False,False,True,False,False,False,False,True,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,True,False,False,False,True,False,False,False,False,False,True,True,False
1,False,False,True,False,True,False,False,False,False,False,False,False,True,False,False,False,False,True,True,False,False,True,True,False,False,False,True,False,False,False,False,False,True,False,False,True,False,False,True,True,False
2,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,True,False,False,True,False,False,False,False,True,False,False,False,True,False,True,False,False,True,False,False,False,True,False
3,False,False,False,False,True,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,True,False,True,False,True,False,False,False,False,False,True,True,False
4,False,False,True,False,True,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,True,False,False,False,True,False,False,False,False,True,True,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1673,False,False,True,False,True,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,True,True,False,False,False,True,False,True,False,False,False,True,False,False,False,False,True,True,True,False
1674,False,False,True,False,True,False,False,True,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,True,True,False
1675,False,False,False,False,True,False,False,True,False,False,False,False,True,False,False,False,False,True,True,False,False,True,False,False,False,False,False,False,False,False,False,False,True,False,False,True,False,False,True,True,False
1676,False,False,False,False,True,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,True,False,False,True,False,False,False,True,False,False,False,True,False,False,False,False,False,True,True,False
1677,False,False,True,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,True,False,False,True,True,False

In [76]:
round(data.isna().sum()/data.shape[0]*100, 2)

age                           0.00
attrition                     0.00
businesstravel               47.74
dailyrate                     0.00
department                   81.41
distancefromhome              0.00
education                     0.00
educationfield               46.13
employeecount                 0.00
employeenumber                0.00
environmentsatisfaction       0.00
gender                        0.00
hourlyrate                   75.51
jobinvolvement                0.00
joblevel                      0.00
jobrole                       0.00
jobsatisfaction               0.00
maritalstatus                40.23
monthlyincome                29.14
monthlyrate                   0.00
numcompaniesworked            0.00
over18                       55.90
overtime                     41.48
percentsalaryhike             0.00
performancerating            11.92
relationshipsatisfaction      0.00
standardhours                20.92
stockoptionlevel              0.00
totalworkingyears            32.72
trainingtimeslastyear         0.00
worklifebalance               6.79
yearsatcompany                0.00
yearsincurrentrole           97.91
yearssincelastpromotion       0.00
yearswithcurrmanager          0.00
sameasmonthlyincome          29.14
datebirth                     0.00
salary                       16.98
roledepartament              81.41
numberchildren              100.00
remotework                    0.00
dtype: float64

In [77]:
df_cat = data.select_dtypes(include="object")
df_cat

,age,attrition,businesstravel,department,educationfield,jobrole,maritalstatus,monthlyincome,monthlyrate,over18,overtime,performancerating,standardhours,totalworkingyears,worklifebalance,yearsincurrentrole,sameasmonthlyincome,salary,roledepartament,remotework
0,51,No,NaN,NaN,NaN,resEArch DIREcToR,NaN,"16280,83$","42330,17$",Y,No,"3,0",Full Time,NaN,"3,0",NaN,"16280,83$","195370,00$",NaN,Yes
1,52,No,NaN,NaN,Life Sciences,ManAGeR,NaN,NaN,"43331,17$",NaN,NaN,"3,0",NaN,"34,0","3,0",NaN,NaN,"199990,00$",NaN,1
2,42,No,travel_rarely,Research & Development,Technical Degree,ManaGER,Married,NaN,"41669,33$",NaN,No,"3,0",NaN,"22,0",NaN,NaN,NaN,"192320,00$",ManaGER - Research & Development,1
3,47,No,travel_rarely,NaN,Medical,ReseArCH DIrECtOr,Married,"14307,50$","37199,50$",Y,NaN,"3,0",Full Time,NaN,NaN,NaN,"14307,50$","171690,00$",NaN,False
4,46,No,NaN,NaN,Technical Degree,sAleS EXECUtIve,Divorced,"12783,92$","33238,20$",Y,No,"3,0",NaN,NaN,"3,0",NaN,"12783,92$",NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1673,43,No,NaN,NaN,Medical,rESEaRcH SciEnTiST,Single,"3949,17$","10267,83$",NaN,NaN,"3,0",NaN,NaN,"3,0",NaN,"3949,17$",NaN,NaN,Yes
1674,47,No,NaN,NaN,NaN,mANager,Married,"15943,72$","41453,67$",Y,No,"3,0",Full Time,"27,0","3,0",NaN,"15943,72$","191324,62$",NaN,False
1675,29,No,travel_rarely,NaN,NaN,reSearch sCienTiSt,NaN,NaN,"6090,75$",NaN,No,"3,0",Part Time,"6,0","3,0",NaN,NaN,"28111,13$",NaN,False
1676,47,No,travel_rarely,NaN,Life Sciences,maNufACTURING DIREctOr,Divorced,"8339,32$","21682,23$",NaN,Yes,NaN,Part Time,NaN,"3,0",NaN,"8339,32$","100071,84$",NaN,Yes
1677,32,No,NaN,NaN,Life Sciences,resEArch scIENTisT,Single,NaN,"11681,39$",Y,Yes,"3,0",Part Time,"10,0","3,0",NaN,NaN,"53914,11$",NaN,0

In [78]:
# vemos los datos que son tipo float
df_flo= data.select_dtypes(include="float")
df_flo

        dailyrate  hourlyrate  numberchildren
0     2015.722222         NaN             NaN
1     2063.388889         NaN             NaN
2     1984.253968         NaN             NaN
3     1771.404762         NaN             NaN
4     1582.771346         NaN             NaN
...           ...         ...             ...
1673   488.944444         NaN             NaN
1674  1973.984127         NaN             NaN
1675   290.035510         NaN             NaN
1676  1032.487286         NaN             NaN
1677   556.256661   69.532083             NaN

[1678 rows x 3 columns]

In [79]:
data["datebirth"].unique()

array([1972, 1971, 1981, 1976, 1977, 1975, 1964, 1982, 1967, 1985, 1968,
       1983, 1965, 1988, 1978, 1990, 1987, 1989, 1970, 1980, 1963, 1991,
       1986, 1974, 1984, 1973, 1979, 1993, 1994, 1992, 1969, 1966, 1996,
       1995, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005],
      dtype=int64)

In [86]:
data["datebirth"].value_counts()

datebirth
1992    89
1988    88
1989    86
1994    82
1987    80
1991    67
1993    66
1985    64
1990    63
1983    60
1986    56
1995    54
1996    54
1978    50
1981    50
1982    48
1997    47
1984    46
1980    42
1977    38
1979    34
1973    34
1999    31
1976    31
1998    28
1974    26
1968    26
1972    22
1975    22
1969    20
1970    20
1971    19
1967    18
1965    17
2001    17
2002    17
2000    15
1964    11
2003    11
2004     9
2005     9
1966     6
1963     5
Name: count, dtype: int64

In [82]:
data["age"].unique()

array(['51', '52', '42', '47', '46', '48', '59', '41', '56', '38', '55',
       '40', '58', '35', '45', '33', '36', '34', 'forty-seven', '53',
       '43', '60', '32', '37', '49', '39', '50', '44', '30',
       'fifty-eight', '29', '31', '54', '57', '27', 'thirty-six', '28',
       '26', 'fifty-five', '25', 'fifty-two', 'thirty-one', '24',
       'thirty', '23', '22', '21', '20', 'twenty-six', '19',
       'thirty-seven', '18', 'thirty-two', 'twenty-four'], dtype=object)

In [84]:
pd.set_option('display.max_columns', None)

In [102]:
data["age"].value_counts()

age
35              88
31              88
34              86
29              82
36              79
32              66
30              65
38              64
33              63
40              60
28              54
37              54
27              54
45              50
42              50
41              48
39              46
26              46
43              42
46              38
44              34
50              34
47              30
24              29
25              28
49              26
55              25
51              22
48              22
53              20
54              20
52              18
56              18
21              17
22              17
58              16
23              15
59              11
20              11
18               9
19               9
57               6
60               5
thirty-two       2
twenty-four      2
thirty           1
fifty-eight      1
fifty-two        1
twenty-six       1
fifty-five       1
thirty-seven     1
thirty-six       1
forty-seven      1
thirty-one       1
Name: count, dtype: int64

In [103]:
data["age"].count()

1678

In [87]:
data.select_dtypes(include='object')

,age,attrition,businesstravel,department,educationfield,jobrole,maritalstatus,monthlyincome,monthlyrate,over18,overtime,performancerating,standardhours,totalworkingyears,worklifebalance,yearsincurrentrole,sameasmonthlyincome,salary,roledepartament,remotework
0,51,No,NaN,NaN,NaN,resEArch DIREcToR,NaN,"16280,83$","42330,17$",Y,No,"3,0",Full Time,NaN,"3,0",NaN,"16280,83$","195370,00$",NaN,Yes
1,52,No,NaN,NaN,Life Sciences,ManAGeR,NaN,NaN,"43331,17$",NaN,NaN,"3,0",NaN,"34,0","3,0",NaN,NaN,"199990,00$",NaN,1
2,42,No,travel_rarely,Research & Development,Technical Degree,ManaGER,Married,NaN,"41669,33$",NaN,No,"3,0",NaN,"22,0",NaN,NaN,NaN,"192320,00$",ManaGER - Research & Development,1
3,47,No,travel_rarely,NaN,Medical,ReseArCH DIrECtOr,Married,"14307,50$","37199,50$",Y,NaN,"3,0",Full Time,NaN,NaN,NaN,"14307,50$","171690,00$",NaN,False
4,46,No,NaN,NaN,Technical Degree,sAleS EXECUtIve,Divorced,"12783,92$","33238,20$",Y,No,"3,0",NaN,NaN,"3,0",NaN,"12783,92$",NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1673,43,No,NaN,NaN,Medical,rESEaRcH SciEnTiST,Single,"3949,17$","10267,83$",NaN,NaN,"3,0",NaN,NaN,"3,0",NaN,"3949,17$",NaN,NaN,Yes
1674,47,No,NaN,NaN,NaN,mANager,Married,"15943,72$","41453,67$",Y,No,"3,0",Full Time,"27,0","3,0",NaN,"15943,72$","191324,62$",NaN,False
1675,29,No,travel_rarely,NaN,NaN,reSearch sCienTiSt,NaN,NaN,"6090,75$",NaN,No,"3,0",Part Time,"6,0","3,0",NaN,NaN,"28111,13$",NaN,False
1676,47,No,travel_rarely,NaN,Life Sciences,maNufACTURING DIREctOr,Divorced,"8339,32$","21682,23$",NaN,Yes,NaN,Part Time,NaN,"3,0",NaN,"8339,32$","100071,84$",NaN,Yes
1677,32,No,NaN,NaN,Life Sciences,resEArch scIENTisT,Single,NaN,"11681,39$",Y,Yes,"3,0",Part Time,"10,0","3,0",NaN,NaN,"53914,11$",NaN,0

In [91]:
sum(data["educationfield"].isnull())

774

In [ ]:
sum(data["educationfield"].isnull())

In [88]:
data.select_dtypes(include=['int', 'float'])

,dailyrate,distancefromhome,education,employeecount,employeenumber,environmentsatisfaction,gender,hourlyrate,jobinvolvement,joblevel,jobsatisfaction,numcompaniesworked,percentsalaryhike,relationshipsatisfaction,stockoptionlevel,trainingtimeslastyear,yearsatcompany,yearssincelastpromotion,yearswithcurrmanager,datebirth,numberchildren
0,2015.722222,6,3,1,1,1,0,NaN,3,5,3,7,13,3,0,5,20,15,15,1972,NaN
1,2063.388889,1,4,1,2,3,0,NaN,2,5,3,0,14,1,1,5,33,11,9,1971,NaN
2,1984.253968,4,2,1,3,3,0,NaN,3,5,4,1,11,4,0,3,22,11,15,1981,NaN
3,1771.404762,2,4,1,4,1,1,NaN,3,4,3,3,19,2,2,2,20,5,6,1976,NaN
4,1582.771346,3,3,1,5,1,1,NaN,4,4,1,2,12,4,1,5,19,2,8,1977,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1673,488.944444,-26,3,1,824,2,1,NaN,4,1,3,4,12,4,0,2,3,1,2,1980,NaN
1674,1973.984127,26,4,1,1087,4,1,NaN,3,5,3,3,11,3,1,2,5,1,0,1976,NaN
1675,290.035510,15,3,1,528,3,0,NaN,3,1,4,1,19,1,0,1,6,1,5,1994,NaN
1676,1032.487286,4,3,1,76,3,1,NaN,2,3,2,8,12,3,1,4,22,14,10,1976,NaN
1677,556.256661,2,2,1,401,4,1,69.532083,3,2,3,4,14,4,0,2,8,0,7,1991,NaN

In [92]:
data["joblevel"].value_counts()

joblevel
2    618
1    612
3    255
4    114
5     79
Name: count, dtype: int64

In [115]:
data["jobrole"].value_counts()

jobrole
mANager                    5
ManagEr                    3
mAnageR                    3
maNaGeR                    3
MANAgER                    3
                          ..
RESeaRCh sCientIsT         1
reseARCH sCIEntiST         1
REseaRCh SCiENTIst         1
LabOrATory TEChNICiaN      1
mAnUfactURInG DiRECTOr     1
Name: count, Length: 1579, dtype: int64

In [100]:
list(data["jobrole"].unique())

[' resEArch DIREcToR ',
 ' ManAGeR ',
 ' ManaGER ',
 ' ReseArCH DIrECtOr ',
 ' sAleS EXECUtIve ',
 ' MANAger ',
 ' Sales ExeCutIVe ',
 ' Sales eXEcUTiVe ',
 ' mANAGEr ',
 ' reSEaRCH DIrectoR ',
 ' RESeArcH DIrEctoR ',
 ' MANUfACturing DIReCtOr ',
 ' REseaRCh dirEcToR ',
 ' reseARCh DIrEctoR ',
 ' RESeaRCH dirEctor ',
 ' MAnAgeR ',
 ' reSeARCh DIrEcToR ',
 ' MAnaGER ',
 ' REseArcH sciENtiST ',
 ' MAnUFaCtUring dIRecTOr ',
 ' heaLtHcArE repResENtATiVe ',
 ' RESEARCH dIrECtor ',
 ' hEaltHCarE ReprESENTAtIvE ',
 ' maNagEr ',
 ' SALEs exeCUtIVe ',
 ' manUfACtURing dirEctOR ',
 ' mAnageR ',
 ' MaNufActURing dIrecTOr ',
 ' laBoratOry tecHNiCiaN ',
 ' saLEs exEcutIVe ',
 ' Sales ExECuTIVe ',
 ' heALthCArE RePResEntaTIVe ',
 ' ManAgER ',
 ' salEs EXeCUtIvE ',
 ' rEsEARcH SCIeNTist ',
 ' SALEs eXECuTive ',
 ' ManagEr ',
 ' lABORAtOry tECHnIcIan ',
 ' Sales exEcUtiVe ',
 ' saLes eXEcUTIVE ',
 ' maNufactUring DIrEcToR ',
 ' LaboRAtorY TecHNiCiAn ',
 ' ManageR ',
 ' LABorAToRY tECHnIciAN ',
 ' RESEarch SCIenTisT ',
 ' SalES exECUTIve ',
 ' heAltHCare rEPrESEntaTIvE ',
 ' maNaGeR ',
 ' ResEARCh SciENTist ',
 ' salES ExecuTIve ',
 ' ReSeaRch directOR ',
 ' mAnAgER ',
 ' sAles EXecuTive ',
 ' MaNAGEr ',
 ' hEALThcArE REPrESeNTATive ',
 ' SAlES ExECuTIVe ',
 ' rEseARch SCieNtIsT ',
 ' maNufActUrInG DIrECtOr ',
 ' sALEs eXeCuTIvE ',
 ' SALES eXECUtiVE ',
 ' lAboratORy TeChNiCiaN ',
 ' RESEaRCh sCIENtIst ',
 ' REsEarcH sCieNTISt ',
 ' heaLthCaRE ReprEseNtaTiVe ',
 ' ManufactUrINg DiReCTOr ',
 ' HEaLthcAre REPrEsEntaTIvE ',
 ' SaleS eXEcUtIVE ',
 ' reseaRCH ScIEntIst ',
 ' HEAlTHcaRe ReprESeNtatIVe ',
 ' HeaLthCare repRESeNTaTIVE ',
 ' HEaLthcaRe rEprEsEnTAtiVe ',
 ' ReseArcH diReCtOr ',
 ' healthcArE repReSEnTaTive ',
 ' reSeARch sCientIst ',
 ' lAbOrAtory tecHnIciaN ',
 ' maNufACTURING DIREctOr ',
 ' rESeArCH sCientIST ',
 ' ResEarCh dIReCtOr ',
 ' hEALtHcare REpREsenTAtiVe ',
 ' saLes ExECutiVE ',
 ' mAnagER ',
 ' hEaLtHCARE ReprESENTATivE ',
 ' Sales exECuTIVE ',
 ' SalEs eXecUTIVe ',
 ' manAger ',
 ' MAnager ',
 ' healTHCAre rePREseNtATiVE ',
 ' rESEaRCh DirEcToR ',
 ' researCH DIrECtoR ',
 ' MaNufactuRINg dIrecTor ',
 ' mANaGer ',
 ' MaNUFACTuRing dirECTOr ',
 ' manufaCtURiNG DirecToR ',
 ' HEAltHCaRe REPreseNTatIve ',
 ' hEaLtHCaRe reprEsenTaTive ',
 ' SaLeS eXECUTivE ',
 ' reSeARCH SCIEnTiST ',
 ' ResEArCH sCIEntisT ',
 ' maNAger ',
 ' ManAgeR ',
 ' SaLes rEPREsENtAtivE ',
 ' ReSearch DiRecTOR ',
 ' LABoRATOry teChnicIan ',
 ' huMan RESOURcEs ',
 ' ResearcH DiReCtOR ',
 ' resEaRCh SciEnTist ',
 ' SAleS eXEcUtIve ',
 ' maNufaCturing direcTOr ',
 ' HEalThCare REPreseNTAtive ',
 ' hUmaN REsoUrCes ',
 ' LaboRaTORY TechnICiAn ',
 ' SalES ExeCuTIVe ',
 ' lABOrAtorY tEcHNICian ',
 ' manUFACTuRiNg dIrECToR ',
 ' RESEArCh dIRECTOR ',
 ' MAnufACturiNg dIReCtOR ',
 ' Sales ExEcUTIvE ',
 ' LaboRaTOrY techNiciaN ',
 ' MANufacTUrinG diREcTor ',
 ' manAgER ',
 ' RESearCH scienTIST ',
 ' SaLES eXeCUtIVE ',
 ' maNUfActuRinG diRectOR ',
 ' SAles exEcUtivE ',
 ' saLes eXECUTIVE ',
 ' MAnAgER ',
 ' SAles exEcutiVE ',
 ' MANufactURINg DirEctOR ',
 ' RESEarCh sCiENTIst ',
 ' reseArcH DIRectOr ',
 ' reSEarCH scIentISt ',
 ' rESearCh SCiEnTIST ',
 ' ReSeARCh DiRECtor ',
 ' RESEARcH DirecToR ',
 ' LAboRatORY TeCHNicIAn ',
 ' SaLeS exEcuTIVE ',
 ' heAlThCARE rEpreSentaTIVE ',
 ' MaNAgeR ',
 ' MaNuFacTUriNG dIRectOr ',
 ' salEs EXecuTIve ',
 ' HEAlTHcaRe rEpreseNTatIvE ',
 ' RESEArCH sCIenTIst ',
 ' rESeArCH dIrECtor ',
 ' HeALThCARE rEPreSENTAtivE ',
 ' MANAGEr ',
 ' HeaLtHCARe rEPREsEnTATIVE ',
 ' hUMAn reSoUrCES ',
 ' mANaGeR ',
 ' MANagER ',
 ' manAGeR ',
 ' mAnUFACTURIng dIreCtOr ',
 ' maNUfaCTUriNG dIreCtor ',
 ' HUmAN rESOuRceS ',
 ' sAles ExecUTiVE ',
 ' lABoRAtoRY TECHNicIAN ',
 ' REsearCh ScienTIst ',
 ' sAles EXecutiVE ',
 ' manaGeR ',
 ' saLEs exEcUTiVE ',
 ' lAboratorY tecHNIciAN ',
 ' LAboraTORy TEcHNiCIAN ',
 ' Sales ExecUtIVe ',
 ' rEseaRcH SCienTist ',
 ' Sales eXEcUtIVE ',
 ' maNaGer ',
 ' SaleS EXeCuTivE ',
 ' hEALThcarE RepReSeNTAtIve ',
 ' MAnAgEr ',
 ' ReSeARch scIENTISt ',
 ' LABORaTorY TECHniciaN ',
 ' LaBoRaTorY TeChNicIAn ',
 ' sAleS execuTiVE ',
 ' mANAgER ',
 ' sALes exECuTiVE ',
 ' LABOrATorY TechNIcIaN ',
 ' sAlES eXeCuTIVe ',
 ' ManUfaCTUriNg dIReCtor ',
 ' LaboraTOry TEcHniCiAN ',
 ' saLES ExECuTIVe ',
 ' sALeS execUTiVE ',
 ' saLEs executive ',
 ' SAles ExeCUTiVE ',
 ' sAleS exeCUTiVe ',
 ' RESEaRch SCIEntISt ',
 ' manaGEr ',
 ' MAnagEr ',
 ' SALeS eXecUTiVe ',
 ' mAnUFaCtUrinG diReCtor ',
 ' REsEARcH dIreCTor ',
 ' SAlEs repReSEnTaTiVE ',
 ' reSEARch scIeNTIST ',
 ' lAbORATorY teChnICiaN ',
 ' SalEs eXEcuTIVE ',
 ' rEseaRch DIRECTOr ',
 ' resEarcH sCiEnTISt ',
 ' ManAger ',
 ' MaNagEr ',
 ' SaLes ExecUtiVE ',
 ' maNUFAcTURING direCTOr ',
 ' RESeArCh sCIentIst ',
 ' LAboRaTorY teChniCiaN ',
 ' labOraTORy techNicIan ',
 ' manuFACtuRiNg DIrEcTor ',
 ' SAlEs ExeCUtive ',
 ' REsEARCH dIReCTor ',
 ' sALES ExEcUTIvE ',
 ' MANUFACturING DIRecToR ',
 ' saleS exECUtIve ',
 ' heAltHcArE rEprEseNtatIVE ',
 ' Sales eXECuTIvE ',
 ' laBORATORy tECHNICIan ',
 ' MaNagER ',
 ' LaBoraTORy TeChNiCIAN ',
 ' mANUfaCTuRiNG DiRECtOr ',
 ' sales ExecuTiVe ',
 ' SALeS eXECUtivE ',
 ' LABoRaTOrY teChNICiAn ',
 ' ManUFACtURiNg DiRECTOr ',
 ' salES eXECUtive ',
 ' laboRatoRy teCHNiCiaN ',
 ' lAbORAtORy tECHNiCian ',
 ' saLEs eXEcUTIvE ',
 ' manageR ',
 ' RESearCh SCieNTIst ',
 ' SALEs eXeCuTive ',
 ' REsearCh dIRECTOr ',
 ' MaNuFACTUriNG DIRector ',
 ' ResEARcH DIrEcToR ',
 ' resEArcH DIrEcTOR ',
 ' ResEARcH DiReCToR ',
 ' HeALthCARE rePRESeNtATiVE ',
 ' RESEarCH ScIENTIsT ',
 ' HeaLthcARE RePreSeNtatiVe ',
 ' HeAlTHCare RePrEsenTatIve ',
 ' SAleS eXecuTiVe ',
 ' saLes ExeCutivE ',
 ' hEaLthCare repResEntaTIVe ',
 ' laboratORY TEcHnicIAN ',
 ' RESeArCh SCIEntiSt ',
 ' MANAgER ',
 ' SALes EXecUtIve ',
 ' LabOraTory TechNiCIAN ',
 ' mAnaGeR ',
 ' ReSeARcH sciEnTiST ',
 ' heAltHCARE rePrESENTaTIve ',
 ' RESEARCH sCiEntIST ',
 ' SAles EXecutiVE ',
 ' labORATORY TechnIcIaN ',
 ' maNuFACTUrInG dIREcTor ',
 ' SaLeS REPRESentATive ',
 ' LABORAtoRY TeChnICian ',
 ' MaNUfacTurINg DiReCTor ',
 ' SALES EXEcUTIvE ',
 ' ReSEaRcH sciENTIST ',
 ' sAles EXeCutive ',
 ' saLES ExECUTIve ',
 ' sAlES execUtIVE ',
 ' LABOrAtORy TechnICiAN ',
 ' rESEARCh dIrEcTOr ',
 ' SAlEs rEpreSeNTAtiVe ',
 ' rEsEARCH ScIentisT ',
 ' ResEArCh ScIentiSt ',
 ' laBoratoRY tECHNICiAN ',
 ' MANUfACTuRinG diRecTOR ',
 ' HeaLThCArE REpRESENTAtIVe ',
 ' Sales ExECutiVe ',
 ' LABOraTory TecHnIciaN ',
 ' MaNUFAcTUriNg DiRECTor ',
 ' sALEs eXEcuTIVe ',
 ' labOrATory teCHnIcIAn ',
 ' sALES exeCUtIve ',
 ' ReseArcH SciEntIst ',
 ' salEs exeCutiVE ',
 ' SAles EXecUTivE ',
 ' SALEs ExecUTIvE ',
 ' HUmaN RESOURces ',
 ' SaLEs ExEcUtiVe ',
 ' rESEARch SCIEnTISt ',
 ' sales rEprESEntAtIvE ',
 ' mANuFacTurinG DirECtoR ',
 ' lABorATOrY TeChnICIan ',
 ' RESEarCh SCIEnTiST ',
 ' hEalthCARE RepresenTaTivE ',
 ' rEsEarCH SCIeNtIsT ',
 ' rEsEARCH SciENtisT ',
 ' MAnuFaCtURING DirECTOr ',
 ' maNUfAcTURiNG dIRectoR ',
 ' SALes exEcuTIVe ',
 ' salES ExEcuTiVE ',
 ' LabOraTOry TEChniCIaN ',
 ' ManAGer ',
 ' REseARCH DirectOr ',
 ' sAlES EXEcUtIVe ',
 ' ManAgEr ',
 ' HeAlThcare rePREsentatIVE ',
 ' maNagER ',
 ' SaLES EXEcUtIVE ',
 ' lABoraToRY teCHnIcIaN ',
 ' sAlES eXEcuTivE ',
 ' saLeS EXEcUTIVe ',
 ' LabORAtorY TeChniCIAn ',
 ' sAles ExECUTive ',
 ' RESEarCH ScIENTisT ',
 ' saLes ExecUtivE ',
 ' LaBorATORy tEChnICiaN ',
 ' LaborAtORY TechNIciaN ',
 ' sales ExecutIvE ',
 ' saleS executIVE ',
 ' rESEArCh Scientist ',
 ' SalES EXecuTIvE ',
 ' labORatORY TECHNIciAn ',
 ' Sales eXEcuTive ',
 ' SAlES eXECutIVe ',
 ' lABOraToRY TEcHNICIaN ',
 ' salEs ExECutiVE ',
 ' sAles exECUtiVe ',
 ' MANUfaCTUrinG DireCtOr ',
 ' LABoRaTOrY tEcHnICian ',
 ' heaLThcARe REpreSENTAtIVe ',
 ' sAleS eXecUTIVE ',
 ' SAles eXEcutiVE ',
 ' HuMAN ReSOuRCeS ',
 ' HEAlTHcARE REPrEsEnTATIVE ',
 ' sAlEs exECUTivE ',
 ' SALes EXEcUTiVe ',
 ' labOraTORY tEChnIciAn ',
 ' SALEs eXecuTiVE ',
 ' MaNUfaCtURinG DiRectoR ',
 ' HuMAN rEsoUrCes ',
 ' SaleS executIVE ',
 ' rEsEArCH sCIeNTIST ',
 ' heALTHCARe rEpResentatIVE ',
 ' hEALthCAre ReprEsentaTIvE ',
 ' salEs EXEcutIvE ',
 ' HealThcARE ReprESEnTaTIve ',
 ' mAnUfACTuRING DIreCtOR ',
 ' ReSEARch dIrEcToR ',
 ' SALES eXEcUTiVe ',
 ' MaNufACtURiNg DirEctOr ',
 ' mAnAGer ',
 ' reSEArch SCIEntIsT ',
 ' rESeArCh DIrEctor ',
 ' SALEs eXecutIVE ',
 ' heALTHcaRE rEPresEnTAtIve ',
 ' SalES rEpRESeNtAtive ',
 ' SaLEs eXeCutiVE ',
 ' HEalTHcArE repREsENtaTIVE ',
 ' mAnUfactUrING DiReCToR ',
 ' HeALTHCARe rEpRESEnTaTIve ',
 ' MANAGER ',
 ' MANufacTuRInG DIReCtor ',
 ' RESEARCh SciENTist ',
 ' SALes EXECutIVe ',
 ' saLES ExECUtiVe ',
 ' reSeArch sCIenTIst ',
 ' resEarch sCiEnTISt ',
 ' LaboRATory tEchNICIAn ',
 ' saleS rePResENTatIVe ',
 ' SAlEs exECUtIVe ',
 ' HeAlThCArE REpreSENTaTive ',
 ' ManUfActurINg DiRectoR ',
 ' SALes EXECuTiVe ',
 ' lABORaTory tecHNiCiAN ',
 ' saLEs exEcUTIVe ',
 ' SaLes EXeCuTiVE ',
 ' ManuFActurIng dIrEctOr ',
 ' MaNUfaCtUrInG diRectOr ',
 ' REseARCH DIrECTOr ',
 ' MaNUFActURinG DIreCtoR ',
 ' HeAltHCarE rEpREsENtAtIVe ',
 ' salEs eXECuTivE ',
 ' laBoratORy TeCHNicIan ',
 ' saLEs eXEcutivE ',
 ' SAles ExECutiVE ',
 ' maNAGER ',
 ' HeaLthcarE rEPrESeNtATIVE ',
 ' ReSeArCH ScIEntIsT ',
 ' SAlEs EXECUTIVE ',
 ' ReseaRch scIenTisT ',
 ' LaBoraTORY teCHNiCIaN ',
 ' sALEs ExeCuTive ',
 ' manUFactURiNG dIReCtoR ',
 ' maNufactUrinG dIREctOr ',
 ' heALtHCARE rePResENtAtivE ',
 ' rEsearch diRecTOR ',
 ' maNUfaCTUrinG DIReCtOR ',
 ' ResEaRCH dIReCtor ',
 ' lABORATorY TEchNIciAN ',
 ' mAnuFAcTuRinG direCToR ',
 ' SALes ExeCUTIvE ',
 ' sAles exeCutive ',
 ' laboRAtORy TecHnICiAN ',
 ' lAbORATorY tECHnICIaN ',
 ' SalEs ExeCutIVe ',
 ' resEArch scIENTisT ',
 ' mANUFaCTuRing DirECtOR ',
 ' rEseARcH sciENTIST ',
 ' ReSeARCH diRECtoR ',
 ' ReSeArCh dirECTOR ',
 ' MANufactUring Director ',
 ' salES ExECUTIVE ',
 ' hEALtHcARE rePrESeNtATIve ',
 ' LAborAtOry TEchniCIAn ',
 ' SalEs eXecUTive ',
 ' HEalthCare REPresenTaTIve ',
 ' SaLeS eXECutiVE ',
 ' mAnuFAcTuRiNG diRECtOR ',
 ' HeAlthcarE rEPreSentATive ',
 ' SALEs eXEcUtive ',
 ' SalEs eXECuTive ',
 ' labORATORY TecHnICian ',
 ' sAleS EXecUtiVE ',
 ' lAborAtory TeChNiCIAN ',
 ' rEsEArCH SCiENtIsT ',
 ' LaboratOry tEchNicIaN ',
 ' heaLtHCaRe REpResENtaTive ',
 ' rESeaRCH DIReCToR ',
 ' reseaRCh dirEcTOr ',
 ' lABORAtoRy TecHNiCIan ',
 ' Sales eXEcUTive ',
 ' SaLeS EXecUtiVe ',
 ' healtHCARe RePresenTATiVE ',
 ' hEAltHcArE RepreSeNTATivE ',
 ' SAlES eXeCuTIve ',
 ' RESEarcH SCiENTiSt ',
 ' HealtHcaRe REpReSENTatIve ',
 ' mANAGeR ',
 ' saLeS exECUtive ',
 ' maNUFaCTuRINg DiRECTOr ',
 ' REsearcH DiREcToR ',
 ' laBORATOrY TEchNICian ',
 ' saLES ExeCutive ',
 ' ManuFacTuRiNg DIrEcTOr ',
 ' maNuFAcTURInG DIReCtoR ',
 ' LABORaTorY TEChNIcIAN ',
 ' mANufacTuRiNG diReCTOr ',
 ' HUmAn resOuRceS ',
 ' MaNuFACtuRInG dirECTOR ',
 ' MANAgEr ',
 ' SaLeS rEPRESENTATive ',
 ' lAboRAtORy TecHnIcIaN ',
 ' hEALThCare RepreseNtATIVE ',
 ' SAles REpReSENtaTiVE ',
 ' hEalTHcARe RePrEseNTATive ',
 ' MaNUFaCtuRiNG DirEctOr ',
 ' REsEArCh scientiST ',
 ' sALeS eXeCuTivE ',
 ' sALEs EXEcUtIvE ',
 ' REsEarCH SciENtIST ',
 ' HuMAN reSourcEs ',
 ' SALeS ExECUtIVE ',
 ' SaLEs EXEcuTIVe ',
 ' mANuFActuring DireCtOR ',
 ' MANufaCturiNg dIrECtOr ',
 ' heALThcare RePreSeNtatIve ',
 ' sAlEs EXeCUTive ',
 ' SALEs eXecuTIVE ',
 ' saLES exeCuTIVe ',
 ' SaLeS exeCuTIVe ',
 ' rESEARCh diReCtoR ',
 ' LaBorAtoRY tEchNIciaN ',
 ' SaLeS ExECutiVe ',
 ' ResEaRCh ScIENTiST ',
 ' SalES ExecutivE ',
 ' lAboRaTory tECHNIciAN ',
 ' Sales eXeCUtIVE ',
 ' saLes eXECUTIVe ',
 ' hEALTHcaRe rePrESentATIve ',
 ' resEarch diReCtor ',
 ' REseaRCH SCIENTIsT ',
 ' hEalthcarE ReprESeNTatiVe ',
 ' resEaRcH SCieNTiST ',
 ' salEs ExECutIvE ',
 ' maNUfaCtuRINg dIReCTor ',
 ' saLes EXEcuTiVe ',
 ' SaLes exECutiVe ',
 ' hEALthcarE REPrESEnTATIve ',
 ' reSeArch dIRectoR ',
 ' HeAlthCArE RePReSeNtaTIVe ',
 ' SAlES EXEcUtIve ',
 ' HEALThCaRe rePResEnTaTivE ',
 ' labORAtOry tecHnICiAn ',
 ' mAnAgEr ',
 ' manUfacTUriNg dirEctOr ',
 ' MaNager ',
 ' ManuFACTurInG dIreCToR ',
 ' mANager ',
 ' heAlthCARE REPresentAtivE ',
 ' MaNaGer ',
 ' sAlEs ExECUtiVE ',
 ' MaNageR ',
 ' HeAlThCarE rEpreSentatiVe ',
 ' MANuFaCTURiNG DIrEctOr ',
 ' MaNUFaCtURINg dIrEcToR ',
 ' reseaRcH SCIEnTisT ',
 ' HUMAN ResoURCeS ',
 ' MAnagER ',
 ' healThCaRE RepREsEntAtIve ',
 ' hUmAN ReSouRCes ',
 ' huMAn ResOurces ',
 ' rESEArCh sCIEnTiST ',
 ' mANUfacTURiNG dIRectOR ',
 ' resEaRCh dIrEcTOR ',
 ' ReseaRCh directoR ',
 ' saLES eXEcUTiVE ',
 ' labORaTORY teChNIcIaN ',
 ' rESeaRch DiREctor ',
 ' saleS ExeCUTIVe ',
 ' ResEarCh SCiEnTist ',
 ' saLes eXeCUTivE ',
 ' laborAtOry tEChniCIAn ',
 ' SalES exECutIVe ',
 ' manUFACtURinG DIREcTOR ',
 ' ManUFaCtURInG dIReCToR ',
 ' rESEArch SciEntIST ',
 ' reSearch sCienTiSt ',
 ' manUFaCTUriNg DIrectOR ',
 ' saLes exEcutiVE ',
 ' HeALthcare RePREsENTativE ',
 ' Sales exECutIVE ',
 ' MAnUfaCTUrINg dIrEctor ',
 ' sALES ExEcUTiVE ',
 ' mANUfacTurING dirECtOr ',
 ' REseaRCH SCiEntIst ',
 ' manaGer ',
 ' RESEarCh SCIeNtIst ',
 ' saLES ExecUTIvE ',
 ' saleS eXEcuTIvE ',
 ' SALes ExeCUtive ',
 ' reSearCH SCieNtIst ',
 ' MaNufaCtUrINg DirecTOr ',
 ' RESeArcH SCIENtist ',
 ' HEALThcaRe RePresENtaTiVE ',
 ' ResEaRcH scIEnTIsT ',
 ' rEsEARch sCientIST ',
 ' sAlEs Executive ',
 ' LAbOrATOry techNicIan ',
 ' ReSearcH scIEntist ',
 ' HealthcARE RePreSENtAtiVe ',
 ' ResEArch ScieNTiST ',
 ' reSEarCh ScIeNTIST ',
 ' labORaTORy TecHniciAN ',
 ' ResEaRch ScieNTiSt ',
 ' ReseARch SciENTISt ',
 ' saLes eXeCutIvE ',
 ' SalEs exECUTIvE ',
 ' SaLEs ExEcUTIVE ',
 ' LabOrATory TEChNICiaN ',
 ' REseaRCh SCiENTIst ',
 ' reseARCH sCIEntiST ',
 ' RESeaRCh sCientIsT ',
 ' mAnUfactURing dIReCtOr ',
 ' sales ExEcUtiVe ',
 ' sALES eXeCutiVE ',
 ' reseARcH scieNtISt ',
 ' reSeArcH scieNtist ',
 ' labORatOry technICiAn ',
 ' rEsEArch SCIeNtIsT ',
 ' mAnAGER ',
 ' ReSEArcH sCiEntIST ',
 ' SalEs eXEcUTIVe ',
 ' rEseARcH SCIENTIsT ',
 ' SalES EXEcUTIVE ',
 ' maNuFAcTUring DIrecToR ',
 ' LaBoRatorY teCHNiciaN ',
 ' laboraTORy teChnICiaN ',
 ' sALes EXECUTiVE ',
 ' ResEARCh DIRECtoR ',
 ' SAlEs ExecuTIVE ',
 ' saleS eXEcuTiVe ',
 ' sales exEcutIVe ',
 ' MAnUFacTuRING DIREctOR ',
 ' lAboRaTOrY tEcHNiciaN ',
 ' sAles EXECUtIvE ',
 ' manaGER ',
 ' REsearCH SCiEntist ',
 ' saLes eXeCuTIvE ',
 ' SaLes exECutIVe ',
 ' SalEs EXECuTIVe ',
 ' mAnuFActUriNG DIRECTOR ',
 ' reSEaRch sCIeNtisT ',
 ' maNUfaCTURING DIrECToR ',
 ' lABOrAToRy tEchNicIAN ',
 ' SAleS eXecuTIVe ',
 ' SaLEs REpResENTATive ',
 ' rEsEaRch scIenTist ',
 ' sALeS eXECuTiVe ',
 ' ResEARcH ScIeNtISt ',
 ' SaLEs EXECuTIve ',
 ' HuMan reSOurces ',
 ' research sCiENtIst ',
 ' saLEs REpReseNTative ',
 ' HUmAN RESOURCeS ',
 ' sALEs EXecutIVE ',
 ' SAles ExecutIve ',
 ' rEseArCh DiREctOR ',
 ' manAGER ',
 ' sALES ExeCutiVe ',
 ' ReseARch ScIenTIST ',
 ' ManAGER ',
 ' LaBOrATORy teCHnIciaN ',
 ' HUMaN RESoUrCES ',
 ' SAlES ExecuTIVe ',
 ' RESEArCH scientiSt ',
 ' reSEARCH ScieNtisT ',
 ' HUMaN ReSOUrCEs ',
 ' ManUFAcTURinG dIrEcTor ',
 ' maNuFaCTuriNg dirECTor ',
 ' labORatoRY TeChNiCIAN ',
 ' saleS EXecuTiVE ',
 ' reSEaRCH sCIentisT ',
 ' salES exEcUtiVE ',
 ' rESEaRCh sCIenTisT ',
 ' SAlEs ExECUTIVe ',
 ' HEaLTHcaRE rePReseNtaTIvE ',
 ' lAboratorY TECHNIcian ',
 ' SaLeS ExEcUtiVe ',
 ' LabORAtORY TechNiciAN ',
 ' SALes exeCUtiVE ',
 ' lAborAtoRy technIcIAN ',
 ' sAles eXEcUtIve ',
 ' laBoraTorY tEChnICiaN ',
 ' SALes exEcUTivE ',
 ' lAbORatorY TeChnIciAn ',
 ' rEsEaRcH sCiENTIST ',
 ' sAleS exEcuTive ',
 ' HealTHCaRE rEprEsENtatiVE ',
 ' SAlES exEcUTIve ',
 ' LaBoRatorY tEcHnicIan ',
 ' resEaRCH sCiENtiSt ',
 ' MANufacTURIng diREcTOr ',
 ' REsearch scIENtist ',
 ' maNufactURInG DireCTor ',
 ' heaLtHcARe RePReSENtaTIve ',
 ' lAbORaTORY techNiCIAn ',
 ' REseArCH sciENTIst ',
 ' MANufAcTUrinG dIrEcToR ',
 ' lAbOrAtorY techNiCiaN ',
 ' lABoRAtory technICiaN ',
 ' HeAltHCARE rEpReSeNtative ',
 ' laboRaTOrY TEchniCIaN ',
 ' SALes eXECUtiVE ',
 ' SaLeS ExecuTIVE ',
 ' ReSeARCh DiRecTOR ',
 ' lABOraTory techniCiaN ',
 ' salES executiVE ',
 ' REseARch SciEntISt ',
 ' mAnuFaCTUrING direCTor ',
 ' SALes RePREsEntAtivE ',
 ' reSEARCh ScIEnTIsT ',
 ' SaLEs execUtive ',
 ' SAles ExECutIvE ',
 ' laboraTORY TeChnicIaN ',
 ' REsEArCh dirEcTOr ',
 ' SalEs EXecuTiVE ',
 ' heaLThCaRE RepreSEntaTiVe ',
 ' REsEarcH DIRECtor ',
 ' reseaRCH DIrectOr ',
 ' lABoRatORy TeCHNiCIAn ',
 ' Sales exEcutiVE ',
 ' LABOrATORy TEChNIciaN ',
 ' SalEs RePResEnTatIVe ',
 ' HeALtHCarE represEntAtIVe ',
 ' SALes eXEcUtIve ',
 ' Sales RePreSENtATIve ',
 ' mANUfacTURINg DiREcTor ',
 ' reseARCh SciEnTiST ',
 ' SALES eXECUTIve ',
 ' ReseaRCh sCIENTIst ',
 ' SALes rePresEntaTiVE ',
 ' HeaLTHCArE rEPrESEntATIve ',
 ' ResEaRCH DIREcTOr ',
 ' HEalThCaRe rEpReSENtatIVe ',
 ' rEseaRcH scieNtisT ',
 ' healTHCaRE ReprEsEntaTIVE ',
 ' HEalTHCare REPrEsEntATiVE ',
 ' rESeaRCH sCienTisT ',
 ' reseaRCh SCIENtIst ',
 ' saleS eXeCUTiVe ',
 ' SALeS ExEcuTiVe ',
 ' HeaLThCaRe rEPREsENTatiVE ',
 ' SaLes rEprESEntAtIvE ',
 ' LaBoRaToRY TEcHnIcian ',
 ' reSearCH ScientIsT ',
 ' lABorATORY TEcHNiCiaN ',
 ' SAlEs EXEcuTIvE ',
 ' SAlES ExecutIve ',
 ' lABOrAToRY TEcHniCIan ',
 ' sAlES eXEcuTiVE ',
 ' LaBOrAtory TECHNIciAN ',
 ' ReSeArch scIenTIsT ',
 ' saLEs rEpRESeNTAtive ',
 ' SaLEs EXECutIVe ',
 ' LABOrATORy TEchNICian ',
 ' huMaN RESOurcES ',
 ' REseARcH ScIENTiSt ',
 ' SalEs exeCuTiVE ',
 ' mAnUfaCTURINg DIRECTOr ',
 ' RESEARCH scIEnTisT ',
 ' rESEARch DiRector ',
 ' manUfAcTurInG dIrEctOr ',
 ' HEaltHcare rEPrEsEnTatIVe ',
 ' rESeaRcH ScieNtisT ',
 ' ReSeArch sCIEnTist ',
 ' sALEs ExeCuTiVE ',
 ' labORatoRY TecHNiCIaN ',
 ' HumAn rESOUrCEs ',
 ' lABoRaTory teCHNiCIan ',
 ' SalEs exeCUTivE ',
 ' lABORatORY TeChNiCiAN ',
 ' ManufActuRiNG DIrecTOr ',
 ' LaBOratory TeChnICiAn ',
 ' MANUFActUrING directoR ',
 ' maNAGer ',
 ' HuMan resouRCeS ',
 ' healTHCaRe RePRESEntativE ',
 ' rEseArch sCIeNTiST ',
 ' lABORaToRY teCHnicIAn ',
 ' RESearcH SCieNtisT ',
 ' LabORAtOry TecHniCiAN ',
 ' SaLeS exECUtiVe ',
 ' sALes EXECUtIVE ',
 ' saleS EXECUTiVE ',
 ' MaNUFacTuRinG DiReCtor ',
 ' hUMAn rEsOuRCES ',
 ' SALES exeCUTiVE ',
 ' ResEaRcH SciENTIst ',
 ' maNaGEr ',
 ' sales ExeCUTiVE ',
 ' saLes ExECuTive ',
 ' mANUfaCtURing DIReCTOr ',
 ' rEsEarCh sCieNTisT ',
 ' laBoratOry TechNIcIaN ',
 ' ReseaRCH SciENtist ',
 ' SalEs EXeCutiVe ',
 ' saLeS EXEcuTIVe ',
 ' saLEs exeCUtiVe ',
 ' HuMan ReSOurCES ',
 ' laBorAtORy TECHnicIaN ',
 ' MANuFaCtURIng DIRectoR ',
 ' salEs rePrEsENtatIvE ',
 ' huMAN reSourcEs ',
 ' MAnUFAcTUrinG DiREcTor ',
 ' MaNufAcTurInG DIReCtor ',
 ' ReSeaRch SCIEnTiSt ',
 ' LaBORatORY tEChnician ',
 ' lAbOrAtOrY TEcHnICiAn ',
 ' hEaLthcARE repreSenTATIvE ',
 ' SaLes EXECUTivE ',
 ' rEsEArcH scIenTIst ',
 ' LaBORATorY teCHniCian ',
 ' saLes ExEcUtiVE ',
 ' LABoRaToRy TEChNician ',
 ' laBOraTORY TeCHNICiAN ',
 ' rEsEARcH ScIeNTisT ',
 ' ResEaRcH SCIentisT ',
 ' RESeArch dIREcToR ',
 ' LABorAtorY TecHnicIAN ',
 ' MAnuFactUrIng dIReCtoR ',
 ' healtHCaRe REPReSENtATIVE ',
 ' saLes ExECutIVE ',
 ' reseaRcH sCIEntISt ',
 ' SaLEs eXeCUTiVe ',
 ' rEsEArch sCIenTIsT ',
 ' ReSEARCH sCieNtISt ',
 ' sAles eXEcuTIVE ',
 ' reSeArch sCieNTiSt ',
 ' HeALthcarE RepReseNtatIVe ',
 ' REseARCh SCIenTIst ',
 ' HEAlthcaRE REPrESentATIve ',
 ' mANUfAcTURING direCTor ',
 ' rEsEArcH sCIeNTisT ',
 ' rESEarcH sCIeNTiST ',
 ' saLES ExeCUTIVE ',
 ' reseaRch ScIeNTist ',
 ' SAlEs EXecutiVe ',
 ' sALEs exECuTiVe ',
 ' sAlEs EXECUtiVe ',
 ' reSearcH sCiENTist ',
 ' ReSearcH sCieNTist ',
 ' LabOratoRY tEcHNiciAN ',
 ' lABoRaToRy TEChnicIAN ',
 ' lAbOrAtorY tEChNicIan ',
 ' rEseArCh SCieNtiST ',
 ' lAbORAtORy TECHNicIaN ',
 ' lABoRAtoRY TecHnIcian ',
 ' REseaRch sciEntiST ',
 ' researcH SciEntIST ',
 ' MANufAcTuRiNG dIrEcTOR ',
 ' ReSeARCh sCieNTiSt ',
 ' REseARCH ScIeNTIST ',
 ' heAltHcAre REprESEnTATIVE ',
 ' sALES rEPReSENTAtiVE ',
 ' salEs REPrESENTaTIvE ',
 ' lAbORatoRY tEChNIciAn ',
 ' sAles ExeCUtIVE ',
 ' LAbORaToRy technIcIaN ',
 ' reseArcH SCIEntiST ',
 ' reSeaRcH DIRecToR ',
 ' HUMan REsourcEs ',
 ' MaNuFaCTUrING dirECtoR ',
 ' lABORAtORY tEcHNiCIAn ',
 ' sAles ExecUtive ',

In [132]:
data[["sameasmonthlyincome", "monthlyincome"]].sample(9)

     sameasmonthlyincome monthlyincome
791             4492,84$      4492,84$
311             4492,84$      4492,84$
1487                 NaN           NaN
1454            4492,84$      4492,84$
126            12783,92$     12783,92$
482                  NaN           NaN
424            12783,92$     12783,92$
740             4492,84$      4492,84$
1061            2424,17$      2424,17$