- Ruta absoluta: dirección exacta completa
- Ruta relativa: indicación, trabajamos con estas porque estamos compartiendo repos y tenemos que indicar donde estña nuestro archivo.

In [20]:
import pandas as pd
import json

In [21]:
with open("personal.json", "r") as fichero:
    personal = json.load(fichero)
# Un repositorio el mismo para todas
# IMPORTANTE: que esté al mismo nivel en carpetas
# Si clonamos el repositorio, al ser una ruta relativa 
# no se ejecutará porque estamos trabajando desde donde estamos
# user/cesar/escritorio/files/personal.json
# Para salir de una carpeta "../"

In [22]:
personal

{'workers': [{'nombre': 'Ana',
   'edad': 34,
   'experiencia': 5,
   'nivel': 'Senior',
   'salario': 50000,
   'mascota': 'gatos'},
  {'nombre': 'Eva',
   'edad': 37,
   'experiencia': 2,
   'nivel': 'Mid',
   'salario': 35000},
  {'nombre': 'Marta',
   'edad': 27,
   'experiencia': 1,
   'nivel': 'Junior',
   'salario': 25000},
  {'nombre': 'Paula',
   'edad': 30,
   'experiencia': 3,
   'nivel': 'Mid',
   'salario': 35000}]}

In [23]:
# Añadir un año a la experiencia de cada trabajadora
# iteramos
for diccionario in personal["workers"]:
    print(diccionario)

{'nombre': 'Ana', 'edad': 34, 'experiencia': 5, 'nivel': 'Senior', 'salario': 50000, 'mascota': 'gatos'}
{'nombre': 'Eva', 'edad': 37, 'experiencia': 2, 'nivel': 'Mid', 'salario': 35000}
{'nombre': 'Marta', 'edad': 27, 'experiencia': 1, 'nivel': 'Junior', 'salario': 25000}
{'nombre': 'Paula', 'edad': 30, 'experiencia': 3, 'nivel': 'Mid', 'salario': 35000}

In [24]:
for diccionario in personal["workers"]:
    print(diccionario["experiencia"])

5
2
1
3

In [25]:
for diccionario in personal["workers"]:
    diccionario["experiencia"] += 1
    diccionario["edad"] += 1
    print(diccionario)

{'nombre': 'Ana', 'edad': 35, 'experiencia': 6, 'nivel': 'Senior', 'salario': 50000, 'mascota': 'gatos'}
{'nombre': 'Eva', 'edad': 38, 'experiencia': 3, 'nivel': 'Mid', 'salario': 35000}
{'nombre': 'Marta', 'edad': 28, 'experiencia': 2, 'nivel': 'Junior', 'salario': 25000}
{'nombre': 'Paula', 'edad': 31, 'experiencia': 4, 'nivel': 'Mid', 'salario': 35000}

In [26]:
# No
# Es importantísimo fijarnos en estas lógicas para encontrar nuestros caminos

- 1 año = junior 
- 2 o más = mid 
- más de 4 senior

In [30]:
for d in personal["workers"]:
    if d ["experiencia"] == 1:
        d ["nivel"] = "Junior" 

    elif d["experiencia"] >= 4:
        d ["nivel"] = "Senior" 

    else:
        d["nivel"] = "Mid"

In [ ]:
df_personal = pd.DataFrame(personal["workers"])
# Value "workers" es una lista de diccionarios

In [35]:
pd.DataFrame(personal)

                                             workers
0  {'nombre': 'Ana', 'edad': 35, 'experiencia': 6...
1  {'nombre': 'Eva', 'edad': 38, 'experiencia': 3...
2  {'nombre': 'Marta', 'edad': 28, 'experiencia':...
3  {'nombre': 'Paula', 'edad': 31, 'experiencia':...

In [32]:
df_personal

  nombre  edad  experiencia   nivel  salario mascota
0    Ana    35            6  Senior    50000   gatos
1    Eva    38            3     Mid    35000     NaN
2  Marta    28            2     Mid    25000     NaN
3  Paula    31            4  Senior    35000     NaN

In [ ]:
df_ufo = pd.read_csv("ufo.csv", index_col=0)
# index_col=0, le decimos a pandas que no cree un índice a todas las columnas

In [60]:
df_ufo.head() # ESTO ES PARA VER LAS PRIMERAS FILAS, 
# para ver si las cosas han salido como esperaba
# vemos la parte de arriba de la tabla

,Date_time,date_documented,Year,Month,Hour,Season,Country_Code,Country,Region,Locale,latitude,longitude,UFO_shape,length_of_encounter_seconds,Encounter_Duration,Description
0,1949-10-10 20:30:00,4/27/2004,1949,10,20,Autumn,USA,United States,Texas,San Marcos,29.883056,-97.941111,Cylinder,2700.0,45 minutes,This event took place in early fall around 194...
1,1949-10-10 21:00:00,12/16/2005,1949,10,21,Autumn,USA,United States,Texas,Bexar County,29.384210,-98.581082,Light,7200.0,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...
2,1955-10-10 17:00:00,1/21/2008,1955,10,17,Autumn,GBR,United Kingdom,England,Chester,53.200000,-2.916667,Circle,20.0,20 seconds,Green/Orange circular disc over Chester&#44 En...
3,1956-10-10 21:00:00,1/17/2004,1956,10,21,Autumn,USA,United States,Texas,Edna,28.978333,-96.645833,Circle,20.0,1/2 hour,My older brother and twin sister were leaving ...
4,1960-10-10 20:00:00,1/22/2004,1960,10,20,Autumn,USA,United States,Hawaii,Kaneohe,21.418056,-157.803611,Light,900.0,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...

In [52]:
df_ufo.tail(20) # muestra 20 filas

,Date_time,date_documented,Year,Month,Hour,Season,Country_Code,Country,Region,Locale,latitude,longitude,UFO_shape,length_of_encounter_seconds,Encounter_Duration,Description
80308,2012-09-09 23:00:00,9/24/2012,2012,9,23,Autumn,USA,United States,Georgia,Gainesville,34.297778,-83.824167,Light,5.0,5 seconds,Ball of light
80309,2013-09-09 00:15:00,9/30/2013,2013,9,0,Autumn,USA,United States,Virginia,Norfolk,36.846667,-76.285556,Unknown,1.0,split second,Two or three lights shoot across sky over nava...
80310,2013-09-09 01:50:00,9/30/2013,2013,9,1,Autumn,USA,United States,New York,Buffalo,42.886389,-78.878611,Triangle,180.0,3 minutes,Massive Flat Black triangle with 3 red lights.
80311,2013-09-09 03:00:00,9/9/2013,2013,9,3,Autumn,USA,United States,Ohio,Struthers,41.052500,-80.608056,Unknown,120.0,2 minutes,I saw a routaing line of stares that seemed to...
80312,2013-09-09 09:51:00,9/30/2013,2013,9,9,Autumn,USA,United States,California,San Diego,32.715278,-117.156389,Light,4.0,~4 seconds,2 white lights zig-zag over Qualcomm Stadium (...
80313,2013-09-09 12:34:00,9/9/2013,2013,9,12,Autumn,USA,United States,Texas,Cedar Park,30.505000,-97.820000,Cigar,8.0,5-8 seconds,Cigar Shaped Object Descending in the Directio...
80314,2013-09-09 13:10:00,9/9/2013,2013,9,13,Autumn,CAN,Canada,Alberta,Leduc County,53.250000,-113.783333,Unknown,90.0,45-90 seconds,Fastest dot I have ever seen in the sky&#33
80315,2013-09-09 20:15:00,9/30/2013,2013,9,20,Autumn,USA,United States,New Jersey,Clifton,40.858433,-74.163755,Other,3600.0,~1hr+,Luminous line seen in New Jersey sky.
80316,2013-09-09 20:20:00,9/30/2013,2013,9,20,Autumn,USA,United States,Alabama,Tuscaloosa,33.209722,-87.569167,Fireball,60.0,1:00,White/green object much larger than &quot;shoo...
80317,2013-09-09 20:21:00,9/30/2013,2013,9,20,Autumn,USA,United States,Tennessee,Clarksville,36.529722,-87.359444,Fireball,3.0,3 seconds,Green fireball like object shooting across the...
80318,2013-09-09 21:00:00,9/30/2013,2013,9,21,Autumn,POL,Poland,Lublin Voivodeship,Kolonia Aleksandrów,50.465843,22.891814,Light,15.0,15 seconds,Two points of light following one another in a...
80319,2013-09-09 21:00:00,9/30/2013,2013,9,21,Autumn,USA,United States,Florida,Gainesville,29.651389,-82.325000,Triangle,60.0,1 minute,Three lights in the sky that didn&#39t look li...
80320,2013-09-09 21:00:00,9/30/2013,2013,9,21,Autumn,USA,United States,North Carolina,Hampstead,34.367594,-77.710548,Light,120.0,2 minutes,8 to ten lights bright orange in color large t...
80321,2013-09-09 21:00:00,9/30/2013,2013,9,21,Autumn,CAN,Canada,Prince Edward Island,Milton Station,46.300000,-63.216667,Fireball,180.0,3 minutes,Massive Bright Orange Fireball in Sky
80322,2013-09-09 21:00:00,9/30/2013,2013,9,21,Autumn,USA,United States,Georgia,Woodstock,34.101389,-84.519444,Sphere,20.0,20 seconds,Driving 575 at 21:00 hrs saw a white and green...
80323,2013-09-09 21:15:00,9/30/2013,2013,9,21,Autumn,USA,United States,Tennessee,Nashville,36.165833,-86.784444,Light,600.0,10 minutes,Round from the distance/slowly changing colors...
80324,2013-09-09 22:00:00,9/30/2013,2013,9,22,Autumn,USA,United States,Idaho,Boise,43.613611,-116.202500,Circle,1200.0,20 minutes,Boise&#44 ID&#44 spherical&#44 20 min&#44 10 r...
80325,2013-09-09 22:00:00,9/30/2013,2013,9,22,Autumn,USA,United States,California,Napa Abajo,38.297222,-122.284444,Other,1200.0,hour,Napa UFO&#44
80326,2013-09-09 22:20:00,9/30/2013,2013,9,22,Autumn,USA,United States,Virginia,Vienna,38.901111,-77.265556,Circle,5.0,5 seconds,Saw a five gold lit cicular craft moving fastl...
80327,2013-09-09 23:00:00,9/30/2013,2013,9,23,Autumn,USA,United States,Oklahoma,Edmond,35.652778,-97.477778,Cigar,1020.0,17 minutes,2 witnesses 2 miles apart&#44 Red &amp; White...

In [55]:
type(df_ufo)

pandas.core.frame.DataFrame

In [54]:
df_ufo.sample(5) # podemos decir cuantas filas queremos
# ya no es un csv, ahora es un objeto de pandas de tipo DataFrame

,Date_time,date_documented,Year,Month,Hour,Season,Country_Code,Country,Region,Locale,latitude,longitude,UFO_shape,length_of_encounter_seconds,Encounter_Duration,Description
59204,2002-07-23 22:18:00,7/30/2002,2002,7,22,Summer,USA,United States,California,Los Angeles County,33.980278,-118.450833,Chevron,120.0,2 minutes,Multiple rotating red beacons attending main j...
73285,2013-09-11 23:00:00,9/30/2013,2013,9,23,Autumn,USA,United States,South Carolina,Myrtle Beach,33.688889,-78.886944,Light,60.0,<1 minute,Saw four orange lights appear over ocean then ...
18239,1994-12-15 18:30:00,2/18/2001,1994,12,18,Winter,CAN,Canada,Quebec,Saint-Bruno-de-Montarville,45.525974,-73.340668,Sphere,240.0,4 minutes,It was very cold&#44 so i was sitting in my ca...
61420,2011-07-03 21:00:00,7/4/2011,2011,7,21,Summer,USA,United States,Connecticut,Bristol,41.671667,-72.949722,Fireball,35.0,35 seconds,About 9 P.M. July 3rd&#44 2011 Bristol CT&#44 ...
37342,1997-04-17 22:45:00,9/28/2002,1997,4,22,Spring,USA,United States,Arkansas,Garland County,34.732892,-93.056238,Light,30.0,30 seconds,Orange burst of light that sped out over the lake

In [62]:
df_ufo["Country"].unique() # con este método sacamos los valores únicos
#lo puedes convertir en lista y ordenarla, cambiar valores ...
#trasteando
lista = []
dict_ufo = df_ufo["Country"].unique()
lista.append(dict_ufo)

In [58]:
df_ufo["Country"].value_counts()

Country
United States                       70878
Canada                               3592
United Kingdom                       2348
Australia                             630
India                                 226
                                    ...
Saint Vincent and the Grenadines        1
Eswatini                                1
Ghana                                   1
Algeria                                 1
Palestinian Territories                 1
Name: count, Length: 151, dtype: int64

In [63]:
lista

[array(['United States', 'United Kingdom', 'Bermuda', 'Canada',
        'New Zealand', 'Russia', 'Australia', 'Lithuania', 'Norway',
        'Iceland', 'Mexico', 'Austria', 'Japan', 'Vietnam', nan, 'Turkey',
        'Belgium', 'China', 'Peru', 'Greece', 'Iraq', 'Malaysia',
        'Armenia', 'France', 'Jersey', 'Chile', 'Indonesia', 'India',
        'Thailand', 'Hungary', 'Germany', 'Spain', 'Philippines',
        'Venezuela', 'Pakistan', 'Iran', 'Afghanistan', 'Morocco',
        'Taiwan', 'Saudi Arabia', 'Eswatini', 'Croatia', 'Colombia',
        'Israel', 'Egypt', 'Barbados', 'Poland', 'Serbia', 'South Africa',
        'Ireland', 'Panama', 'Costa Rica', 'South Korea', 'Honduras',
        'Sweden', 'Italy', 'Netherlands', 'Dominican Republic',
        'North Macedonia', 'Argentina', 'Cyprus', 'Namibia', 'Bangladesh',
        'Jamaica', 'Syria', 'United Arab Emirates', 'Greenland', 'Kuwait',
        'Romania', 'Ukraine', 'Bulgaria', 'Slovakia', 'Tunisia', 'Algeria',
        'Trinidad and Tobago', 'Finland', 'Kosovo', 'Lebanon', 'Libya',
        'Mauritius', 'Sri Lanka', 'Bosnia and Herzegovina', 'Latvia',
        'Suriname', 'Guatemala', 'Uzbekistan', 'Ghana', 'Brazil', 'Nepal',
        'Bolivia', 'Portugal', 'Bahrain', 'Jordan', 'Myanmar', 'Slovenia',
        'Denmark', 'Luxembourg', 'Brunei',
        'Saint Vincent and the Grenadines', 'Malta', 'Cuba', 'Zimbabwe',
        'Azerbaijan', 'Fiji', 'Solomon Islands', 'Palau',
        'British Virgin Islands', 'Saint Lucia', 'Maldives', 'Isle of Man',
        'Paraguay', 'Estonia', 'Oman', 'Lesotho', 'Singapore', 'Nigeria',
        'Switzerland', 'Kenya', 'Turks and Caicos Islands', 'Guyana',
        'Belarus', 'Czechia', 'Belize', 'Ecuador', 'Cayman Islands',
        'El Salvador', 'Tanzania', 'Faroe Islands', 'Zambia', 'Cambodia',
        'Saint Helena, Ascension and Tristan da Cunha', 'Ethiopia',
        'Cameroon', 'East Timor', 'Albania', 'Senegal', 'The Bahamas',
        'Tonga', 'Botswana', 'Uruguay', 'Georgia', 'Uganda', 'Cape Verde',
        'Qatar', 'São Tomé and Príncipe', 'Kazakhstan', 'Papua New Guinea',
        'Democratic Republic of the Congo', 'Gibraltar', 'Mongolia',
        'Laos', 'Palestinian Territories'], dtype=object)]

In [67]:
df_ufo.info()

<class 'pandas.core.frame.DataFrame'>
Index: 80328 entries, 0 to 80327
Data columns (total 16 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Date_time                    80328 non-null  object
 1   date_documented              80328 non-null  object
 2   Year                         80328 non-null  int64
 3   Month                        80328 non-null  int64
 4   Hour                         80328 non-null  int64
 5   Season                       80328 non-null  object
 6   Country_Code                 80069 non-null  object
 7   Country                      80069 non-null  object
 8   Region                       79762 non-null  object
 9   Locale                       79871 non-null  object
 10  latitude                     80328 non-null  float64
 11  longitude                    80328 non-null  float64
 12  UFO_shape                    78398 non-null  object
 13  length_of_encounter_seconds  80328 non-null  float64
 14  Encounter_Duration           80328 non-null  object
 15  Description                  80313 non-null  object
dtypes: float64(3), int64(3), object(10)
memory usage: 10.4+ MB

In [64]:
# para ver si tenemos valores duplicados
df_ufo.duplicated().sum()

0

¿cómo guardar esto en u csv?

In [68]:
df_ufo.to_csv("ufo_nuevo.csv") # se crea en la carpeta,
# aunque puede ser en otra usando ../ para retroceder. Puedes hacer copias.
# ya no llamar más a la api

Spotify

llamar api(sptify)

limpio datos de la api

convierto en df

guardo a csv para hacer read.csv

abrir_csv