# M√©todos Group By, Apply, Map y Replace

#   1Ô∏è‚É£ GroupBy en Pandas

¬øQu√© hace?
**El m√©todo .groupby() permite agrupar filas de un DataFrame seg√∫n los valores de una o varias columnas.** 

Luego, puedes aplicar funciones estad√≠sticas como suma, media, conteo, etc.

.agg(): Realiza agregaciones en grupos.
|_____________________________| resultados = grupos['columna_agregada'].agg(['sum', 'mean'])

.sum(): Calcula la suma de valores en grupos.
|_____________________________| suma = grupos['columna'].sum()

.mean(): Calcula el promedio en grupos.
|_____________________________| promedio = grupos['columna'].mean()

.count(): Cuenta los elementos en cada grupo. 
|_____________________________| conteo = grupos['columna'].count()

.max(): Encuentra el valor m√°ximo en grupos.
|_____________________________| maximo = grupos['columna'].max()

.std(): Calcula la desviaci√≥n est√°ndar en grupos.
|_____________________________| desviacion = grupos['columna'].std()

.median(): Calcula la mediana en grupos.
|_____________________________| mediana = grupos['columna'].median()

.ngroups: Devuelve el n√∫mero de grupos creados.
|_____________________________| num_grupos = grupos.ngroups

 -  Para convertir el resultado del groupby a un DataFrame:

        EL_RESULTADO_DEL_GROUPBY.reset_index()

        pd.DataFrame(EL_RESULTADO_DEL_GROUPBY)
- Estad√≠sticos:
Se puede sacar un estad√≠stico para todas las columnas o para una sola columna:

        PARA TODAS LAS COLUMNAS
        df.groupby("gender").count()

        PARA UNA COLUMNA
        df.groupby("gender")["num_polices"].count()
        Tambi√©n podemos incluir m√∫ltiples condiciones

        ESTAMOS HACIENDO UNA AGRUPACI√ìN POR G√âNERO Y TAMA√ëO DE VEH√çCULO
        df.groupby(["gender", "vehicule_size"])["num_polices"].count()

Si quiero calcular m√°s de un estad√≠stico == .agg        (TIENE QUE IR EN FORMATO LISTA)

        df.groupby("gender")["col1"].agg(["mean", "std"])

  - Nulos:

        Tenemos el par√°metro dropna.

        El groupby por defecto LOS IGNORA, es decir, dropna = True.

        En caso de que queramos que nos incluya los nulos tendremos que establecer dropna = False.

Ejemplo b√°sico:
Supongamos que tenemos un DataFrame con empleados, sus departamentos y sus salarios:

In [1]:
import pandas as pd

# Creamos un DataFrame
data = {
    "Empleado": ["Ana", "Luis", "Marta", "Carlos", "Sara"],
    "Departamento": ["Ventas", "IT", "Ventas", "IT", "RRHH"],
    "Salario": [2000, 2500, 2200, 2700, 2300]
}

df = pd.DataFrame(data)

# Agrupar por departamento y calcular la media salarial
df_grouped = df.groupby("Departamento")["Salario"].mean()
print(df_grouped)

Departamento
IT        2600.0
RRHH      2300.0
Ventas    2100.0
Name: Salario, dtype: float64

‚úèÔ∏è EJERCICIO
Agrupa los empleados por departamento y cuenta cu√°ntos empleados hay en cada uno.

In [2]:
# Agrupa los empleados por departamento y cuenta cu√°ntos empleados hay en cada uno.
df.groupby("Departamento").size()

Departamento
IT        2
RRHH      1
Ventas    2
dtype: int64

## Explicaci√≥n:
groupby("Departamento"): Agrupa el DataFrame por la columna "Departamento".

**size(): Cuenta el n√∫mero de elementos (empleados) en cada grupo (departamento).**

#  2Ô∏è‚É£ Apply en Pandas

üîπ ¬øQu√© hace?

**.apply() permite aplicar una funci√≥n a cada elemento de una columna o DataFrame. Es √∫til para transformar datos.**

Sintaxis general: df['nombre_columna'].apply(funcion_a_aplicar)
Utilizamos el metodo apply con lambdas, cuando queremos aplicar la misma funcion a varias columnas o 
utilizar funciones con m√°s de un argumento.

        Sintaxis general: df.apply(lambda x:funcion_a_aplicar(argumento1,argumento2))

        Si no tenemos una funcion definida previamente podemos aplicarlo directamente. Eg: df.apply(lambda x:df[columna_1]/df[columna_2])

**Funcion que recibe un parametro: SOLO APPLY**
df[col].apply(mifuncion)

   ##  OJO!!! QUE SI MI FUNCI√ìN RECIBE UN PARAMETRO PERO EN EL RETURN TENEMOS MAS DE UN VALOR ENTONCES APPLY + LAMBDA

df.apply(lambda lola: mifuncion(lola[col1]), axis = 1, result_type = "expand")

**Funcion que recibe mas de un parametro: APPLY + LAMBDA**
df.apply(lambda lolo: mifuncion(lolo[col1], lolo[col2]), axis = 1)

## M√âTODOS: 
df['columna'].max()
______________________
df['columna'].min()
_________________________
df.dtypes : Devuelve los tipos de datos de las columnas.
_____________________________
df['columna'].apply(funcion) : Aplica una funci√≥n a lo largo de una serie o DataFrame.
____________________________________
df['columna'].map(mapeo) : Reemplaza los valores en una serie utilizando un mapeo.
____________________________________________
df['columna'].replace({valor_original: valor_nuevo}) : Reemplaza valores espec√≠ficos en una serie o DataFrame.
__________________________________________________


üîπ Ejemplo: Convertimos los salarios a d√≥lares (suponiendo que 1‚Ç¨ = 1.1$):

In [ ]:
df["Salario_Dolares"] = df["Salario"].apply(lambda x: x * 1.1)
print(df)

‚úèÔ∏è EJERCICIO
Crea una nueva columna en df que contenga "Alto" si el salario es mayor a 2500 y "Bajo" si es menor. Usa .apply().

<<<<<<<<<<<<<<<< *Me cuesta entender esta l√≥gica de crear la funci√≥n* <<<>>>

In [3]:
def clasificar_salario(salario):
    if salario > 2500:
        return "Alto"
    else:
        return "Bajo"

In [4]:
df["Nivel_Salario"] = df["Salario"].apply(clasificar_salario)
print(df)

  Empleado Departamento  Salario Nivel_Salario
0      Ana       Ventas     2000          Bajo
1     Luis           IT     2500          Bajo
2    Marta       Ventas     2200          Bajo
3   Carlos           IT     2700          Alto
4     Sara         RRHH     2300          Bajo

In [ ]:
# eliminar la columna 
df.drop(columns=["Nivel_Salario"], inplace=True)

<<<<<<<<<<<<<<<< *¬øpor qu√© el resultado de la funci√≥n aparece en float?* <<<>>>

#    3Ô∏è‚É£ Map en Pandas

üîπ ¬øQu√© hace?

**.map() es parecido a .apply(), pero se usa solo en Series (columnas individuales) y reemplaza valores seg√∫n un diccionario o funci√≥n.****

üîπ Ejemplo: Cambiar nombres de departamentos por c√≥digos.

In [5]:
dept_map = {"Ventas": "V", "IT": "I", "RRHH": "R"}

df["Departamento_Codigo"] = df["Departamento"].map(dept_map)
print(df)

  Empleado Departamento  Salario Nivel_Salario Departamento_Codigo
0      Ana       Ventas     2000          Bajo                   V
1     Luis           IT     2500          Bajo                   I
2    Marta       Ventas     2200          Bajo                   V
3   Carlos           IT     2700          Alto                   I
4     Sara         RRHH     2300          Bajo                   R

‚úèÔ∏è EJERCICIO. Cambia los nombres de los empleados a may√∫sculas usando .map().

In [10]:
new_employees = {"Ana": "Any", "Luis": "Louis", "Marta": "Martha", "Carlos": "Charles", "Sara": "Sarah"}
df["Nuevos_Empleados"] = df["Empleado"].map(new_employees)
print(df)

  Empleado Departamento  Salario Nivel_Salario Departamento_Codigo  \
0      Ana       Ventas     2000          Bajo                   V
1     Luis           IT     2500          Bajo                   I
2    Marta       Ventas     2200          Bajo                   V
3   Carlos           IT     2700          Alto                   I
4     Sara         RRHH     2300          Bajo                   R

  Nuevos_Empleados
0              Any
1            Louis
2           Martha
3          Charles
4            Sarah

#   4Ô∏è‚É£ Replace en Pandas

üîπ ¬øQu√© hace?

**.replace() cambia valores espec√≠ficos en una columna o DataFrame entero. << √∫til para limpiar datos.**

üîπ Ejemplo: Cambiar "Ventas" por "Comercial" en la columna "Departamento"

df["Columna"].replace(valor_a_reemplazar, valor_nuevo)

In [11]:
df["Departamento"] = df["Departamento"].replace("Ventas", "Comercial")
print(df)

  Empleado Departamento  Salario Nivel_Salario Departamento_Codigo  \
0      Ana    Comercial     2000          Bajo                   V
1     Luis           IT     2500          Bajo                   I
2    Marta    Comercial     2200          Bajo                   V
3   Carlos           IT     2700          Alto                   I
4     Sara         RRHH     2300          Bajo                   R

  Nuevos_Empleados
0              Any
1            Louis
2           Martha
3          Charles
4            Sarah

‚úèÔ∏è EJERCICIO
Cambia los salarios de 2000 a 2100 y los de 2700 a 2800 usando .replace().

In [12]:
df["Salario"] = df["Salario"].replace({2000: 2100, 2500: 2600})
print(df)

  Empleado Departamento  Salario Nivel_Salario Departamento_Codigo  \
0      Ana    Comercial     2100          Bajo                   V
1     Luis           IT     2600          Bajo                   I
2    Marta    Comercial     2200          Bajo                   V
3   Carlos           IT     2700          Alto                   I
4     Sara         RRHH     2300          Bajo                   R

  Nuevos_Empleados
0              Any
1            Louis
2           Martha
3          Charles
4            Sarah

En este caso estamos usando un diccionario para hacer m√∫ltiples reemplazos en una sola l√≠nea de c√≥digo.

Es decir, el valor a reemplazar es la clave del diccionario y el valor nuevo es el valor asociado a esa clave.
Por ejemplo:

2000 se reemplaza por 2100.

2500 se reemplaza por 2600.

Entonces, usando un diccionario, podemos realizar varios reemplazos en una sola operaci√≥n, sin tener que llamar al m√©todo replace() varias veces.

df["Columna"].replace({valor_a_reemplazar: valor_nuevo})

In [ ]:
'''Resumiendo:
Sin diccionario: replace("Ventas", "Comercial") se usa para reemplazar un √∫nico valor por otro.
Solo necesitas poner el valor a reemplazar y el valor de reemplazo.

Con diccionario: replace({2000: 2100, 2500: 2600}) se usa para reemplazar m√∫ltiples valores, 
por lo que se debe pasar un diccionario donde las claves son los valores a reemplazar y los valores son los nuevos valores.'''