In [1]:
import mysql.connector
from mysql.connector import errorcode

In [2]:
#realizamos la conexion a la base de datos
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                                host='127.0.0.1',
                                database='tienda',
                                auth_plugin='mysql_native_password')
#iniciamos el cursor
mycursor = cnx.cursor()

In [3]:
query = """SELECT *
	            FROM customers""" #string multilinea 3 comillitas

In [4]:
mycursor.execute(query)

In [8]:
mycursor.execute(query)

In [9]:
cursor = mycursor.fetchall()

In [13]:
cursor[:10]

[(103,
  'Atelier graphique',
  'Schmitt',
  'Carine ',
  '40.32.2555',
  '54, rue Royale',
  None,
  'Nantes',
  None,
  '44000',
  'France',
  1370,
  Decimal('21000.00')),
 (112,
  'Signal Gift Stores',
  'King',
  'Jean',
  '7025551838',
  '8489 Strong St.',
  None,
  'Las Vegas',
  'NV',
  '83030',
  'USA',
  1166,
  Decimal('71800.00')),
 (114,
  'Australian Collectors, Co.',
  'Ferguson',
  'Peter',
  '03 9520 4555',
  '636 St Kilda Road',
  'Level 3',
  'Melbourne',
  'Victoria',
  '3004',
  'Australia',
  1611,
  Decimal('117300.00')),
 (119,
  'La Rochelle Gifts',
  'Labrune',
  'Janine ',
  '40.67.8555',
  '67, rue des Cinquante Otages',
  None,
  'Nantes',
  None,
  '44000',
  'France',
  1370,
  Decimal('118200.00')),
 (121,
  'Baane Mini Imports',
  'Bergulfsen',
  'Jonas ',
  '07-98 9555',
  'Erling Skakkes gate 78',
  None,
  'Stavern',
  None,
  '4110',
  'Norway',
  1504,
  Decimal('81700.00')),
 (124,
  'Mini Gifts Distributors Ltd.',
  'Nelson',
  'Susan',
  '4155551450',
  '5677 Strong St.',
  None,
  'San Rafael',
  'CA',
  '97562',
  'USA',
  1165,
  Decimal('210500.00')),
 (125,
  'Havel & Zbyszek Co',
  'Piestrzeniewicz',
  'Zbyszek ',
  '(26) 642-7555',
  'ul. Filtrowa 68',
  None,
  'Warszawa',
  None,
  '01-012',
  'Poland',
  None,
  Decimal('0.00')),
 (128,
  'Blauer See Auto, Co.',
  'Keitel',
  'Roland',
  '+49 69 66 90 2555',
  'Lyonerstr. 34',
  None,
  'Frankfurt',
  None,
  '60528',
  'Germany',
  1504,
  Decimal('59700.00')),
 (129,
  'Mini Wheels Co.',
  'Murphy',
  'Julie',
  '6505555787',
  '5557 North Pendale Street',
  None,
  'San Francisco',
  'CA',
  '94217',
  'USA',
  1165,
  Decimal('64600.00')),
 (131,
  'Land of Toys Inc.',
  'Lee',
  'Kwai',
  '2125557818',
  '897 Long Airport Avenue',
  None,
  'NYC',
  'NY',
  '10022',
  'USA',
  1323,
  Decimal('114900.00'))]

In [11]:
datos = mycursor.fetchone()

In [ ]:
#datos = mycursor.fetchall()  #cuando queremos guardar los datos lo guardamos en una variable porquer sino despues no los tenemos accesibles

In [12]:
datos #[:10]

In [ ]:
mycursor.execute(query)

In [ ]:
mycursor.fetchone() #devuelve 1 de los resultados

La forma larga e incorrecta de manipular CSVs es cargándolos aqui y luego parseándolos "a mano" con bucles y condicionales. Esto es tedioso y propenso a errores. En su lugar, usaremos la librería `pandas`, que nos permite cargar y manipular CSVs de forma sencilla y eficiente usando estos conectores y cursors. Asím, nos ahorramos la creación del CSV en SQL y su posterior lectura en Python. 
VEMOS EN EL MODULO 3 LAS ETLs: Extracción, transformación y carga de datos. Así automaticamente llamaremos a la API, limpiaremos los datos y los cargaremos en una base de datos SQL. Esto sería la AUTOMATIZACIÓN de todo el proceso de análisis de datos. Es importante cerrar la conexión una vez hemos terminado.

In [14]:
cnx.close()   #cuando terminamos el proceso cerramos la conexion

In [15]:
cnx = mysql.connector.connect(  
    host='localhost',
    user='root',
    password='AlumnaAdalab',    
    auth_plugin='mysql_native_password'
)

#iniciamos el cursor
mycursor = cnx.cursor()

In [18]:
query = """CREATE SCHEMA tienda_prueba2;"""

In [19]:
# creo la conexión que antes he cerrado, se ha vuelto a crear en workbench el esquema o base de datos
mycursor.execute(query)

In [23]:
mycursor.execute("""USE tienda_prueba2""")

In [24]:
query_creacion = """CREATE TABLE cliente(
	                    id INT AUTO_INCREMENT,
                        nombre VARCHAR(10),
                        PRIMARY KEY (id));"""

In [25]:
mycursor.execute(query_creacion)

In [26]:
query_insercion = """INSERT INTO cliente (nombre)
VALUES ('Ana');"""

In [27]:
mycursor.execute(query_insercion)

In [28]:
cnx.commit() #confirmamos los cambios en la base de datos porque hemos hecho una insercion, modificacion de los datos

In [29]:
query_insercion = """INSERT INTO cliente (nombre)
    VALUES (%s)""" # significa que ahínco vamos a poner un valor, como utilizar f-strings

In [30]:
cliente = ["Carlos"] #importante que sea una lista

mycursor.execute(query_insercion, cliente)

cnx.commit()

In [31]:
query_seleccion = """INSERT INTO cliente (id, nombre)
    VALUES (%s, %s)"""

In [37]:
clientes = [(3, "Olivia"), (4, "Javier")]

In [38]:
# EXECUTE MANY PARA INSERTAR VARIOS REGISTROS A LA VEZ
mycursor.executemany(query_seleccion, clientes) # paso la query de insercción y la lista de tuplas con los valores a insertar
# confirmamos los cambios
cnx.commit()

HAY VECES QUE EN VEZ DE UTILIZAR EL EXECUTEMANY UTILIZAMOS EL EXECUTE PERO LO HACEMOS EN BUCLE UTILIZANDO TRY...EXCEPT PARA CAPTURAR ERRORES. ASÍ PODEMOS SABER QUÉ REGISTROS HAN DADO ERROR Y CUALES NO.
Así personalizaremos los errores, lo que se llama elevar el error (raise) en programaicón. Por ejemplo, si tenemos un CSV con 1000 registros y 10 de ellos dan error, podemos capturar esos errores y guardarlos en una lista para luego revisarlos y corregirlos.

In [41]:
'''¿Cómo podríamos ver cuantas tablas tenemos en la base de datos?
Hay una base de datos en el Server llamada information_schema que almacena información sobre todas las bases de datos que hay en el servidor MySQL.
Podemos hacer una consulta a esa base de datos para ver las tablas que tenemos en nuestra base.'''

""" Es importante SELECT * FROM COLUMNS
                    WHERE TABLE_NAME ="customers" and table_schema = "northwind"; """
"""SELECT COLUMN_NAME FROM COLUMNS WHERE TABLE_NAME = "customers" and table_schema = "northwind";  """

'SELECT COLUMN_NAME FROM COLUMNS WHERE TABLE_NAME = "customers" and table_schema = "northwind";  '