In [ ]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)

In [3]:
df_datos = pd.read_csv("human_cognitive_performance.csv", index_col=0)
df_datos.head(3)

,Age,Gender,Sleep_Duration,Stress_Level,Diet_Type,Daily_Screen_Time,Exercise_Frequency,Caffeine_Intake,Reaction_Time,Memory_Test_Score,Cognitive_Score,AI_Predicted_Score
User_ID,,,,,,,,,,,,
U1,57,Female,6.5,3,Non-Vegetarian,6.5,Medium,41,583.33,65,36.71,39.77
U2,39,Female,7.6,9,Non-Vegetarian,10.8,High,214,368.24,58,54.35,57.68
U3,26,Male,8.2,6,Vegetarian,5.7,Low,429,445.21,49,32.57,29.54

In [4]:
df_datos.info()

<class 'pandas.core.frame.DataFrame'>
Index: 80000 entries, U1 to U80000
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Age                 80000 non-null  int64
 1   Gender              80000 non-null  object
 2   Sleep_Duration      80000 non-null  float64
 3   Stress_Level        80000 non-null  int64
 4   Diet_Type           80000 non-null  object
 5   Daily_Screen_Time   80000 non-null  float64
 6   Exercise_Frequency  80000 non-null  object
 7   Caffeine_Intake     80000 non-null  int64
 8   Reaction_Time       80000 non-null  float64
 9   Memory_Test_Score   80000 non-null  int64
 10  Cognitive_Score     80000 non-null  float64
 11  AI_Predicted_Score  80000 non-null  float64
dtypes: float64(5), int64(4), object(3)
memory usage: 7.9+ MB

In [5]:
df_datos.describe().T

,count,mean,std,min,25%,50%,75%,max
Age,80000.0,38.525525,12.101876,18.0,28.00,39.00,49.00,59.00
Sleep_Duration,80000.0,7.005332,1.734435,4.0,5.50,7.00,8.50,10.00
Stress_Level,80000.0,5.493762,2.865308,1.0,3.00,5.00,8.00,10.00
Daily_Screen_Time,80000.0,6.504646,3.167072,1.0,3.80,6.50,9.20,12.00
Caffeine_Intake,80000.0,248.988213,144.541990,0.0,123.00,249.00,375.00,499.00
Reaction_Time,80000.0,399.973579,115.369329,200.0,300.15,400.36,499.25,599.99
Memory_Test_Score,80000.0,69.498350,17.305659,40.0,55.00,70.00,85.00,99.00
Cognitive_Score,80000.0,58.172395,23.058522,0.0,40.91,58.36,75.83,100.00
AI_Predicted_Score,80000.0,58.121357,23.119598,0.0,40.85,58.36,75.89,100.00

In [7]:
lista_var = df_datos.columns

In [8]:
buscar_duplicados(lista_var)

Hay 79958 valores duplicados en 'Age'.
Hay 79997 valores duplicados en 'Gender'.
Hay 79939 valores duplicados en 'Sleep_Duration'.
Hay 79990 valores duplicados en 'Stress_Level'.
Hay 79997 valores duplicados en 'Diet_Type'.
Hay 79889 valores duplicados en 'Daily_Screen_Time'.
Hay 79997 valores duplicados en 'Exercise_Frequency'.
Hay 79500 valores duplicados en 'Caffeine_Intake'.
Hay 45405 valores duplicados en 'Reaction_Time'.
Hay 79940 valores duplicados en 'Memory_Test_Score'.
Hay 70508 valores duplicados en 'Cognitive_Score'.
Hay 70459 valores duplicados en 'AI_Predicted_Score'.

Variables NumÃ©ricas

In [10]:
df_datos.dtypes(select='object')

TypeError: 'Series' object is not callable

Variables categoricas