In [1]:
import pandas as pd
import mysql.connector
from mysql.connector import errorcode

In [3]:



dict_creacion = {"generos" : """CREATE TABLE generos (
                                    id_genero INT AUTO_INCREMENT PRIMARY KEY,
                                    nombre_genero VARCHAR(50) NOT NULL,
                                    descripcion TEXT
                                    )""",
                "peliculas": """CREATE TABLE peliculas (
                                    id_pelicula INT AUTO_INCREMENT PRIMARY KEY,
                                    nombre VARCHAR(100) NOT NULL,
                                    duracion INT NOT NULL,
                                    direccion VARCHAR(100) NOT NULL,
                                    id_genero INT NOT NULL,
                                    fecha_estreno DATE NOT NULL,
                                    FOREIGN KEY (id_genero)
                                        REFERENCES generos(id_genero)
                                    )""",
                "clientes": """CREATE TABLE clientes (
                                    id_cliente INT AUTO_INCREMENT PRIMARY KEY,
                                    nombre VARCHAR(50) NOT NULL,
                                    apellido VARCHAR(50) NOT NULL,
                                    direccion VARCHAR(100),
                                    telefono VARCHAR(15),
                                    email VARCHAR(100),
                                    fecha_registro DATE NOT NULL
                                    )""",
                "alquileres": """CREATE TABLE alquileres (
                                    id_alquiler INT AUTO_INCREMENT PRIMARY KEY,
                                    id_cliente INT NOT NULL,
                                    id_pelicula INT NOT NULL,
                                    fecha_alquiler DATE NOT NULL,
                                    fecha_devolucion DATE,
                                    estado ENUM('pendiente', 'devuelto') NOT NULL,
                                    FOREIGN KEY (id_cliente)
                                        REFERENCES clientes(id_cliente)
                                        ON DELETE CASCADE
                                        ON UPDATE CASCADE,
                                    FOREIGN KEY (id_pelicula)
                                        REFERENCES peliculas(id_pelicula)
                                        ON DELETE CASCADE
                                        ON UPDATE CASCADE
                                )"""}


#for k, v in dict_creacion.items():
  #  print(f"estamos creando la tabla {k}")
  #  mycursor.execute(v)
  #  print("-------------------------------")

## Comenzamos creando tablas y nombrando PK y FK

In [4]:
import mysql.connector

cnx = mysql.connector.connect(
    user='root',
    password='AlumnaAdalab',
    host='127.0.0.1',
    auth_plugin='mysql_native_password')
mycursor = cnx.cursor()
print("Conexi√≥n exitosa üöÄ")

Conexi√≥n exitosa üöÄ

In [6]:
mycursor.execute("CREATE SCHEMA IF NOT EXISTS videoclub")
mycursor.execute("USE videoclub")

In [7]:
for k, v in dict_creacion.items():
    print(f"estamos creando la tabla {k}")
    mycursor.execute(v)

    
    print("----------------------")

estamos creando la tabla generos
----------------------
estamos creando la tabla peliculas
----------------------
estamos creando la tabla clientes
----------------------
estamos creando la tabla alquileres
----------------------

# EJERCICIO 2 - MODIFICACIONES
Hacer una funci√≥n para lanzar_query "def lanzar_query (bbdd, query)"
Tiene en cuenta esa base de datos y la consulta/query

def lanzar_query (bbdd, query):
    cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                                host='127.0.0.1', database = bbdd
                                )
    mycursor = cnx.cursor()
    mycursor.execute(query)
    cnx.close()

query = "SELECT * FROM clientes"
lanzar_query("videoclub", "SELECT * FROM clientes")
lanzar_query("videoclub", query)

# 2. Modifica la base de datos

¬°Vaya! Nos hemos equivocado en varias cosas, vamos a tener que hacer 
algunos cambios:

- Modifica la columna email de la tabla **clientes**. Ahora queremos que tenga m√°s capacidad de caracteres y que no acepte nulos.
- Modifica la columna estado en la tabla **alquileres**. Queremos que siga aceptando solo los valores ‚Äòpendiente‚Äô y ‚Äòdevuelto‚Äô, pero que por  defecto el valor sea ‚Äòpendiente‚Äô.

In [8]:
def lanzar_query (bbdd, query):
    cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                                host='127.0.0.1', 
                                auth_plugin='mysql_native_password',
                                database = bbdd
                                )
    mycursor = cnx.cursor()
    mycursor.execute(query)
    
    cnx.close()

In [9]:
modificar_columna = """ALTER TABLE clientes
                            MODIFY COLUMN email VARCHAR(100) NOT NULL;"""

lanzar_query('videoclub', modificar_columna)

In [10]:
modificar_alquileres = """ALTER TABLE alquileres
                                MODIFY COLUMN estado ENUM ('PENDIENTE', 'DEVUELTO') DEFAULT 'PENDIENTE';"""
lanzar_query("videoclub", modificar_alquileres)

Empezamos a insertar datos en tablas del videoclub

In [ ]:
def insertar(bbdd, query, valores):
    cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1', auth_plugin='mysql_native_password',
                              database = bbdd
                              )
    mycursor = cnx.cursor()
    mycursor.executemany(query, valores) #executemany a query y valores q aun no existen
    print(mycursor.rowcount, "registros insertados") #est√° en la lecci√≥n
    # rowcount cuenta Cuantos registros hemos insertado
    cnx.commit()  # a la conexi√≥n,para confirmar los cambios en bbdd

    cnx.close()

La anterior def insertar no vale, necesitamos el executemany y el commit no nos deja.
REALIZAMOS LA CONSULTA/QUERY :

In [57]:
query_insert = '''
                    INSERT INTO generos (nombre_genero, descripcion)
                        VALUES (%s, %s)'''

In [60]:
query_insert = '''
                    INSERT INTO peliculas (nombre, duracion, direccion, 
                    id_genero, fecha_estreno)
                        VALUES (%s, %s, %s, %s, %s)  '''

In [63]:
query_insert = '''
                    INSERT INTO clientes (nombre, apellido, direccion, 
                    telefono, email, fecha_registro)
                        VALUES (%s, %s, %s, %s, %s, %s) '''

In [78]:
query_insert = '''
                    INSERT INTO alquileres (id_cliente, id_pelicula, fecha_alquiler, 
                    fecha_devolucion, estado)
                        VALUES (%s, %s, %s, %s, %s) '''

In [58]:
generos = [('Acci√≥n', 'Pel√≠culas llenas de emoci√≥n y aventuras'),
('Comedia', 'Pel√≠culas para re√≠r y disfrutar'),
('Drama', 'Pel√≠culas emocionales y profundas'),
('Ciencia Ficci√≥n', 'Pel√≠culas con elementos futuristas o tecnol√≥gicos')]

In [59]:
insertar("videoclub", query_insert, generos)

4 registros insertados

In [61]:
peliculas = [('Misi√≥n Rescate', 130, 'Ridley Scott', 4, '2015-10-02'), 
('La Gran Aventura', 120, 'Chris Columbus', 1, '2001-06-22'), ('Re√≠r o Llorar', 95, 'John Smith', 2, '2020-11-12'), 
('Crisis Total', 110, 'Jane Doe', 3, '2019-05-15')]

In [62]:
insertar("videoclub", query_insert, peliculas)

4 registros insertados

In [64]:
clientes = [('Carlos', 'Garc√≠a', 'Av. Principal 123', '555-1234', 'carlos@example.com',  '2023-01-15'),
('Luc√≠a', 'P√©rez', 'Calle Secundaria 45', '555-5678', 'lucia@example.com',  '2023-02-20'), ('Miguel', 'Lopez', 'Av. Tercera 789', '555-9876', 'miguel@example.com', '2023-03-10')]

In [65]:
insertar("videoclub", query_insert, clientes)

3 registros insertados

In [81]:
alquileres = [(1, 1, '2025-01-01', None, 'pendiente'), (2, 2, '2025-01-03', '2025-01-07', 'devuelto'), 
(3, 4, '2025-01-05', None, 'pendiente')]

In [82]:
insertar("videoclub", query_insert, alquileres)

3 registros insertados

Funcion a la que hay que llamar para INSERTAR en bbdd

-- Ahora ejecutar una query de visualizaci√≥n de una tabla para imprimir un 
DataFrame de esta 
- Opci√≥n 1: mantener columnas tabla  
sql = "SELECT * FROM clientes" 
df1 = pd.read_sql_query(sql, cnx) cnx es paso2

# Tenemos un DataFrame que tenemos que cargar en este Jupyter

In [83]:
df_clientes = pd.read_csv("files/clientes.csv")

#, header=None, names=['nombre', 'apellido', 'direccion', 'telefono', 'email', 'fecha_registro'])

CUIDADO CSV es un texto plano, valores separados por comas

In [84]:
df_clientes.head()

,Miguel,Navarro,Calle Central 449,555-7961,ana@example.com,2023-02-27
0,Carmen,Navarro,Calle Norte 659,555-8199,ana@example.com,2024-10-25
1,Sof√≠a,Ruiz,Calle Oeste 504,555-9360,ana@example.com,2023-01-10
2,Carlos,Herrera,Calle Sol 533,555-7115,jorge@example.com,2024-03-13
3,Fernando,Navarro,Calle Estrella 446,555-4390,ana@example.com,2023-04-15
4,Sof√≠a,P√©rez,Calle Central 606,555-3117,claudia@example.com,2023-03-01

In [87]:
df_clientes = pd.read_csv("files/clientes.csv", header=None)

In [88]:
df_clientes.head()

,0,1,2,3,4,5
0,Miguel,Navarro,Calle Central 449,555-7961,ana@example.com,2023-02-27
1,Carmen,Navarro,Calle Norte 659,555-8199,ana@example.com,2024-10-25
2,Sof√≠a,Ruiz,Calle Oeste 504,555-9360,ana@example.com,2023-01-10
3,Carlos,Herrera,Calle Sol 533,555-7115,jorge@example.com,2024-03-13
4,Fernando,Navarro,Calle Estrella 446,555-4390,ana@example.com,2023-04-15

In [89]:
df_clientes = pd.read_csv("files/clientes.csv", header=None, names=['nombre', 'apellido', 'direccion', 'telefono', 'email', 'fecha_registro'])

In [90]:
df_clientes.head()

,nombre,apellido,direccion,telefono,email,fecha_registro
0,Miguel,Navarro,Calle Central 449,555-7961,ana@example.com,2023-02-27
1,Carmen,Navarro,Calle Norte 659,555-8199,ana@example.com,2024-10-25
2,Sof√≠a,Ruiz,Calle Oeste 504,555-9360,ana@example.com,2023-01-10
3,Carlos,Herrera,Calle Sol 533,555-7115,jorge@example.com,2024-03-13
4,Fernando,Navarro,Calle Estrella 446,555-4390,ana@example.com,2023-04-15

In [ ]:
# .tail() devuelve los datos del final

In [91]:
df_clientes.tail()

,nombre,apellido,direccion,telefono,email,fecha_registro
145,Alberto,Vega,Calle Luna 947,555-8111,sofia@example.com,2023-09-05
146,Carlos,Fern√°ndez,Calle Sur 224,555-4859,pedro@example.com,2023-02-16
147,Claudia,Garc√≠a,Calle Oeste 690,555-9656,sofia@example.com,2024-11-14
148,Andr√©s,Dom√≠nguez,Calle Este 479,555-8572,elena@example.com,2023-09-06
149,Sof√≠a,Gil,Calle Libertad 402,555-9261,maria@example.com,2023-04-27

In [93]:
# .sample() devuelve un dato aleatorio
# .sample()--- 3
df_clientes.sample(2)

,nombre,apellido,direccion,telefono,email,fecha_registro
14,Claudia,Vega,Calle Libertad 216,555-5894,sofia@example.com,2023-04-02
117,Ricardo,G√≥mez,Calle Sur 653,555-4393,jorge@example.com,2024-10-20

In [94]:
df_clientes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   nombre          150 non-null    object
 1   apellido        150 non-null    object
 2   direccion       150 non-null    object
 3   telefono        150 non-null    object
 4   email           150 non-null    object
 5   fecha_registro  150 non-null    object
dtypes: object(6)
memory usage: 7.2+ KB

si fuese un dict con keys: nombres, values: valores

In [ ]:
df_clientes["nombre"].unique() #nombres √∫nicos

array(['Miguel', 'Carmen', 'Sof√≠a', 'Carlos', 'Fernando', 'Marta',
       'Claudia', 'Patricia', 'Pedro', 'Alberto', 'Andr√©s', 'Rafael',
       'Luis', 'Mar√≠a', 'Jorge', 'Ana', 'Elena', 'Ricardo', 'Luc√≠a',
       'Laura'], dtype=object)

In [ ]:
#forma del df
df_clientes.shape   # 150 filas y 6 columnas

(150, 6)

In [99]:
df_clientes["nombre"]

0        Miguel
1        Carmen
2         Sof√≠a
3        Carlos
4      Fernando
         ...
145     Alberto
146      Carlos
147     Claudia
148      Andr√©s
149       Sof√≠a
Name: nombre, Length: 150, dtype: object

TENGO QUE INSERTAR VALORES EN SQL CON UNA LISTA DE TUPLAS

o con UNA LISTA DE LISTAS

In [100]:
df_clientes.head()

,nombre,apellido,direccion,telefono,email,fecha_registro
0,Miguel,Navarro,Calle Central 449,555-7961,ana@example.com,2023-02-27
1,Carmen,Navarro,Calle Norte 659,555-8199,ana@example.com,2024-10-25
2,Sof√≠a,Ruiz,Calle Oeste 504,555-9360,ana@example.com,2023-01-10
3,Carlos,Herrera,Calle Sol 533,555-7115,jorge@example.com,2024-03-13
4,Fernando,Navarro,Calle Estrella 446,555-4390,ana@example.com,2023-04-15

In [102]:
df_clientes.values

array([['Miguel', 'Navarro', 'Calle Central 449', '555-7961',
        'ana@example.com', '2023-02-27'],
       ['Carmen', 'Navarro', 'Calle Norte 659', '555-8199',
        'ana@example.com', '2024-10-25'],
       ['Sof√≠a', 'Ruiz', 'Calle Oeste 504', '555-9360',
        'ana@example.com', '2023-01-10'],
       ['Carlos', 'Herrera', 'Calle Sol 533', '555-7115',
        'jorge@example.com', '2024-03-13'],
       ['Fernando', 'Navarro', 'Calle Estrella 446', '555-4390',
        'ana@example.com', '2023-04-15'],
       ['Sof√≠a', 'P√©rez', 'Calle Central 606', '555-3117',
        'claudia@example.com', '2023-03-01'],
       ['Marta', 'Dom√≠nguez', 'Calle Libertad 363', '555-9877',
        'elena@example.com', '2024-08-27'],
       ['Claudia', 'Vega', 'Calle Central 146', '555-4130',
        'luis@example.com', '2024-10-11'],
       ['Patricia', 'Castro', 'Calle Luna 821', '555-7720',
        'maria@example.com', '2024-09-02'],
       ['Pedro', 'G√≥mez', 'Calle Central 831', '555-9197',
        'sofia@example.com', '2023-07-12'],
       ['Alberto', 'Jim√©nez', 'Calle Sol 314', '555-1027',
        'pedro@example.com', '2023-01-15'],
       ['Alberto', 'Herrera', 'Calle Uni√≥n 671', '555-1854',
        'claudia@example.com', '2024-02-19'],
       ['Sof√≠a', 'Ruiz', 'Calle Sol 859', '555-2454',
        'sofia@example.com', '2023-04-20'],
       ['Andr√©s', 'Mart√≠nez', 'Calle Norte 325', '555-7860',
        'ana@example.com', '2023-05-05'],
       ['Claudia', 'Vega', 'Calle Libertad 216', '555-5894',
        'sofia@example.com', '2023-04-02'],
       ['Carlos', 'Ruiz', 'Calle Sol 886', '555-5109',
        'sofia@example.com', '2023-05-13'],
       ['Rafael', 'Navarro', 'Calle Uni√≥n 873', '555-7701',
        'sofia@example.com', '2024-07-22'],
       ['Luis', 'Fern√°ndez', 'Calle Sol 670', '555-2781',
        'pedro@example.com', '2023-06-08'],
       ['Pedro', 'Castro', 'Calle Oeste 694', '555-8877',
        'ana@example.com', '2024-07-23'],
       ['Mar√≠a', 'Navarro', 'Calle Central 667', '555-4713',
        'elena@example.com', '2023-04-16'],
       ['Jorge', 'Ram√≠rez', 'Calle Central 415', '555-3248',
        'sofia@example.com', '2023-06-23'],
       ['Ana', 'Castro', 'Calle Central 697', '555-1925',
        'fernando@example.com', '2024-04-04'],
       ['Alberto', 'Navarro', 'Calle Sur 593', '555-9001',
        'ricardo@example.com', '2023-07-01'],
       ['Alberto', 'Gil', 'Calle Central 253', '555-5432',
        'jorge@example.com', '2024-04-10'],
       ['Carmen', 'Torres', 'Calle Estrella 917', '555-2303',
        'ana@example.com', '2023-10-08'],
       ['Jorge', 'Herrera', 'Calle Uni√≥n 434', '555-1761',
        'pedro@example.com', '2023-06-11'],
       ['Andr√©s', 'Navarro', 'Calle Luna 464', '555-7657',
        'sofia@example.com', '2024-01-09'],
       ['Elena', 'Ruiz', 'Calle Central 717', '555-2247',
        'fernando@example.com', '2024-01-02'],
       ['Andr√©s', 'Ruiz', 'Calle Norte 573', '555-5793',
        'pedro@example.com', '2024-07-23'],
       ['Ricardo', 'S√°nchez', 'Calle Estrella 788', '555-4533',
        'sofia@example.com', '2024-05-07'],
       ['Elena', 'L√≥pez', 'Calle Estrella 824', '555-1749',
        'luis@example.com', '2023-08-22'],
       ['Ricardo', 'Vega', 'Calle Sur 494', '555-9858',
        'claudia@example.com', '2023-10-22'],
       ['Marta', 'Jim√©nez', 'Calle Central 925', '555-7477',
        'elena@example.com', '2024-01-02'],
       ['Miguel', 'Jim√©nez', 'Calle Central 659', '555-8718',
        'maria@example.com', '2023-03-19'],
       ['Pedro', 'G√≥mez', 'Calle Sur 386', '555-4699',
        'luis@example.com', '2023-08-15'],
       ['Fernando', 'Dom√≠nguez', 'Calle Luna 225', '555-6503',
        'fernando@example.com', '2023-04-16'],
       ['Luc√≠a', 'G√≥mez', 'Calle Libertad 378', '555-1513',
        'elena@example.com', '2023-12-10'],
       ['Carmen', 'Castro', 'Calle Luna 232', '555-8751',
        'ricardo@example.com', '2023-10-07'],
       ['Miguel', 'Morales', 'Calle Luna 305', '555-8601',
        'jorge@example.com', '2024-12-07'],
       ['Ana', 'Fern√°ndez', 'Calle Estrella 382', '555-9985',
        'ricardo@example.com', '2023-12-08'],
       ['Ricardo', 'Vega', 'Calle Oeste 734', '555-5995',
        'luis@example.com', '2024-07-24'],
       ['Mar√≠a', 'G√≥mez', 'Calle Estrella 237', '555-6815',
        'pedro@example.com', '2023-08-19'],
       ['Laura', 'Dom√≠nguez', 'Calle Uni√≥n 151', '555-4818',
        'elena@example.com', '2024-12-06'],
       ['Luc√≠a', 'P√©rez', 'Calle Sol 910', '555-2143',
        'elena@example.com', '2024-10-15'],
       ['Pedro', 'D√≠az', 'Calle Sol 915', '555-2977',
        'sofia@example.com', '2023-06-06'],
       ['Laura', 'Dom√≠nguez', 'Calle Sur 709', '555-7469',
        'luis@example.com', '2023-05-10'],
       ['Fernando', 'Dom√≠nguez', 'Calle Libertad 186', '555-7967',
        'elena@example.com', '2024-03-24'],
       ['Marta', 'Herrera', 'Calle Este 337', '555-7922',
        'maria@example.com', '2023-06-23'],
       ['Marta', 'Herrera', 'Calle Este 861', '555-8552',
        'luis@example.com', '2024-10-22'],
       ['Rafael', 'Torres', 'Calle Este 789', '555-5440',
        'luis@example.com', '2023-07-02'],
       ['Pedro', 'Mart√≠nez', 'Calle Sol 764', '555-7215',
        'luis@example.com', '2024-12-28'],
       ['Marta', 'Torres', 'Calle Libertad 658', '555-3490',
        'ana@example.com', '2023-12-01'],
       ['Ana', 'Vega', 'Calle Norte 408', '555-4785',
        'ricardo@example.com', '2023-12-01'],
       ['Alberto', 'Ortega', 'Calle Uni√≥n 411', '555-2717',
        'maria@example.com', '2023-11-25'],
       ['Patricia', 'Ortega', 'Calle Oeste 504', '555-4407',
        'maria@example.com', '2024-03-16'],
       ['Miguel', 'Gil', 'Calle Oeste 799', '555-2886',
        'ricardo@example.com', '2024-01-22'],
       ['Pedro', 'Torres', 'Calle Estrella 617', '555-2703',
        'ricardo@example.com', '2023-05-21'],
       ['Luis', 'Gil', 'Calle Estrella 915', '555-7483',
        'claudia@example.com', '2024-08-24'],
       ['Mar√≠a', 'Ruiz', 'Calle Norte 913', '555-5982',
        'pedro@example.com', '2023-10-10'],
       ['Claudia', 'Garc√≠a', 'Calle Uni√≥n 160', '555-9489',
        'ricardo@example.com', '2023-07-09'],
       ['Carlos', 'Ram√≠rez', 'Calle Este 763', '555-8144',
        'luis@example.com', '2023-05-25'],
       ['Patricia', 'Ortega', 'Calle Central 683', '555-1518',
        'claudia@example.com', '2023-02-28'],
       ['Marta', 'Vega', 'Calle Estrella 655', '555-3033',
        'jorge@example.com', '2023-04-27'],
       ['Laura', 'L√≥pez', 'Calle Uni√≥n 112', '555-6676',
        'pedro@example.com', '2024-02-14'],
       ['Pedro', 'Morales', 'Calle Sol 293', '555-3304',
        'maria@example.com', '2024-09-18'],
       ['Pedro', 'Ruiz', 'Calle Libertad 158', '555-4636',
        'luis@example.com', '2024-04-09'],
       ['Laura', 'Herrera', 'Calle Sur 985', '555-6217',
        'sofia@example.com', '2024-07-07'],
       ['Ana', 'Vega', 'Calle Sur 483', '555-8452',
        'fernando@example.com', '2024-03-07'],
       ['Miguel', 'Ortega', 'Calle Central 935', '555-2034',
        'maria@example.com', '2023-08-16'],
       ['Rafael', 'Ortega', 'Calle Norte 335', '555-9679',
        'fernando@example.com', '2023-02-07'],
       ['Ana', 'Jim√©nez', 'Calle Este 721', '555-7907',
        'maria@example.com', '2023-04-14'],
       ['Carmen', 'Vega', 'Calle Este 640', '555-8066',
        'luis@example.com', '2024-07-12'],
       ['Ana', 'Ram√≠rez', 'Calle Oeste 912', '555-2052',
        'sofia@example.com', '2024-10-25'],
       ['Miguel', 'Ruiz', 'Calle Central 547', '555-4678',
        'jorge@example.com', '2023-01-28'],
       ['Mar√≠a', 'P√©rez', 'Calle Estrella 944', '555-1545',
        'ricardo@example.com', '2024-08-08'],
       ['Alberto', 'Mart√≠nez', 'Calle Sur 548', '555-3048',
        'fernando@example.com', '2023-02-25'],
       ['Ana', 'Morales', 'Calle Luna 462', '555-7748',
        'maria@example.com', '2024-03-06'],
       ['Luis', 'Dom√≠nguez', 'Calle Sur 383', '555-7868',
        'fernando@example.com', '2024-05-08'],
       ['Laura', 'Fern√°ndez', 'Calle Este 743', '555-1873',
        'elena@example.com', '2023-11-23'],
       ['Claudia', 'S√°nchez', 'Calle Central 411', '555-9275',
        'sofia@example.com', '2024-03-04'],
       ['Carmen', 'Torres', 'Calle Sur 770', '555-7737',
        'claudia@example.com', '2023-09-21'],
       ['Carlos', 'Ram√≠rez', 'Calle Sol 570', '555-4267',
        'fernando@example.com', '2023-10-06'],
       ['Jorge', 'Vega', 'Calle Estrella 737', '555-3716',
        'elena@example.com', '2023-08-21'],
       ['Mar√≠a', 'Dom√≠nguez', 'Calle Central 772', '555-8500',
        'fernando@example.com', '2023-07-27'],
       ['Ricardo', 'Navarro', 'Calle Estrella 789', '555-1408',
        'ana@example.com', '2024-10-09'],
       ['Rafael', 'Castro', 'Calle Central 655', '555-3156',
        'maria@example.com', '2024-05-05'],
       ['Laura', 'Mart√≠nez', 'Calle Central 757', '555-6979',
        'elena@example.com', '2024-06-06'],
       ['Ricardo', 'Mart√≠nez', 'Calle Sol 135', '555-1211',
        'elena@example.com', '2024-05-05'],
       ['Carlos', 'Jim√©nez', 'Calle Luna 902', '555-6373',
        'ricardo@example.com', '2024-02-11'],
       ['Elena', 'Morales', 'Calle Central 783', '555-4862',
        'luis@example.com', '2023-03-08'],
       ['Carlos', 'Navarro', 'Calle Central 926', '555-5725',
        'sofia@example.com', '2024-04-24'],
       ['Fernando', 'P√©rez', 'Calle Central 930', '555-1933',
        'maria@example.com', '2023-04-19'],
       ['Carmen', 'Herrera', 'Calle Sol 193', '555-3737',
        'fernando@example.com', '2023-02-13'],
       ['Elena', 'G√≥mez', 'Calle Uni√≥n 888', '555-4388',
        'maria@example.com', '2024-10-16'],
       ['Miguel', 'Torres', 'Calle Estrella 974', '555-6146',
        'ana@example.com', '2024-11-14'],
       ['Ana', 'Ortega', 'Calle Central 942', '555-3603',
        'luis@example.com', '2023-09-18'],
       ['Laura', 'S√°nchez', 'Calle Estrella 775', '555-6308',
        'maria@example.com', '2023-02-20'],
       ['Luis', 'Herrera', 'Calle Sol 924', '555-5736',
        'fernando@example.com', '2024-04-13'],
       ['Sof√≠a', 'Garc√≠a', 'Calle Estrella 679', '555-8406',
        'sofia@example.com', '2023-01-18'],
       ['Luis', 'Fern√°ndez', 'Calle Sur 873', '555-3188',
        'ricardo@example.com', '2023-08-06'],
       ['Marta', 'Ruiz', 'Calle Oeste 360', '555-8999',
        'pedro@example.com', '2024-02-19'],
       ['Laura', 'Torres', 'Calle Sol 997', '555-8173',
        'luis@example.com', '2023-04-27'],
       ['Luc√≠a', 'Herrera', 'Calle Luna 278', '555-1620',
        'ricardo@example.com', '2023-02-14'],
       ['Carmen', 'Mart√≠nez', 'Calle Central 578', '555-1861',
        'ana@example.com', '2023-06-18'],
       ['Sof√≠a', 'Jim√©nez', 'Calle Libertad 173', '555-8764',
        'ana@example.com', '2023-03-20'],
       ['Luc√≠a', 'Gil', 'Calle Sur 489', '555-4080', 'luis@example.com',
        '2024-06-03'],
       ['Ricardo', 'Ram√≠rez', 'Calle Luna 883', '555-1927',
        'elena@example.com', '2024-08-27'],
       ['Marta', 'Castro', 'Calle Sol 594', '555-1357',
        'sofia@example.com', '2023-06-20'],
       ['Patricia', 'Ram√≠rez', 'Calle Sol 611', '555-5645',
        'sofia@example.com', '2023-02-04'],
       ['Fernando', 'Herrera', 'Calle Luna 716', '555-2393',
        'elena@example.com', '2023-06-07'],
       ['Luc√≠a', 'Vega', 'Calle Uni√≥n 839', '555-3057',
        'luis@example.com', '2023-12-05'],
       ['Carmen', 'Herrera', 'Calle Central 976', '555-5503',
        'ricardo@example.com', '2024-09-15'],
       ['Elena', 'Vega', 'Calle Central 609', '555-8470',
        'elena@example.com', '2023-06-11'],
       ['Ana', 'Ortega', 'Calle Libertad 315', '555-7806',
        'pedro@example.com', '2023-01-07'],
       ['Fernando', 'D√≠az', 'Calle Uni√≥n 873', '555-2212',
        'sofia@example.com', '2024-02-23'],
       ['Marta', 'Garc√≠a', 'Calle Central 989', '555-1272',
        'ricardo@example.com', '2024-05-23'],
       ['Luis', 'Navarro', 'Calle Uni√≥n 452', '555-5123',
        'luis@example.com', '2023-01-03'],
       ['Ricardo', 'G√≥mez', 'Calle Sur 653', '555-4393',
        'jorge@example.com', '2024-10-20'],
       ['Luc√≠a', 'Morales', 'Calle Libertad 323', '555-4056',
        'fernando@example.com', '2024-03-06'],
       ['Alberto', 'Mart√≠nez', 'Calle Luna 943', '555-2072',
        'ana@example.com', '2024-08-15'],
       ['Sof√≠a', 'Vega', 'Calle Central 579', '555-2194',
        'elena@example.com', '2024-10-16'],
       ['Andr√©s', 'Dom√≠nguez', 'Calle Luna 856', '555-7721',
        'maria@example.com', '2023-07-21'],
       ['Sof√≠a', 'Castro', 'Calle Estrella 314', '555-3622',
        'claudia@example.com', '2024-07-15'],
       ['Rafael', 'Dom√≠nguez', 'Calle Oeste 249', '555-1325',
        'ricardo@example.com', '2024-08-20'],
       ['Ricardo', 'Gil', 'Calle Central 865', '555-8520',
        'maria@example.com', '2023-03-21'],
       ['Andr√©s', 'Castro', 'Calle Luna 268', '555-6848',
        'ana@example.com', '2023-06-24'],
       ['Mar√≠a', 'Garc√≠a', 'Calle Luna 172', '555-9053',
        'fernando@example.com', '2023-07-25'],
       ['Ana', 'Torres', 'Calle Luna 171', '555-3720',
        'ricardo@example.com', '2023-08-26'],
       ['Jorge', 'L√≥pez', 'Calle Estrella 881', '555-4385',
        'jorge@example.com', '2024-07-24'],
       ['Elena', 'Morales', 'Calle Sol 374', '555-7380',
        'jorge@example.com', '2023-06-24'],
       ['Elena', 'P√©rez', 'Calle Sol 123', '555-5833',
        'sofia@example.com', '2024-03-27'],
       ['Alberto', 'Herrera', 'Calle Oeste 396', '555-5794',
        'elena@example.com', '2024-01-23'],
       ['Marta', 'Ruiz', 'Calle Oeste 976', '555-8968',
        'ana@example.com', '2024-02-26'],
       ['Rafael', 'Torres', 'Calle Sol 359', '555-3197',
        'luis@example.com', '2024-12-02'],
       ['Sof√≠a', 'Ortega', 'Calle Sur 951', '555-9892',
        'jorge@example.com', '2023-03-14'],
       ['Andr√©s', 'D√≠az', 'Calle Uni√≥n 386', '555-1111',
        'pedro@example.com', '2023-08-20'],
       ['Alberto', 'Dom√≠nguez', 'Calle Oeste 165', '555-1826',
        'jorge@example.com', '2023-08-10'],
       ['Claudia', 'Torres', 'Calle Norte 223', '555-6169',
        'pedro@example.com', '2024-11-21'],
       ['Luc√≠a', 'Torres', 'Calle Luna 523', '555-6285',
        'ana@example.com', '2023-09-22'],
       ['Andr√©s', 'Gil', 'Calle Sol 693', '555-9920',
        'maria@example.com', '2023-02-12'],
       ['Alberto', 'Dom√≠nguez', 'Calle Este 693', '555-9713',
        'ana@example.com', '2024-01-06'],
       ['Carmen', 'D√≠az', 'Calle Este 920', '555-8421',
        'luis@example.com', '2024-06-07'],
       ['Luis', 'Torres', 'Calle Norte 193', '555-4992',
        'fernando@example.com', '2024-05-07'],
       ['Andr√©s', 'Ram√≠rez', 'Calle Luna 849', '555-4985',
        'luis@example.com', '2023-06-02'],
       ['Patricia', 'P√©rez', 'Calle Sur 420', '555-8879',
        'ricardo@example.com', '2024-02-25'],
       ['Alberto', 'Vega', 'Calle Luna 947', '555-8111',
        'sofia@example.com', '2023-09-05'],
       ['Carlos', 'Fern√°ndez', 'Calle Sur 224', '555-4859',
        'pedro@example.com', '2023-02-16'],
       ['Claudia', 'Garc√≠a', 'Calle Oeste 690', '555-9656',
        'sofia@example.com', '2024-11-14'],
       ['Andr√©s', 'Dom√≠nguez', 'Calle Este 479', '555-8572',
        'elena@example.com', '2023-09-06'],
       ['Sof√≠a', 'Gil', 'Calle Libertad 402', '555-9261',
        'maria@example.com', '2023-04-27']], dtype=object)

APLICO UN METODO PARA PASAR A LISTA

In [112]:
lista_clientes = df_clientes.values.tolist()

In [113]:
lista_clientes

[['Miguel',
  'Navarro',
  'Calle Central 449',
  '555-7961',
  'ana@example.com',
  '2023-02-27'],
 ['Carmen',
  'Navarro',
  'Calle Norte 659',
  '555-8199',
  'ana@example.com',
  '2024-10-25'],
 ['Sof√≠a',
  'Ruiz',
  'Calle Oeste 504',
  '555-9360',
  'ana@example.com',
  '2023-01-10'],
 ['Carlos',
  'Herrera',
  'Calle Sol 533',
  '555-7115',
  'jorge@example.com',
  '2024-03-13'],
 ['Fernando',
  'Navarro',
  'Calle Estrella 446',
  '555-4390',
  'ana@example.com',
  '2023-04-15'],
 ['Sof√≠a',
  'P√©rez',
  'Calle Central 606',
  '555-3117',
  'claudia@example.com',
  '2023-03-01'],
 ['Marta',
  'Dom√≠nguez',
  'Calle Libertad 363',
  '555-9877',
  'elena@example.com',
  '2024-08-27'],
 ['Claudia',
  'Vega',
  'Calle Central 146',
  '555-4130',
  'luis@example.com',
  '2024-10-11'],
 ['Patricia',
  'Castro',
  'Calle Luna 821',
  '555-7720',
  'maria@example.com',
  '2024-09-02'],
 ['Pedro',
  'G√≥mez',
  'Calle Central 831',
  '555-9197',
  'sofia@example.com',
  '2023-07-12'],
 ['Alberto',
  'Jim√©nez',
  'Calle Sol 314',
  '555-1027',
  'pedro@example.com',
  '2023-01-15'],
 ['Alberto',
  'Herrera',
  'Calle Uni√≥n 671',
  '555-1854',
  'claudia@example.com',
  '2024-02-19'],
 ['Sof√≠a',
  'Ruiz',
  'Calle Sol 859',
  '555-2454',
  'sofia@example.com',
  '2023-04-20'],
 ['Andr√©s',
  'Mart√≠nez',
  'Calle Norte 325',
  '555-7860',
  'ana@example.com',
  '2023-05-05'],
 ['Claudia',
  'Vega',
  'Calle Libertad 216',
  '555-5894',
  'sofia@example.com',
  '2023-04-02'],
 ['Carlos',
  'Ruiz',
  'Calle Sol 886',
  '555-5109',
  'sofia@example.com',
  '2023-05-13'],
 ['Rafael',
  'Navarro',
  'Calle Uni√≥n 873',
  '555-7701',
  'sofia@example.com',
  '2024-07-22'],
 ['Luis',
  'Fern√°ndez',
  'Calle Sol 670',
  '555-2781',
  'pedro@example.com',
  '2023-06-08'],
 ['Pedro',
  'Castro',
  'Calle Oeste 694',
  '555-8877',
  'ana@example.com',
  '2024-07-23'],
 ['Mar√≠a',
  'Navarro',
  'Calle Central 667',
  '555-4713',
  'elena@example.com',
  '2023-04-16'],
 ['Jorge',
  'Ram√≠rez',
  'Calle Central 415',
  '555-3248',
  'sofia@example.com',
  '2023-06-23'],
 ['Ana',
  'Castro',
  'Calle Central 697',
  '555-1925',
  'fernando@example.com',
  '2024-04-04'],
 ['Alberto',
  'Navarro',
  'Calle Sur 593',
  '555-9001',
  'ricardo@example.com',
  '2023-07-01'],
 ['Alberto',
  'Gil',
  'Calle Central 253',
  '555-5432',
  'jorge@example.com',
  '2024-04-10'],
 ['Carmen',
  'Torres',
  'Calle Estrella 917',
  '555-2303',
  'ana@example.com',
  '2023-10-08'],
 ['Jorge',
  'Herrera',
  'Calle Uni√≥n 434',
  '555-1761',
  'pedro@example.com',
  '2023-06-11'],
 ['Andr√©s',
  'Navarro',
  'Calle Luna 464',
  '555-7657',
  'sofia@example.com',
  '2024-01-09'],
 ['Elena',
  'Ruiz',
  'Calle Central 717',
  '555-2247',
  'fernando@example.com',
  '2024-01-02'],
 ['Andr√©s',
  'Ruiz',
  'Calle Norte 573',
  '555-5793',
  'pedro@example.com',
  '2024-07-23'],
 ['Ricardo',
  'S√°nchez',
  'Calle Estrella 788',
  '555-4533',
  'sofia@example.com',
  '2024-05-07'],
 ['Elena',
  'L√≥pez',
  'Calle Estrella 824',
  '555-1749',
  'luis@example.com',
  '2023-08-22'],
 ['Ricardo',
  'Vega',
  'Calle Sur 494',
  '555-9858',
  'claudia@example.com',
  '2023-10-22'],
 ['Marta',
  'Jim√©nez',
  'Calle Central 925',
  '555-7477',
  'elena@example.com',
  '2024-01-02'],
 ['Miguel',
  'Jim√©nez',
  'Calle Central 659',
  '555-8718',
  'maria@example.com',
  '2023-03-19'],
 ['Pedro',
  'G√≥mez',
  'Calle Sur 386',
  '555-4699',
  'luis@example.com',
  '2023-08-15'],
 ['Fernando',
  'Dom√≠nguez',
  'Calle Luna 225',
  '555-6503',
  'fernando@example.com',
  '2023-04-16'],
 ['Luc√≠a',
  'G√≥mez',
  'Calle Libertad 378',
  '555-1513',
  'elena@example.com',
  '2023-12-10'],
 ['Carmen',
  'Castro',
  'Calle Luna 232',
  '555-8751',
  'ricardo@example.com',
  '2023-10-07'],
 ['Miguel',
  'Morales',
  'Calle Luna 305',
  '555-8601',
  'jorge@example.com',
  '2024-12-07'],
 ['Ana',
  'Fern√°ndez',
  'Calle Estrella 382',
  '555-9985',
  'ricardo@example.com',
  '2023-12-08'],
 ['Ricardo',
  'Vega',
  'Calle Oeste 734',
  '555-5995',
  'luis@example.com',
  '2024-07-24'],
 ['Mar√≠a',
  'G√≥mez',
  'Calle Estrella 237',
  '555-6815',
  'pedro@example.com',
  '2023-08-19'],
 ['Laura',
  'Dom√≠nguez',
  'Calle Uni√≥n 151',
  '555-4818',
  'elena@example.com',
  '2024-12-06'],
 ['Luc√≠a',
  'P√©rez',
  'Calle Sol 910',
  '555-2143',
  'elena@example.com',
  '2024-10-15'],
 ['Pedro',
  'D√≠az',
  'Calle Sol 915',
  '555-2977',
  'sofia@example.com',
  '2023-06-06'],
 ['Laura',
  'Dom√≠nguez',
  'Calle Sur 709',
  '555-7469',
  'luis@example.com',
  '2023-05-10'],
 ['Fernando',
  'Dom√≠nguez',
  'Calle Libertad 186',
  '555-7967',
  'elena@example.com',
  '2024-03-24'],
 ['Marta',
  'Herrera',
  'Calle Este 337',
  '555-7922',
  'maria@example.com',
  '2023-06-23'],
 ['Marta',
  'Herrera',
  'Calle Este 861',
  '555-8552',
  'luis@example.com',
  '2024-10-22'],
 ['Rafael',
  'Torres',
  'Calle Este 789',
  '555-5440',
  'luis@example.com',
  '2023-07-02'],
 ['Pedro',
  'Mart√≠nez',
  'Calle Sol 764',
  '555-7215',
  'luis@example.com',
  '2024-12-28'],
 ['Marta',
  'Torres',
  'Calle Libertad 658',
  '555-3490',
  'ana@example.com',
  '2023-12-01'],
 ['Ana',
  'Vega',
  'Calle Norte 408',
  '555-4785',
  'ricardo@example.com',
  '2023-12-01'],
 ['Alberto',
  'Ortega',
  'Calle Uni√≥n 411',
  '555-2717',
  'maria@example.com',
  '2023-11-25'],
 ['Patricia',
  'Ortega',
  'Calle Oeste 504',
  '555-4407',
  'maria@example.com',
  '2024-03-16'],
 ['Miguel',
  'Gil',
  'Calle Oeste 799',
  '555-2886',
  'ricardo@example.com',
  '2024-01-22'],
 ['Pedro',
  'Torres',
  'Calle Estrella 617',
  '555-2703',
  'ricardo@example.com',
  '2023-05-21'],
 ['Luis',
  'Gil',
  'Calle Estrella 915',
  '555-7483',
  'claudia@example.com',
  '2024-08-24'],
 ['Mar√≠a',
  'Ruiz',
  'Calle Norte 913',
  '555-5982',
  'pedro@example.com',
  '2023-10-10'],
 ['Claudia',
  'Garc√≠a',
  'Calle Uni√≥n 160',
  '555-9489',
  'ricardo@example.com',
  '2023-07-09'],
 ['Carlos',
  'Ram√≠rez',
  'Calle Este 763',
  '555-8144',
  'luis@example.com',
  '2023-05-25'],
 ['Patricia',
  'Ortega',
  'Calle Central 683',
  '555-1518',
  'claudia@example.com',
  '2023-02-28'],
 ['Marta',
  'Vega',
  'Calle Estrella 655',
  '555-3033',
  'jorge@example.com',
  '2023-04-27'],
 ['Laura',
  'L√≥pez',
  'Calle Uni√≥n 112',
  '555-6676',
  'pedro@example.com',
  '2024-02-14'],
 ['Pedro',
  'Morales',
  'Calle Sol 293',
  '555-3304',
  'maria@example.com',
  '2024-09-18'],
 ['Pedro',
  'Ruiz',
  'Calle Libertad 158',
  '555-4636',
  'luis@example.com',
  '2024-04-09'],
 ['Laura',
  'Herrera',
  'Calle Sur 985',
  '555-6217',
  'sofia@example.com',
  '2024-07-07'],
 ['Ana',
  'Vega',
  'Calle Sur 483',
  '555-8452',
  'fernando@example.com',
  '2024-03-07'],
 ['Miguel',
  'Ortega',
  'Calle Central 935',
  '555-2034',
  'maria@example.com',
  '2023-08-16'],
 ['Rafael',
  'Ortega',
  'Calle Norte 335',
  '555-9679',
  'fernando@example.com',
  '2023-02-07'],
 ['Ana',
  'Jim√©nez',
  'Calle Este 721',
  '555-7907',
  'maria@example.com',
  '2023-04-14'],
 ['Carmen',
  'Vega',
  'Calle Este 640',
  '555-8066',
  'luis@example.com',
  '2024-07-12'],
 ['Ana',
  'Ram√≠rez',
  'Calle Oeste 912',
  '555-2052',
  'sofia@example.com',
  '2024-10-25'],
 ['Miguel',
  'Ruiz',
  'Calle Central 547',
  '555-4678',
  'jorge@example.com',
  '2023-01-28'],
 ['Mar√≠a',
  'P√©rez',
  'Calle Estrella 944',
  '555-1545',
  'ricardo@example.com',
  '2024-08-08'],
 ['Alberto',
  'Mart√≠nez',
  'Calle Sur 548',
  '555-3048',
  'fernando@example.com',
  '2023-02-25'],
 ['Ana',
  'Morales',
  'Calle Luna 462',
  '555-7748',
  'maria@example.com',
  '2024-03-06'],
 ['Luis',
  'Dom√≠nguez',
  'Calle Sur 383',
  '555-7868',
  'fernando@example.com',
  '2024-05-08'],
 ['Laura',
  'Fern√°ndez',
  'Calle Este 743',
  '555-1873',
  'elena@example.com',
  '2023-11-23'],
 ['Claudia',
  'S√°nchez',
  'Calle Central 411',
  '555-9275',
  'sofia@example.com',
  '2024-03-04'],
 ['Carmen',
  'Torres',
  'Calle Sur 770',
  '555-7737',
  'claudia@example.com',
  '2023-09-21'],
 ['Carlos',
  'Ram√≠rez',
  'Calle Sol 570',
  '555-4267',
  'fernando@example.com',
  '2023-10-06'],
 ['Jorge',
  'Vega',
  'Calle Estrella 737',
  '555-3716',
  'elena@example.com',
  '2023-08-21'],
 ['Mar√≠a',
  'Dom√≠nguez',
  'Calle Central 772',
  '555-8500',
  'fernando@example.com',
  '2023-07-27'],
 ['Ricardo',
  'Navarro',
  'Calle Estrella 789',
  '555-1408',
  'ana@example.com',
  '2024-10-09'],
 ['Rafael',
  'Castro',
  'Calle Central 655',
  '555-3156',
  'maria@example.com',
  '2024-05-05'],
 ['Laura',
  'Mart√≠nez',
  'Calle Central 757',
  '555-6979',
  'elena@example.com',
  '2024-06-06'],
 ['Ricardo',
  'Mart√≠nez',
  'Calle Sol 135',
  '555-1211',
  'elena@example.com',
  '2024-05-05'],
 ['Carlos',
  'Jim√©nez',
  'Calle Luna 902',
  '555-6373',
  'ricardo@example.com',
  '2024-02-11'],
 ['Elena',
  'Morales',
  'Calle Central 783',
  '555-4862',
  'luis@example.com',
  '2023-03-08'],
 ['Carlos',
  'Navarro',
  'Calle Central 926',
  '555-5725',
  'sofia@example.com',
  '2024-04-24'],
 ['Fernando',
  'P√©rez',
  'Calle Central 930',
  '555-1933',
  'maria@example.com',
  '2023-04-19'],
 ['Carmen',
  'Herrera',
  'Calle Sol 193',
  '555-3737',
  'fernando@example.com',
  '2023-02-13'],
 ['Elena',
  'G√≥mez',
  'Calle Uni√≥n 888',
  '555-4388',
  'maria@example.com',
  '2024-10-16'],
 ['Miguel',
  'Torres',
  'Calle Estrella 974',
  '555-6146',
  'ana@example.com',
  '2024-11-14'],
 ['Ana',
  'Ortega',
  'Calle Central 942',
  '555-3603',
  'luis@example.com',
  '2023-09-18'],
 ['Laura',
  'S√°nchez',
  'Calle Estrella 775',
  '555-6308',
  'maria@example.com',
  '2023-02-20'],
 ['Luis',
  'Herrera',
  'Calle Sol 924',
  '555-5736',
  'fernando@example.com',
  '2024-04-13'],
 ['Sof√≠a',
  'Garc√≠a',
  'Calle Estrella 679',
  '555-8406',
  'sofia@example.com',
  '2023-01-18'],
 ['Luis',
  'Fern√°ndez',
  'Calle Sur 873',
  '555-3188',
  'ricardo@example.com',
  '2023-08-06'],
 ['Marta',
  'Ruiz',
  'Calle Oeste 360',
  '555-8999',
  'pedro@example.com',
  '2024-02-19'],
 ['Laura',
  'Torres',
  'Calle Sol 997',
  '555-8173',
  'luis@example.com',
  '2023-04-27'],
 ['Luc√≠a',
  'Herrera',
  'Calle Luna 278',
  '555-1620',
  'ricardo@example.com',
  '2023-02-14'],
 ['Carmen',
  'Mart√≠nez',
  'Calle Central 578',
  '555-1861',
  'ana@example.com',
  '2023-06-18'],
 ['Sof√≠a',
  'Jim√©nez',
  'Calle Libertad 173',
  '555-8764',
  'ana@example.com',
  '2023-03-20'],
 ['Luc√≠a',
  'Gil',
  'Calle Sur 489',
  '555-4080',
  'luis@example.com',
  '2024-06-03'],
 ['Ricardo',
  'Ram√≠rez',
  'Calle Luna 883',
  '555-1927',
  'elena@example.com',
  '2024-08-27'],
 ['Marta',
  'Castro',
  'Calle Sol 594',
  '555-1357',
  'sofia@example.com',
  '2023-06-20'],
 ['Patricia',
  'Ram√≠rez',
  'Calle Sol 611',
  '555-5645',
  'sofia@example.com',
  '2023-02-04'],
 ['Fernando',
  'Herrera',
  'Calle Luna 716',
  '555-2393',
  'elena@example.com',
  '2023-06-07'],
 ['Luc√≠a',
  'Vega',
  'Calle Uni√≥n 839',
  '555-3057',
  'luis@example.com',
  '2023-12-05'],
 ['Carmen',
  'Herrera',
  'Calle Central 976',
  '555-5503',
  'ricardo@example.com',
  '2024-09-15'],
 ['Elena',
  'Vega',
  'Calle Central 609',
  '555-8470',
  'elena@example.com',
  '2023-06-11'],
 ['Ana',
  'Ortega',
  'Calle Libertad 315',
  '555-7806',
  'pedro@example.com',
  '2023-01-07'],
 ['Fernando',
  'D√≠az',
  'Calle Uni√≥n 873',
  '555-2212',
  'sofia@example.com',
  '2024-02-23'],
 ['Marta',
  'Garc√≠a',
  'Calle Central 989',
  '555-1272',
  'ricardo@example.com',
  '2024-05-23'],
 ['Luis',
  'Navarro',
  'Calle Uni√≥n 452',
  '555-5123',
  'luis@example.com',
  '2023-01-03'],
 ['Ricardo',
  'G√≥mez',
  'Calle Sur 653',
  '555-4393',
  'jorge@example.com',
  '2024-10-20'],
 ['Luc√≠a',
  'Morales',
  'Calle Libertad 323',
  '555-4056',
  'fernando@example.com',
  '2024-03-06'],
 ['Alberto',
  'Mart√≠nez',
  'Calle Luna 943',
  '555-2072',
  'ana@example.com',
  '2024-08-15'],
 ['Sof√≠a',
  'Vega',
  'Calle Central 579',
  '555-2194',
  'elena@example.com',
  '2024-10-16'],
 ['Andr√©s',
  'Dom√≠nguez',
  'Calle Luna 856',
  '555-7721',
  'maria@example.com',
  '2023-07-21'],
 ['Sof√≠a',
  'Castro',
  'Calle Estrella 314',
  '555-3622',
  'claudia@example.com',
  '2024-07-15'],
 ['Rafael',
  'Dom√≠nguez',
  'Calle Oeste 249',
  '555-1325',
  'ricardo@example.com',
  '2024-08-20'],
 ['Ricardo',
  'Gil',
  'Calle Central 865',
  '555-8520',
  'maria@example.com',
  '2023-03-21'],
 ['Andr√©s',
  'Castro',
  'Calle Luna 268',
  '555-6848',
  'ana@example.com',
  '2023-06-24'],
 ['Mar√≠a',
  'Garc√≠a',
  'Calle Luna 172',
  '555-9053',
  'fernando@example.com',
  '2023-07-25'],
 ['Ana',
  'Torres',
  'Calle Luna 171',
  '555-3720',
  'ricardo@example.com',
  '2023-08-26'],
 ['Jorge',
  'L√≥pez',
  'Calle Estrella 881',
  '555-4385',
  'jorge@example.com',
  '2024-07-24'],
 ['Elena',
  'Morales',
  'Calle Sol 374',
  '555-7380',
  'jorge@example.com',
  '2023-06-24'],
 ['Elena',
  'P√©rez',
  'Calle Sol 123',
  '555-5833',
  'sofia@example.com',
  '2024-03-27'],
 ['Alberto',
  'Herrera',
  'Calle Oeste 396',
  '555-5794',
  'elena@example.com',
  '2024-01-23'],
 ['Marta',
  'Ruiz',
  'Calle Oeste 976',
  '555-8968',
  'ana@example.com',
  '2024-02-26'],
 ['Rafael',
  'Torres',
  'Calle Sol 359',
  '555-3197',
  'luis@example.com',
  '2024-12-02'],
 ['Sof√≠a',
  'Ortega',
  'Calle Sur 951',
  '555-9892',
  'jorge@example.com',
  '2023-03-14'],
 ['Andr√©s',
  'D√≠az',
  'Calle Uni√≥n 386',
  '555-1111',
  'pedro@example.com',
  '2023-08-20'],
 ['Alberto',
  'Dom√≠nguez',
  'Calle Oeste 165',
  '555-1826',
  'jorge@example.com',
  '2023-08-10'],
 ['Claudia',
  'Torres',
  'Calle Norte 223',
  '555-6169',
  'pedro@example.com',
  '2024-11-21'],
 ['Luc√≠a',
  'Torres',
  'Calle Luna 523',
  '555-6285',
  'ana@example.com',
  '2023-09-22'],
 ['Andr√©s',
  'Gil',
  'Calle Sol 693',
  '555-9920',
  'maria@example.com',
  '2023-02-12'],
 ['Alberto',
  'Dom√≠nguez',
  'Calle Este 693',
  '555-9713',
  'ana@example.com',
  '2024-01-06'],
 ['Carmen',
  'D√≠az',
  'Calle Este 920',
  '555-8421',
  'luis@example.com',
  '2024-06-07'],
 ['Luis',
  'Torres',
  'Calle Norte 193',
  '555-4992',
  'fernando@example.com',
  '2024-05-07'],
 ['Andr√©s',
  'Ram√≠rez',
  'Calle Luna 849',
  '555-4985',
  'luis@example.com',
  '2023-06-02'],
 ['Patricia',
  'P√©rez',
  'Calle Sur 420',
  '555-8879',
  'ricardo@example.com',
  '2024-02-25'],
 ['Alberto',
  'Vega',
  'Calle Luna 947',
  '555-8111',
  'sofia@example.com',
  '2023-09-05'],
 ['Carlos',
  'Fern√°ndez',
  'Calle Sur 224',
  '555-4859',
  'pedro@example.com',
  '2023-02-16'],
 ['Claudia',
  'Garc√≠a',
  'Calle Oeste 690',
  '555-9656',
  'sofia@example.com',
  '2024-11-14'],
 ['Andr√©s',
  'Dom√≠nguez',
  'Calle Este 479',
  '555-8572',
  'elena@example.com',
  '2023-09-06'],
 ['Sof√≠a',
  'Gil',
  'Calle Libertad 402',
  '555-9261',
  'maria@example.com',
  '2023-04-27']]

In [114]:
df_clientes.itertuples()

In [120]:
for tup in df_clientes.itertuples(index=False, name=None):
    print(tup)
    break

('Miguel', 'Navarro', 'Calle Central 449', '555-7961', 'ana@example.com', '2023-02-27')

otro m√©todo: to records (+ adelante)
ITERTUPLES NOS GENERA UN OBJETO MAS FACIL DE ITERAR

In [123]:
lista_clientes = list(df_clientes.itertuples(index=False, name=None))

In [125]:
lista_tuplas_clientes = list(df_clientes.to_records(index=False))
lista_tuplas_clientes[:1]

[('Miguel', 'Navarro', 'Calle Central 449', '555-7961', 'ana@example.com', '2023-02-27')]

In [126]:
df_clientes.to_records(index=False). tolist()[:1]

[('Miguel',
  'Navarro',
  'Calle Central 449',
  '555-7961',
  'ana@example.com',
  '2023-02-27')]

In [128]:
query = 'INSERT INTO clientes (nombre, apellido, direccion, telefono, email, fecha_registro) VALUES (%s, %s, %s, %s, %s, %s)'

In [130]:
insertar('videoclub', query, lista_clientes)

150 registros insertados