# Apertura de excel con Pandas:

In [2]:
# importamos las librer√≠as que necesitaremos

# Importar librer√≠a para trabajar con archivos JSON
# -----------------------------------------------------------------------
import json

# Importar librer√≠as para manipulaci√≥n y an√°lisis de datos
# -----------------------------------------------------------------------
import pandas as pd

¬°Nuevamente a leer archivos, y nuevamente el m√©todo ‚Äúread‚Äù...pero ahora para Excel!

In [4]:
df_ufo_excel = pd.read_excel("ufo.xlsx", index_col = 0) # ya conoces a "read" no? :)

Al igual que con el "csv", hay que decirle a Pandas que la primera columna es el √≠ndice para que no cree la columna "Unnamed: 0".

In [32]:
df_ufo_excel.head()

,Date_time,date_documented,Year,Month,Hour,Season,Country_Code,Country,Region,Locale,latitude,longitude,UFO_shape,length_of_encounter_seconds,Encounter_Duration,Description
0,1949-10-10 20:30:00,4/27/2004,1949,10,20,Autumn,USA,United States,Texas,San Marcos,29.883056,-97.941111,Cylinder,2700.0,45 minutes,This event took place in early fall around 194...
1,1949-10-10 21:00:00,12/16/2005,1949,10,21,Autumn,USA,United States,Texas,Bexar County,29.384210,-98.581082,Light,7200.0,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...
2,1955-10-10 17:00:00,1/21/2008,1955,10,17,Autumn,GBR,United Kingdom,England,Chester,53.200000,-2.916667,Circle,20.0,20 seconds,Green/Orange circular disc over Chester&#44 En...
3,1956-10-10 21:00:00,1/17/2004,1956,10,21,Autumn,USA,United States,Texas,Edna,28.978333,-96.645833,Circle,20.0,1/2 hour,My older brother and twin sister were leaving ...
4,1960-10-10 20:00:00,1/22/2004,1960,10,20,Autumn,USA,United States,Hawaii,Kaneohe,21.418056,-157.803611,Light,900.0,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...

üö®‚ö†Ô∏è NOTA Puede que al ejecutar este l√≠nea de c√≥digo os salga un error:

DON'T PANIC!!! Lo √∫nico que tendr√°s que hacer es importaros openpyxl. ¬øC√≥mo?

Vas a la terminal y ejecutas el siguiente c√≥digo:
pip3 install openpyxl
o

pip install openpyxl

Hay muchos m√°s par√°metros que puedes usar al abrir este tipo de archivos, como por ejemplo saltar las primeras l√≠neas del archivo de Excel o abrir los datos de una pesta√±a en concreto del documento. Aqu√≠ tienes la documentaci√≥n para que le eches un vistazo: [read_excel](https://pandas.pydata.org/docs/reference/api/pandas.read_excel.html)