#  Conexi贸n a una Base de Datos MySQL desde Python:

**NOTA IMPORTANTE: **

Al comenzar esta lecci贸n e ir ejecutando las diferentes celdas de Python, te recomendamos que tengas abierto tambien MySQL para ir viendo paso a paso como se van ejecutando las ordenes desde este notebook en MySQL.

En esta lecci贸n, aprenderemos c贸mo establecer una conexi贸n con una base de datos MySQL existente desde un script de Python utilizando el constructor de la clase `connect()`.

El constructor `connect()` es esencial para crear una conexi贸n con un servidor MySQL y devuelve un objeto de tipo `MySQLConnection`. A trav茅s de un ejemplo pr谩ctico, exploraremos c贸mo utilizarlo de manera efectiva.

 **NOTA IMPORTANTE**  Probablemente no tengas instaladas estas librer铆as que vamos a utilizar, asi que si encuentras un error al ejecutar la celda de Python que esta debajo deber铆as ejecutar las instalaciones que se muestran a continuaci贸n, sigue estos pasos en tu terminal:

1. Ejecuta `pip install mysql-connector`.

<!-- 2. Luego, ejecuta `pip install mysql-connector-python`. -->

Aseg煤rate de que la terminal muestra "base" y que en Jupyter, en la parte superior derecha, se muestra "base (y la versi贸n de Python)". Despu茅s de estos pasos, vuelve a ejecutar la celda.

## Descripci贸n de los Argumentos de *`connect()`:*

Antes de comenzar, exploremos algunos de los argumentos clave que utilizaremos al conectar a una base de datos utilizando el constructor `connect()`.

- `user`: Este argumento se refiere al nombre de usuario que se utilizar谩 para autenticarse en el servidor MySQL.

- `password`: Aqu铆 debemos proporcionar la contrase帽a correspondiente al usuario para la autenticaci贸n en el servidor MySQL.

- `database`: Es el nombre de la base de datos a la que deseamos conectarnos.

- `host`: Este argumento se utiliza para especificar el nombre del servidor MySQL o la direcci贸n IP a la que nos conectaremos. Por defecto, este valor es "localhost", que se refiere a la misma m谩quina en la que se ejecuta el c贸digo (127.0.0.1 es la direcci贸n IP equivalente).

- `port`: El puerto TCP/IP del servidor MySQL. Debe ser un n煤mero entero y, por defecto, se establece en 3306.


Existen m谩s argumentos que son opcionales o que se usar谩n cuando queramos configurar la conexi贸n de una manera muy concreta. Pod茅is consultar la descripci贸n de todos los par谩metros [aqu铆](https://dev.mysql.com/doc/connector-python/en/connector-python-connectargs.html).

In [16]:
pip install mysql-connector

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: mysql-connector in c:\users\noeli\appdata\roaming\python\python312\site-packages (2.2.9)
Note: you may need to restart the kernel to use updated packages.

In [17]:
pip install mysql-connector-python

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: mysql-connector-python in c:\users\noeli\appdata\roaming\python\python312\site-packages (9.2.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
# Importar librer铆a para la conexi贸n con MySQL
# -----------------------------------------------------------------------
import mysql.connector
from mysql.connector import errorcode

In [3]:
# ahora creamos la conexi贸n con los argumentos:
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1',
                              database='tienda', 
                              auth_plugin ='mysql_native_password')

print(cnx)
cnx.close()

<mysql.connector.connection.MySQLConnection object at 0x000002740397F080>

En ocasiones podemos sufrir errores de conexi贸n, por lo que es interesante a帽adir manejo de excepciones al c贸digo anterior. Usando *errorcode* podemos crear casos para cada tipo de error posible:

In [28]:
# En este c贸digo estamos haciendo un try except. Si recordamos esto nos permit铆a hacer un manejo de los errores, para evitar que nuestro c贸digo se pare. Para eso lo que estamos haciendo es
## intenta hacer la conexi贸n son la base de datos de tienda 
try:
  cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1',
                              database='tienda', auth_plugin ='mysql_native_password')
# en caso de que no lo consigas por que hay alg煤n error entonces ...
except mysql.connector.Error as err:

  # si es un error con la contrase帽a devuelveme un mensaje de acceso denegado ya que tenemos problemas con la contrase帽a
  if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
    print("Something is wrong with your user name or password")
  
  # si el error no tiene que ver con la contrase帽a, puede ser porque la base de datos no exista, devuelveme un mensaje de que la base de datos no existe
  elif err.errno == errorcode.ER_BAD_DB_ERROR:
    print("Database does not exist")
  
  # si no es por ninguno de los errores anteriores, printeame cual es el error que estoy teniendo en mi conexi贸n
  else:
    print(err)
else:
  cnx.close()

## Desconexi贸n de la base de datos usando MySQLConnector

Una vez hayamos terminado de realizar las consultas o trabajar de cualquier modo con la base de datos a la que nos hemos conectado con el connector, tendremos que desconectarnos usando el m茅todo *close()*:

In [41]:
# En este caso vamos a pasarle los atributos al conector usando un diccionario:

config = {
  'user': 'root',
  'password': 'AlumnaAdalab',
  'host': '127.0.0.1',
  'database': 'tienda',
  'auth_plugin': 'mysql_native_password',
  'raise_on_warnings': True
}

cnx = mysql.connector.connect(**config)

cnx.close()

En este fragmento de c贸digo, hemos establecido la conexi贸n `cnx` con la base de datos "tienda". Con esta conexi贸n, podemos llevar a cabo consultas sobre los datos almacenados en sus tablas (m谩s adelante exploraremos c贸mo hacerlo). Cuando hayamos finalizado nuestras operaciones y deseemos desconectarnos, ser谩 necesario utilizar el m茅todo `close()` del objeto connector que hemos definido, en este caso llamado `cnx`. Es importante destacar que este m茅todo no requiere argumentos, lo que lo hace de uso sencillo.

# Realizaci贸n de queries usando MySQLConnector:

Una vez que creamos la conexi贸n con mysql, vamos a usar el m茅todo *cursor()* y *execute()* para poder realizar las queries.

El m茅todo cursor() se utiliza para crear un objeto de cursor, que es esencial para ejecutar consultas SQL en una conexi贸n de base de datos. Una vez que tienes un objeto de cursor, puedes utilizar el m茅todo execute() para enviar una consulta SQL al servidor MySQL y ejecutarla.

In [31]:
# realizamos la conexi贸n con la BBDD que queremos
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1',
                              database='tienda', auth_plugin ='mysql_native_password')

# iniciamos el cursor                               
mycursor = cnx.cursor()

# query de ejemplo:

query = ("""SELECT city, state FROM customers 
         WHERE customer_number BETWEEN 121 AND 124""")

# luego llamamos al m茅todo execute() del cursor, al que pasamos como argumento el string que contiene la consulta.
## De esta manera se ejecuta la consulta en la base de datos y si todo va correctamente, el resultado se almacenar谩 en el cursor.
mycursor.execute(query)

En el *execute()* podemos pasar cualquier tipo de query: crear tablas, alterar tablas, insertar datos,... vamos a verlo con unos ejemplos.

Vamos a aprovechar para introducir el manejo de excepciones a la hora de trabajar con MySQL Connector/Python.

- Crear Bases de Datos:

In [32]:
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1', auth_plugin ='mysql_native_password')


mycursor = cnx.cursor()
try:
    mycursor.execute("CREATE DATABASE BD_pruebas")
    print(mycursor)
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

MySQLCursor: CREATE DATABASE BD_pruebas

**Ojo:** al realizar la conexi贸n, no le hemos indicado ninguna bases de datos, ya que la estamos creando.

En este ejemplo, estamos estableciendo la conexi贸n y creando el *cursor*, despu茅s intentamos crear la base de datos "BD_pruebas". Si no se puede crear, nos dar谩 un mensaje con el error que ha ocurrido.

En este momento, notaras que en MySQL existe una nueva base de datos llamada BD_pruebas (puedes verla en MySQL junto a los demas SCHEMAS)

Si ejecutamos dos veces esta celda, nos dar谩 un aviso diendo que la base de datos ya existe.

- Creaci贸n de tablas:

Ya tenemos una base de datos creada, pero seguramente sabes que no tiene nada, ni siquiera su unidad basica que son las tablas, asi que comenzaremos creando una llama "customers".

In [33]:
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1', database='BD_pruebas', auth_plugin ='mysql_native_password')


mycursor = cnx.cursor()
try:
    mycursor.execute("CREATE TABLE customers (name VARCHAR(255), address VARCHAR(255))")
    print(mycursor)
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

MySQLCursor: CREATE TABLE customers (name VARCHAR(255..

Ahora s铆 hemos establecido la base de datos sobre la que estamos trabajando, por lo dem谩s, este c贸digo es igual que el anterior, cambiando la query para crear una tabla en nuestra base de datos.

- Inserci贸n de datos:

Ahora que hemos completado la creaci贸n de una base de datos, hemos definido una tabla con sus columnas y restricciones correspondientes, estamos listas para comenzar a agregar registros a esta tabla.

In [34]:
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1', database='BD_pruebas', auth_plugin ='mysql_native_password')


mycursor = cnx.cursor()
query = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = ("Ana", "Calle 21")
try: 
    mycursor.execute(query, val)
    cnx.commit()
    print(mycursor.rowcount, "registro insertado.")  #rowcount ???

except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

1 registro insertado.

Seguimos trabajando sobre BD_pruebas. Ahora hemos definido nuestra query para la inserci贸n de datos en la que hemos incluido `%s` por cada uno de los valores que vamos a introducir. Despu茅s, definimos una variable en la que van los datos que queremos insertar en forma de tupla.

Esta vez, en el *execute()* hemos pasado dos argumentos: el primero con la query y el segundo con los valores.

**Uso de commit:** A la hora de trabajar con sentencias INSERT es necesario el uso de *commit()* para que los cambios se efectuen en la base de datos. De no llamar a ese m茅todo, las inserciones no se llevar谩n a cabo.

- Inserci贸n de m煤ltiples registros:

En el ejemplo anterior hemos introducido una 煤nica fila en nuestra base de datos. Si queremos insertar m煤ltiples filas tenemos que usar *executemany()* y definir una variable con todos los datos que queremos insertar en forma de lista de tuplas.

In [35]:
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1', database='BD_pruebas', auth_plugin ='mysql_native_password')


mycursor = cnx.cursor()
sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = [
  ('Ana', 'Lowstreet 4'),
  ('Rocio', 'Apple st 652'),
  ('Juana', 'Mountain 21'),
  ('Pedro', 'Valley 345')
]

try: 
    mycursor.executemany(sql, val)
    cnx.commit()
    print(mycursor.rowcount, "registro/s insertado/s.")

except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

4 registro/s insertado/s.

- Eliminar registros de una tabla:

**Uso de rollback:** Si despu茅s de haber realizado una transacci贸n con *execute()* nos di茅semos cuenta de que los datos que hemos introducido son incorrectos en alguna manera, si a煤n no hemos ejecutado *commit()* podr铆amos dar marcha atr谩s y desestimar los cambios usando *rollback()*:

In [36]:
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1', database='BD_pruebas', auth_plugin ='mysql_native_password')


mycursor = cnx.cursor()
sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = ("Lucia", "Plaza 22")
try:
    mycursor.execute(sql, val)
    cnx.rollback()
    print(mycursor.rowcount, "registro no insertado.")

except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

mycursor.execute("SELECT * FROM customers")  
results = mycursor.fetchall()
print(results)

1 registro no insertado.
[('Ana', 'Calle 21'), ('Ana', 'Lowstreet 4'), ('Rocio', 'Apple st 652'), ('Juana', 'Mountain 21'), ('Pedro', 'Valley 345')]

Si ya hemos ejecutado *commit()* y queremos eliminar un registro de una tabla existente, usaremos *execute()* con la sentencia "DELETE FROM" de la siguiente manera:

In [37]:
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1', database='BD_pruebas', auth_plugin ='mysql_native_password')


mycursor = cnx.cursor()
sql = "DELETE FROM customers WHERE address = 'Calle 21'"
try:
    mycursor.execute(sql)
    cnx.commit()
    print(mycursor.rowcount, "registro/s eliminado/s")

except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

1 registro/s eliminado/s

- Actualizar una tabla:

Tambi茅n podemos actualizar registros de la misma forma que lo har铆amos en SQL con la sentencia "UPDATE":

In [38]:
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1', database='BD_pruebas', auth_plugin ='mysql_native_password')


mycursor = cnx.cursor()
sql = "UPDATE customers SET address = 'Canyon 123' WHERE address = 'Valley 345'"
try:
    mycursor.execute(sql)
    cnx.commit()
    print(mycursor.rowcount, "registro/s modificado/s.")

except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

1 registro/s modificado/s.

**NOTA:** siempre que hagamos cualquier modificaci贸n sobre los registros tenemos que usar *commit()* para que esos cambios se hagan efectivos.

Hemos llegado al final de esta lecci贸n sobre c贸mo conectar **MySQL** con **Python**.  Hoy hemos cubierto un tema clave como es la conexi贸n a bases de datos desde Python

Con esta base s贸lida, ya tienes las herramientas necesarias para empezar a trabajar con bases de datos de manera m谩s din谩mica y eficiente, integrando Python en el proceso. 烩锔

Recuerda que la pr谩ctica es clave . Te animo a seguir experimentando con diferentes consultas, datasets y conexiones. 隆Cuanto m谩s practiques, m谩s dominar谩s esta poderosa combinaci贸n!

隆Hasta pronto y sigue con ese gran esp铆ritu de aprendizaje!