https://developer.nytimes.com/docs/books-product/1/overview

# APIs
###
Descripción del Ejercicio:
En este ejercicio de repaso, usaremos la API Books API de Google, el objetivo es recopilar información detallada sobre libros de Stephen King y crear una base de datos local para almacenarlos.

Pasos a Seguir:
Consulta de Datos de Libros (API Books API - Google Books):

Utiliza la API Books API para buscar libros de Stephen King. Aquí el link a su documentación.

Realiza una solicitud a la API y almacena los datos de los libros de Stephen King’s.

Creación de una Base de Datos Local:

Diseña una BBDD para almacenar la información de los libros.

### Bases de Datos I
Descripción del problema.
Realiza una bases de datos para resolver el siguiente problema:

El instituto desea organizar la información de sus profesores, módulos, y alumnos en una base de datos relacional. A continuación, se describen los requisitos:


# Profesores: 
Se deben almacenar los datos de los profesores, que incluyen:

DNI (identificador único)

Nombre

Dirección

Teléfono

# Módulos: 
Cada módulo tiene la siguiente información:

Código (identificador único)

Nombre del módulo

Cada módulo es impartido por un único profesor, pero un profesor puede impartir varios módulos.

# Alumnos: 
De los alumnos, se deben guardar los siguientes datos:

Número de expediente (identificador único)

Nombre

Apellidos

Fecha de nacimiento Cada alumno puede estar matriculado en uno o varios módulos.

Inserta datos de prueba en las tablas creadas.
Para profesores

Copy
('12345678A', 'Juan Pérez', 'Calle Mayor, 10', '600123456'),
('87654321B', 'María López', 'Avenida Sol, 45', '600654321'),
('45678912C', 'Carlos Gómez', 'Plaza Luna, 7', '600789123');
Para módulos

En los valores de los módulos, se proporciona el código de los módulo, si has utilizado como código un valor autoincremental, piensa como deberías modificar los valores. De los profesores que imparten los módulos se ha utilizado el DNI.

Copy
('MOD101', 'Matemáticas', '12345678A'),
('MOD102', 'Física', '87654321B'),
('MOD103', 'Química', '45678912C'),
('MOD104', 'Biología', '12345678A'),
('MOD105', 'Historia', '87654321B');
Para la tabla alumnnos

Copy
(1001, 'Ana Martínez', 'Martínez', '2005-03-15'),
(1002, 'Luis Fernández', 'Fernández', '2004-11-22'),
(1003, 'Clara Ruiz', 'Ruiz', '2006-01-10'),
(1004, 'Pedro Sánchez', 'Sánchez', '2005-07-08'),
(1005, 'Lucía Torres', 'Torres', '2004-09-18');
Para la tabla matrícula:

Si has utilizado otrso identificadores para las tablas, modifica los valores de los módulos y alumnos con los valores que has utilizado. En la tabla matrícula se ha utilizado el número de expediente del alumno y el código del módulo.

Copy
(1, 1001, 'MOD101'),
(2, 1001, 'MOD102'),
(3, 1002, 'MOD101'),
(4, 1002, 'MOD103'),
(5, 1003, 'MOD104'),
(6, 1004, 'MOD105'),
(7, 1005, 'MOD102'),
(8, 1005, 'MOD104');


Notas:

Los dni en la tabla Profesores son únicos y referenciados como clave foránea en la tabla Módulos.

Los códigos de los módulos en la tabla Módulos son únicos y se referencian como clave foránea en la tabla Matriculas.

Los números de expediente en la tabla Alumnos son únicos y se referencian como clave foránea en la tabla Matriculas.

Realiza las siguientes consultas:
Listar todos los datos de los profesores:

Mostrar los nombres y teléfonos de todos los profesores

Listar todos los módulos impartidos en el instituto

Mostrar el nombre y apellidos de todos los alumnos

Listar todos los números de expediente de los alumnos matriculados

Buscar un profesor por su DNI (por ejemplo, 12345678A)

Mostrar todos los módulos cuyo nombre contenga la palabra "Matemáticas"

Listar los alumnos nacidos después del año 2005

Obtener todas las matrículas realizadas en un módulo específico (por ejemplo, módulo MOD101)

Listar todos los módulos impartidos por un profesor específico (por ejemplo, DNI 12345678A)

Listar a los alumnos ordenados por apellidos de forma ascendente

Inserta más datos
En este apartado vamos a insertar más datos en la tabla de alumnos. Pero en este caso, los datos los vamos a obtener de un API, que devuelve un listado de alumnos.

Para llamar al API, utiliza la siguiente URL: https://beta.adalab.es/curso-intensivo-fullstack-recursos/apis/alumnos-v1/alumnos.json.

Esta API está dentro del entorno de desarrollo de Adalab, con valores ficticios y para uso académico. Admite peticiones GET y no es necesario autenticación.

Haz una llamada a la API y obtén los datos de los alumnos.

Insertar los datos de los alumnos en la tabla de alumnos utilizando Mysql desde Python.

Realiza una consulta para mostrar los datos de los alumnos que has insertado.

### Base de Datos 2:
Nombre de la Base de Datos: Sakila

Descripción: Se basa en un sistema de alquiler de películas, similar al sistema utilizado por Blockbuster y otras tiendas de alquiler de películas.

Estructura de la Base de Datos: La base de datos Sakila consta de varias tablas que representan diferentes aspectos del negocio de alquiler de películas. Sus tablas son:

actor: Información sobre los actores, incluyendo sus nombres.

address: Detalles de las direcciones, incluyendo nombres de calles y números de teléfono.

category: Categorías a las que pertenecen las películas.

city: Nombres de ciudades y su país asociado.

country: Nombres de países.

customer: Detalles de los clientes, como nombres, direcciones y correos electrónicos.

film: Datos sobre películas, como título, descripción, año de lanzamiento y más.

film_actor: Relaciones entre actores y películas.

film_category: Asociaciones entre películas y categorías.

inventory: Información sobre copias de películas disponibles en las tiendas.

language: Idiomas disponibles.

payment: Detalles de los pagos realizados por los clientes.

rental: Registros de alquileres de películas.

staff: Información sobre el personal de las tiendas.

store: Datos sobre las tiendas, incluyendo los gerentes y direcciones.

Ejericicios
Ejercicios Joins

Obtener los clientes y las películas que han alquilado.

Obtener los actores y las películas en las que han actuado.

Obtener todas las películas y, si están disponibles en inventario, mostrar la cantidad disponible.

Obtener todos los clientes y mostrar la cantidad de alquileres que han realizado, incluso si no han realizado ningún alquiler.

Obtener todas las películas y mostrar los actores que han actuado en ellas, incluso si algunas películas no tienen actores asociados.

Obtener todos los actores y mostrar las películas en las que han actuado, incluso si algunos actores no han actuado en ninguna película.

Ejercicios like, not like y regexp

Encuentra todas las películas que comienzan con la letra "A" en su título.

Encuentra todas las películas que tienen al menos una vocal en su título.

Encuentra todas las películas que tienen una longitud de título de al menos 10 caracteres.

Encuentra todas las películas cuyo título contiene la palabra "The."

Encuentra todas las películas cuyo título comienza con la letra "S."

Ejercicios union

Encuentra todos los actores cuyos nombres comienzan con la letra "A" en la tabla actor, y encuentra todos los clientes cuyos nombres comienzan con la letra "B" en la tabla customer. Combina ambos conjuntos de resultados en una sola tabla.

Encuentra todas las películas cuyos títulos contienen la palabra "Comedy" en la tabla film, y encuentra todas las películas cuyo título comienza con la letra "D" en la misma tabla. Combina ambos conjuntos de resultados en una sola lista de películas.

Ejercicios subqueries y queries complejas

Encuentra el nombre y apellido de los actores que han actuado en películas que se alquilaron después de que la película "ACADEMY DINOSAUR" se alquilara por primera vez. Ordena los resultados alfabéticamente por apellido.

Encuentra el título de las películas que han sido alquiladas por el cliente con el nombre "MARY SMITH" y que aún no se han devuelto. Ordena los resultados alfabéticamente por título de película.

Encuentra los nombres de los clientes que han alquilado al menos 5 películas distintas. Ordena los resultados alfabéticamente por apellido.

Encuentra los nombres de los actores que han actuado en al menos una película que pertenece a la categoría "Horror." Ordena los resultados alfabéticamente por apellido.

Encuentra los nombres de las películas que tienen la misma duración que la película con el título "GATTACA." Ordena los resultados alfabéticamente por título de película.

Ejercicios CTE's

Encuentra el nombre de los actores que han actuado en más películas y la cantidad de películas en las que han actuado.

Encuentra las categorías de películas con la mayor cantidad de películas y la cantidad de películas en cada categoría.

Encuentra los clientes que han alquilado más películas y la cantidad de películas alquiladas por cada cliente.

Encuentra los actores que han actuado en películas de todas las categorías y muestra la cantidad de categorías en las que han actuado.